
/* Slider styles */
.sl-intro, .sl-main {
    overflow: hidden;
    padding:0px;
    width:100%;
}
.sl-intro img {
    float: left;
    margin: 0 10px 10px 0;
}
.sl-intro p {
    font-size: 24px;
}
.sl-intro a {
    font-size: 20px;
}

/* Controls */
.sl-controls {
    margin: 5px;
    overflow: hidden;
}
.sl-controls .next {
    background:transparent url(sprite.png) no-repeat -100px 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    width:36px;
}
.sl-controls .next:hover {
    background-position:-100px -100px
}
.sl-controls .prev {
    background:transparent url(sprite.png) no-repeat -50px 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    margin:0 0 .5em .5em;
    width:36px;
}
.sl-controls .prev:hover {
    background-position:-50px -100px;
}
.sl-controls .back-home {
    background:transparent url(sprite.png) no-repeat 0 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    margin:0 0 .5em 1em;
    width:36px;
}
.sl-controls .back-home:hover {
    background-position:0 -100px;
}
.sl-controls #count {
    float: right;
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Slides */
.sl-slide {
    /*display: none;*/
    overflow: hidden;
    padding: 0 20px;
}
.sl-slide.visible {
    display: block;
}
.sl-slide img {
    cursor: pointer;
    float: right;
    /*margin:0 0 10px 10px;*/
}

/* jcarousel styles */
#sl-thumbs li {
    cursor:pointer;
    height:auto;
    width:auto;
	margin-right:10px;
}
#sl-thumbs li .jcar_IMG {
	padding:10px;
	background-color:#E7E7E7;
	display:block;
}
#sl-thumbs li.TSelected .jcar_IMG {
    background-color:#E14628;
    cursor:default;
}
#sl-thumbs li img {
    height:59px;
    padding:2px;
    width:99px;
}
.jcarousel-container {
    margin: 10px 0;
    padding: 0 35px;
}
.jcarousel-clip {
    overflow:hidden;
    padding:0px;
}
.jcarousel-prev-horizontal, .jcarousel-next-horizontal {
    border:1px solid rgb(231, 231, 231);
    cursor: pointer;
    height:111px;
    position: absolute;
    top:0px;
    width:25px;
    z-index: 1;

    /* CSS3 round border and shadow */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.jcarousel-prev-horizontal {
    left:0px;
	background:#E14627;
    /*background:url(sprite.png) no-repeat -165px 3px, -moz-linear-gradient(top,white 0,#EDEDED 100%);
    background:url(sprite.png) no-repeat -165px 3px, -webkit-linear-gradient(top,white 0,#EDEDED 100%);
    background:url(sprite.png) no-repeat -165px 3px #EDEDED;*/
}
.jcarousel-next-horizontal {
    right:0px;
	background:#E14627;
    /*background: url(sprite.png) no-repeat -215px 3px,-moz-linear-gradient(top,white 0,#EDEDED 100%);
    background: url(sprite.png) no-repeat -215px 3px,-webkit-linear-gradient(top,white 0,#EDEDED 100%);
    background: url(sprite.png) no-repeat -215px 3px #EDEDED;*/
}
.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {
	background:#000;
    /*background:url(sprite.png) no-repeat -165px -97px,-moz-linear-gradient(top,#EDEDED 0,white 100%);
    background:url(sprite.png) no-repeat -165px -97px,-webkit-linear-gradient(top,#EDEDED 0,white 100%);
    background:url(sprite.png) no-repeat -165px -97px #EDEDED;*/
}
.jcarousel-prev-horizontal:active {
	background:#000;
    /*background:url(sprite.png) no-repeat -165px 3px,-moz-linear-gradient(top,white 0,#EDEDED 100%);
    background:url(sprite.png) no-repeat -165px 3px,-webkit-linear-gradient(top,white 0,#EDEDED 100%);
    background:url(sprite.png) no-repeat -165px 3px #EDEDED;*/
}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background:#E14628;
	cursor:pointer;
    /*background:url(sprite.png) no-repeat -165px -197px,-moz-linear-gradient(top,rgba(255, 255, 255, 0.5) 0,rgba(237, 237, 237, 0.5) 100%);
    background:url(sprite.png) no-repeat -165px -197px,-webkit-linear-gradient(top,rgba(255, 255, 255, 0.5) 0,rgba(237, 237, 237, 0.5) 100%);
    background:url(sprite.png) no-repeat -165px -197px #EDEDED;*/
}
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
	background:#000;
    /*background:url(sprite.png) no-repeat -215px -97px,-moz-linear-gradient(top,#EDEDED 0,white 100%);
    background:url(sprite.png) no-repeat -215px -97px,-webkit-linear-gradient(top,#EDEDED 0,white 100%);
    background:url(sprite.png) no-repeat -215px -97px #EDEDED;*/
}
.jcarousel-next-horizontal:active {
	background:#000;
    /*background: url(sprite.png) no-repeat -215px 3px,-moz-linear-gradient(top,white 0,#EDEDED 100%);
    background: url(sprite.png) no-repeat -215px 3px,-webkit-linear-gradient(top,white 0,#EDEDED 100%);
    background: url(sprite.png) no-repeat -215px 3px #EDEDED;*/
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
	background:#E14628;
	cursor:pointer;
    /*background:url(sprite.png) no-repeat -215px -197px, -moz-linear-gradient(top,rgba(255, 255, 255, 0.5) 0,rgba(237, 237, 237, 0.5) 100%);
    background:url(sprite.png) no-repeat -215px -197px, -webkit-linear-gradient(top,rgba(255, 255, 255, 0.5) 0,rgba(237, 237, 237, 0.5) 100%);
    background:url(sprite.png) no-repeat -215px -197px #EDEDED;*/
}
