body{
margin:0px;
padding:0px;
background:#fff;
font-size:9pt;
font-family:Arial, Helvetica, sans-serif;
}
article, section, aside, hgroup, nav, header, footer, figure, figcaption{
display:block;
}
.main{
width:1130px;
height:auto;
margin: auto;
}
.clr{
clear:both;
}
.f_l{
float:left;
}
.f_r{
float:right;
}
.w214{
width:214px;
}
.w25{
width:25%;
}
.social-icon ul, 
.login ul{
margin:0px;
padding:0px;
list-style:none;
}
nav ul.nav{
padding:0px;
list-style:none;
}
.social-icon ul li{
padding:5px;
float:left;
}
.login ul li{
padding:0px;
margin:0px;
float:left;
}
.login ul li{
line-height:30px;
}
.login ul li a{
color:#000;
text-decoration:none;
font-weight:bold;
border-right:1px solid #000;
padding:0 5px;
}
.login ul li:nth-of-type(3) a{
border-right:none;
}
.login ul li:nth-of-type(4) a{
border-right:1px solid #E5B50F;
}
.btn-special {
background-color: #FCE359;
text-decoration: none;
background-image: linear-gradient(#FCE359, #FED231);
border: 1px solid #E5B50F;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 1px 1px rgba(255, 255, 255, 0.12) inset;
color: #393C3D;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
display: inline-block;
line-height: 22px;
border-radius: 2px;
padding: 0 5px;
}
a.logo{
display:inline-block;
margin-top:10px;
}
nav{
background:#000;
margin-top:5px;
line-height:36px;
}
nav ul.nav li{
border-left:1px solid #FFFFFF;
display:inline-block;
margin-top:1px;
margin-bottom:1px;
font-size:11pt;
}
nav ul.nav li a{
line-height:36px;
display:inline-block;
padding:0 26px;
text-decoration:none;
color:#fff;
}
nav ul.nav li a:hover, 
nav ul.nav li.currentTab a{
background:#fff;
color:#000;
}
.center{
    width:1120px;
    margin: 0 auto;
}
.sliderMain{
padding:1%;
border:1px solid #efefef;
display:inline-block;
/*width:970px;*/
margin:30px 0px;
box-shadow:0px 0px 30px #888888;
-moz-box-shadow:0px 0px 30px #888888;
-webkit-box-shadow:0px 0px 30px #888888;
}
.sliderMain #camera_wrap_1{
margin-bottom:10px !important;
}
.sliderMain img{
width:100% !important;
margin-left:0px !important;
margin-right:0px !important;
}
ul.tabs{
margin:0;
padding:0px;
list-style:none;
width:100%;
display:inline-block;
}
.tabs li {
list-style:none;
display:inline;
line-height:43px;
}
.tabs a {
display:inline-block;
background:#e7e7e7;
color:#282828;
width:33%;
font-size:12pt;
font-weight:bold;
text-align:center;
text-transform:uppercase;
text-decoration:none;
}
.tabs a.active {
background:#282828;
border-bottom:4px solid #e04627;
color:#fff;
}
#tab1, 
#tab2, 
#tab3, 
#tab4{
margin-top:20px;
/*background:#e7e7e7;*/
width:100%;
font-size:13pt;
}
.tab1_bg{
background:#e7e7e7 url("../images/car_bg_design.jpg") no-repeat left bottom;
min-height:224px;
}
.tab2_bg{
background:#e7e7e7;
}
.car_bg_design{
position:relative;
bottom:0px;
left:0px;
width:auto;
height:auto;
}
.relative{
position:relative;
}
.w40{
width:40%;
}
.w60{
width:55%;
}
.greyTxt{
    color:#282828;
}
.pr3{
padding-right:3%;
}
.img_place{
display:inline-block;
margin:20px 20px 20px 0;
}
.img_design{
display:inline-block;
margin:15px 0 0 0px;
}
/*.img_design img{
width:293px;
height:175px;
}*/
.w15{
width:15%;
}
.pt40{
padding-top:40px;
}
.hidden{
visibility:hidden;
}
.capture{
color:#df4627;
padding-top:5px;
}
input.gray{
width:168px;
height:24px;
background:#d8d7d7;
border:1px solid #C9C9C9;
}
.pr2{
padding-right:2%;
}
.xuv{
font-size:15px;
font-weight:bold;
}
.fareD{
font-size:10pt;
padding:0 13px;
line-height:30px;
margin:10px 0;
font-weight:bold;
text-decoration: none;
}
.fareD:hover, 
.select:hover{
background:#535353;
}
.select{
font-size:13pt;
padding:0 25px;
line-height:31px;
font-weight:bold;
margin:10px 0 0 0;
}
button.button.selectN{
display:inline-block;
}
.button{
background:#282828;
cursor:pointer;
border:none;
outline:none;
color:#fff;
border-bottom:4px solid #d2492f;
display:block;
}
.w48{
width:48%;
}
.w50{
width:50%;
}
footer{
background:#282828;
padding:2% 0;
color:#fff;
}
footer .f_l ul, 
footer .f_r ul{
margin:0px;
padding:0px;
list-style:none;
}
footer .f_r ul{
margin:5px 0;
}
footer .f_l ul li, 
footer .f_r ul li{
margin:0px;
padding:0px;
}
footer .f_l ul li a, 
footer .f_r ul li a{
color:#fff;
text-decoration:none;
font-size:15px;
line-height:20px;
}
.mr2{
margin-right:2%;
}
.t_a_r{
text-align:right;
}
.copyright{
font-size:12px;
}
.h20{
height:20px;
}
input[type=text], 
input[type=password], 
textarea, 
select {
width:100%;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
input[type=text]:focus, 
input[type=password]:focus, 
textarea:focus, 
select:focus {
outline: 0;
outline: thin dotted \9;
border-color: #129FEA;
}
.w57{
width:57%;
}
.picktime {
border: none;
background-image: url("../images/datepick.png");
background-repeat: no-repeat;
background-position: left 4px;
padding: 12px 0px 10px 30px;
color: #333;
height: 38px !important;
line-height: 36px;
min-width: 165px !important;
}
input.picktime:hover{
background-position:0px -26px;
}
ul li .price{
display:block;
text-align:center;
line-height:32px;
font-size:15px;
font-weight:bold;
}
#sl-thumbs li span img.rs{
width:9px;
height:12px;
position:relative;
top:3px;
}
.xuv .rs1{
width:11px;
height:17px;
position:relative;
top:0px;
left:0px;
float:left;
}
.cor-logo{
    padding: 15px 0;
}
#mycarousel-1
{
	overflow:hidden !important;
}
#mycarousel-1 li{
	list-style: none outside none;
	width:89px;
}
#mycarousel-2
{
	overflow:hidden !important;
}
#mycarousel-2 li{
	list-style: none outside none;
	width:89px;
}
#mycarousel-3
{
	overflow:hidden !important;
}
#mycarousel-3 li{
	list-style: none outside none;
	width:89px;
}
.jcarousel-skin-tango .jcarousel-container {
	float:left;
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:  650px;
    padding: 0px 20px;
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  1040px;
	margin-left:17px;	
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 105px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    /*margin-right: 10px;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 13px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
#tab2 .jcarousel-skin-tango .jcarousel-next-horizontal, 
#tab3 .jcarousel-skin-tango .jcarousel-next-horizontal{
	right:267px;
 }
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -17px;
    right: 5px;
    width: 20px;
    height: 79px;
    cursor: pointer;
    background: transparent url(http://www.carzonrent.com/images/Non-3D-Arrow-buttons-right.png) no-repeat;
	background-position:-20px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 8px;
    right: auto;
    background-image: url(http://www.carzonrent.com/images/Non-3D-Arrow-buttons-right.png);
	background-position:-20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    /*background-position: -40px 8px;*/
    background-position: -40px -42px;
	background-color:#D2D3D5;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -17px;
    left: 5px;
    width: 20px;
    height: 79px;
    cursor: pointer;
    background: transparent url(http://www.carzonrent.com/images/Non-3D-Arrow-buttons-left.png) no-repeat -40px 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 15px;
    background-image: url(http://www.carzonrent.com/images/Non-3D-Arrow-buttons-right.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -0px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px -36px;
	width:20px;
	background-color:#D2D3D5;
}
.details_wrapper{
    left:258px;
    top:318px;
    font-size:12px;
}
/* feed back only ******/
.top-mid.widthA, 
.top.widthA, 
.main.widthA, 
footer .main{
width:1130px;
}
.main a:hover{
text-decoration:none;
}
.main.widthA #tab1 .picktime{
background-position:left 4px;
min-width: 200px !important;
}
/* feed back only ******/

.widthA .social-icon ul {
width: 253px;
}
.w49{
width:49%;
}
.w48{
width:48%;
}
.pt17{
padding-top:17px;
}
.scrolling_thumb{
margin-top:20px;
margin-bottom:20px;
display:inline-block;
}
.fDetail{
margin-right:21px;
}
.w61{
width:61%;
}
.w38{
width:38%;
}
.watch_video{
background: #e7e7e7;
color: #282828;
font-size: 12pt;
font-weight: bold;
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;
line-height: 43px;
width:93%;
margin-left:auto;
margin-right:auto;
}
.tac{
text-align:center;
}
.pt26 {
  padding-top:26px;
}
.pt19 {
  padding-top: 19px;
}
.h10{
height:10px;
}
#pldesc, 
#eatdesc{
font-size:12px;
}