
a { 
	text-decoration:none; 
	color:#00c6ff;
}

.container {width: 960px; margin: 0 auto; overflow: hidden;}

#content {	float: left; width: 100%;}

.post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }

.btn-sign {
	width:100px;
	margin-bottom:5px;
	margin:0 auto;
	padding:5px;
	background-color:#ffd227;
	text-align:center;
	font-size:11px;
	color:#000;
	text-transform:capitalize;
}
.cancel_booking .btn-sign{padding:0px;}
.cancel_booking .btn-sign a{text-shadow:none;}
.btn-sign a { color:#000; text-shadow:0 1px 2px #161616; }

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 2;
}

.login-popup{
	display:none;
	background: #fff;
	padding: 10px; 	
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 3;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.signin label { 
	display:block; 
	float:left;
	padding-bottom:2px; 
}

form.signin span { 
	display:block;
}

form.signin div{
float:left;
}

form.signin p, form.signin span { 
	color:#999; 
	font-weight:bold;
	font-size:14px; 
	line-height:12px;
} 


form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}

.button:hover { background:#ddd; }
.container.cancel_booking, 
.container.cancel_booking .post{
width:auto;
}
.container.cancel_booking .post{
padding-bottom:0px;
}
table.booking_summary_data.booking_new tr:nth-child(even){
background-color:#fff;
}
table.booking_summary_data.booking_new tr td{
color:#000;
}
table.booking_summary_data.booking_new tr:nth-child(odd){
background-color:#e5e5e5;
}
table.booking_summary_data.booking_new{border:1px solid #DDB51B;}
table.booking_summary_data.booking_new tr td span {
  color: #000;
  font-weight: bold;
}

table.booking_summary_data.booking_new tr td h1 {
  color: #000;
  font-size: 20px;
  padding-bottom: 10px;
}
table.booking_summary_data.booking_new {
    border-collapse: collapse;
}
table.booking_summary_data.booking_new, table.booking_summary_data.booking_new tr td{
    border:1px solid rgb(203, 203, 203);
}
.container.cancel_booking .login-popup{
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -o-border-radius:10px;
  padding:30px;
}
.container.cancel_booking .login-popup form.signin label{
color:#000;
}
.container.cancel_booking table tr:nth-child(even){
background-color:#ffffff;
}
.container.cancel_booking table tr:nth-child(odd){
background-color:#e5e5e5;
}
.container.cancel_booking table{
border-spacing:0px;
border-color:#fff;
}
.container.cancel_booking table tr td {
  border: 1px solid rgb(98, 98, 98);
}
.container.cancel_booking  input[type="button"]{
  background: #ffd227;
  border: none;
  outline: none;
  line-height: 24px;
  padding: 0 15px;
  border-radius: 5px;
  cursor:pointer;
  color:#000;
}
.container.cancel_booking  input[type="button"]:hover{
	background:#000;
}
.container.cancel_booking .login-popup .close{
  position: absolute;
  top: -4px;
  right: -16px;
  color: white;
    z-index: 99999999999999999999999999999999;
  display: inline-block;
}
table.booking_summary_data.booking_new tr td .license{
  color:#000;
  text-transform: none;
}
.upload {
  margin:10px 0;
  padding:0 15px;
  line-height:20px;
  background:#000;
  text-align: center;
  font-size: 11px;
  color: #fff;
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor:pointer;
  font-weight:bold;
}
.booking_summary_data tr th {
  padding: 8px 10px;
  font-weight: bold;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  background-color:#ffd227;
}
table.booking_summary_data {
    border-collapse: collapse;
}

table.booking_summary_data, table.booking_summary_data td, table.booking_summary_data th {
    border:1px solid rgb(250, 200, 190);
}
.change_password{
text-decoration:none;
line-height:20px;
padding:0 10px;
background:#DB4425;
color:#fff;
display:inline-block;
font-size:10px;
}
.status_can{color:#6B570E;font-weight:bold;font-size:13px;}
table.booking_summary_data tr td strong, 
table.booking_summary_data tr td {
  font-weight:normal;
}
.f_l{
float:left;
}
.tab-content #content h1{
text-transform:none;
}