body{margin:0px; padding:0px; font-family: 'AvenirNextLTPro-Regular';}
@font-face {
  font-family:'AvenirNextLTPro-Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'AvenirNextLTPro-Regular';
  src:  url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url(../fonts/data:application/x-font-woff;charset=utf-8;base64,) format('woff'), 
	     url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), 
	     url('../fonts/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'AvenirNextLTPro-Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'AvenirNextLTPro-Bold';
  src:  url('../fonts/AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url(../fonts/data:application/x-font-woff;charset=utf-8;base64,) format('woff'), 
	     url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'), 
	     url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

select, input { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none ;
  outline: none;
  font-size: 14px;
  font-weight: 600; 
}
select focus, input focus { 
	outline: none; 
}
.cor-1, 
.cor-2, 
.cor-3, 
.cor-4, 
.cor-5, 
.cor-6,
.cor-7, 
.cor-8, 
.cor-9, 
.cor-10, 
.cor-11, 
.cor-12 { 
	position:relative;   
	min-height: 1px;   
	float: left; 
 } 
.cor-1 {     
	float: left;
	width: 8.333333%;   
 }   
.cor-2 {     
	float: left;     
	width: 16.666667%;   
 }
.cor-3 {     
	float: left;     
	width: 25%;   
 }   
.cor-4 {     
	float: left;
	width: 33.333333%;   
 }   
.cor-5 {    
    float: left;     
	width: 41.666667%;
 }   
.cor-6 {     
	float: left;     
	width: 50%;   
 }   
.cor-7 {     
	float:left;     
	width: 58.333333%;   
 }   
.cor-8 {     
	float: left;    
	width:66.666667%;  
 }   
 .cor-9 {     
	float: left;     
	width: 75%;   
 }   
 .cor-10{    
	float: left;    
	width: 83.333333%;  
 }   
 .cor-11 {     
	float: left;
	width: 91.666667%;  
 }   
 .cor-12 {     
	float: left;    
	width: 100%;   
 }

.cor_wrapper {
 	display: block;
 }
 .container {
 	display: block;
 	width: 970px;
 	margin: 0 auto;
 }

 .clr {
 	clear: both;
 	height: 0px;
 	line-height: 0px;
 }

/*-------start here--------*/

.cor_header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 999;
	padding: 20px 0px;
	transition: all 0.9s;
}

.on {
	background-color: #222222 !important;
	padding:4px 0;
}

.on .cor_menu { 
	padding: 8px 0px;
}
.cor_header .cor_menu {
	display: block;
	list-style: none;
	text-align: right;
	margin: 0px;
}
.cor_header .cor_menu li {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	padding-left: 40px;
}
.cor_header .cor_menu li a {
	font-size: 13px;
	color: #b1b1b1;
	text-decoration: none;
	
}
.cor_header .cor_menu li a:hover, .cor_header .cor_menu li.active a {
	color: #fff;
}
.cor_header .cor_menu li .mobiicon { 
	position: relative;
	top: 4px;
    right: 5px;
 }
.cor_header .cor_menu li a.btnn {
 	text-align: center;
 	border-radius: 30px;
 	-moz-border-radius: 30px;
 	-webkit-border-radius: 30px;
 	-o-border-radius: 30px;
 	border:2px solid #b1b1b1;
 	padding: 8px 15px;
}
 .cor_header .cor_menu li a.btnn:hover {
 	border:2px solid #fff;
  }

 /*-----------Banner css-----------*/

.cor_banner {
	display: block;
	min-height: 550px;
	max-height: 550px;
	background: url(../img/cor_banner.png) no-repeat center top;
	background-size: cover;
	padding: 150px 0 0 0;
}
.cor_banner .banner_content {
	display: block;
	padding-top: 45px;
}
h1 {
	font-size: 36px;
	color: #fff;
	line-height: 46px;
	padding: 0px;
	margin: 0px;
	letter-spacing: 0.9px;
 }
 .cor_banner .banner_content .presents {
	font-size: 16px;
	color: #fff;
	line-height: 26px;
	font-style: italic;
 }

  .cor_banner .banner_content p.smallText {
 	font-size: 16px;
 	color: #b6b6b6;
 	line-height: 26px;
 }
  .cor_banner .banner_content a.knowmorebtn {
  	display: inline-block;
 	font-size: 11px;
 	color: #fff;
 	text-align: center;
 	border-radius: 30px;
 	-moz-border-radius: 30px;
 	-webkit-border-radius: 30px;
 	-o-border-radius: 30px;
 	border:2px solid #fff;
 	padding: 10px 25px;
 	text-decoration: none;
 }
 .cor_banner .banner_content a.knowmorebtn:hover {
 	color: #f1c520;
 	border:2px solid #f1c520;
 }

 /*-----------form css-----------*/

 .cor_form {
 	display: block;
 	background: #fff;
 	min-height: 300px;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-o-border-radius: 5px;
 	padding: 20px;
 }
 .formHdn {
 	font-size: 18px;
 	color: #1c1c1c;
 	text-align: center;
 	display: block;
 	padding-bottom: 20px;
 }

 label {
 	font-size: 13px;
 	color: #7f7f7f;
 	display: inline-block;
 	padding-bottom: 10px;
 }
 .form-control {
 	display: block;
    padding: 4px 10px;
    height: 30px;
    width: 92%;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}
 
 .form-group {
    margin-bottom: 10px;
}
.corBtn {
    background-color: #ffd229;
    border:1px solid #ebc121;
    height: 42px;
    width: 100%;
}
.corBtn:hover {
	background: #ebc121;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 3px;
    text-transform: uppercase;
    outline: 0;

}
.corBtn2 {
    background-color: #ffd229;
    border:1px solid #ebc121;
    padding: 10px 20px;
    border-radius: 30px;
    color: #252525;
    text-decoration: none;
    font-family:'AvenirNextLTPro-Bold';
}
.corBtn2:hover {
	background: #ebc121;
}

.btnBox {
	margin-top: 20px;
}

.cor_box {
	display: block;
	padding: 80px 0px;
	text-align: center;
}
.cor_box.introducingCor {
	background: #f7f7f7;
}
.cor_box.features {
	background: #fff;
}
.more_details {
	background: #f7f7f7;
}
.cor_box .iconbox {
	display: block;
	padding-bottom: 25px;
	text-align: center;
}
h2 {
	display: block;
	padding-bottom: 25px;
	color: #1c1c1c;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 0.5px;
}
h2 span.corb {
	font-weight: 600;
	font-family:'AvenirNextLTPro-Bold';
}
h2 span.corbb {
	font-weight: 600;
	text-transform: lowercase;
	font-family:'AvenirNextLTPro-Bold';
}
.cor_box.introducingCor p {
	color: #737373;
	font-size: 14px;
	line-height: 22px;
	padding: 0 280px;
	margin: 0px;
}
.cor_box.features .featuresIn {
	display: block;
	text-align: left;
	margin: 20px -30px 0 -30px;
}
.cor_box.features .featuresIn .iconbox {
	display: block;
	padding-bottom: 15px;
	text-align: left;
}
.cor_box.features .featuresIn .textBold {
	font-size: 17px;
	font-family:'AvenirNextLTPro-Bold';
	color: #1c1c1c;
	line-height: 22px;
	padding-bottom: 5px;
	display: block;
}
.cor_box.features .featuresIn ul {
	margin: 0px;
	padding: 0px 0 0 15px;
}
.cor_box.features .featuresIn ul li {
	color: #737373;
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
	padding-bottom: 8px;
}
.cor_box.features .featuresIn .box {
	margin: 0 30px;
}

.more_details .for_more {
	font-size: 26px;
	color: #1c1c1c;
	display: block;
	padding-bottom: 20px;
}
.cor_footer {
	display: block;
	background: #090a0a;
	padding: 70px 0;
	text-align: center;
}
.cor_footer ul.sociallist { 
	display: block; 
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.cor_footer ul.sociallist li { 
	display: inline-block; 
	width: 37px;
	height: 37px;
	cursor: pointer;
	padding: 0 5px;
}
.cor_footer ul.sociallist li span {
	visibility: hidden;
}
.cor_footer ul.sociallist li.gmail {
	background: url(../img/gmail.png) no-repeat;
}
.cor_footer ul.sociallist li.gmail:hover {
	background: url(../img/gmailhover.png) no-repeat;
}
.cor_footer ul.sociallist li.facebook {
	background: url(../img/face.png) no-repeat;
}
.cor_footer ul.sociallist li.facebook:hover {
	background: url(../img/facehover.png) no-repeat;
}
.cor_footer ul.sociallist li.linkedin {
	background: url(../img/in.png) no-repeat;
}
.cor_footer ul.sociallist li.linkedin:hover {
	background: url(../img/inhover.png) no-repeat;
}

.copyright {
	color: #7c848a;
	font-size: 13px;
	padding: 40px 0 0 0;
	display: block;
}

.cor_box.features .featuresIn .textBold .br {
	display: block;
}
.mobile_click {
	display: none;
}
.error
{
	font-size: 13px;
	color: red;
}
.success
{
	font-size: 13px;
	color: green;
}

@media screen and (max-width: 767px){
.container {
 	width: 100%;
 }
.cor_header .cor_menu {
	display: none;
}
.cor_header .cor_menu li {
	display: block;
}
.cor_header .cor_menu li a {
	line-height: 40px;
}
.mobile_click {
	display: block;
	width: 25px;
	position: absolute;
	right: 0px;
    top: -32px;
}
.mobile_click span {
	height: 2px;
	background: #fff;	
	display: block;
	margin-bottom: 5px;
}
.cor_banner .banner_content a.knowmorebtn {
	display: none;
}
h1 {
    font-size: 25px;
    line-height: 35px;
}
.cor_header .cor_menu li a.btnn { 
	border: 0;
    padding: 8px 0px;
 }

.cor_header {
	padding:10px 20px;
	background: #222222 ;
}
.cor_banner .banner_content {
	padding: 0 20px;
}
.cor_form {
 margin: 50px 20px;
}
.cor_banner {
	min-height: auto;
	max-height: inherit;
	padding-bottom: 10px;
	padding-top: 110px;
}
.cor_box.introducingCor p {
	padding: 0 0px;
}
.cor_box .iconbox {
	text-align: center;
}
.cor_box {
	text-align: center;
}
.cor_box.introducingCor {
	padding-left: 20px;
	padding-right: 20px;
}
.cor_box.features{
	padding-left: 20px;
	padding-right: 20px;
}
.copyright {
   padding: 30px 50px;
   line-height: 24px;
}
.cor_box.features .featuresIn .box {
	margin-bottom: 40px;
}

.cor_box.features .featuresIn .textBold {
	padding-bottom: 10px;
}
.cor_box.features .featuresIn .textBold .br {
	display: inline-block;
} 




  .cor-1 {
    float: none;
    width: 100%;
  }
  .cor-2 {
    float: none;
    width: 100%;
  }
  .cor-3 {
    float: none;
    width: 100%;
  }
  .cor-4 {
    float: none;
    width: 100% !important;
  }
  .cor-5 {
    float: none;
    width: 100%;
  }
  .cor-6 {
    float: none;
    width: 100%;
  }
  .cor-7 {
    float: none;
    width: 100%;
  }
  .cor-8 {
    float: none;
    width: 100%;
  }
  .cor-9 {
    float: none;
    width: 100%;
  }
  .cor-10 {
    float: none;
    width: 100%;
  }
  .cor-11 {
    float: none;
    width: 100%;
  }
  .cor-12 {
    float: none;
    width: 100%;
  }
}