/*.divtabtxt img{
display:none !important;
}*/
.mainW960, 
#footer .main, 
.magindiv, 
.yellodivtxt, 
#middle .magindiv{
width:1130px;
margin:0 auto !important;
}
.mainW960 .divtabtxt{
width:855px;
}
.divcenter .tabbbox{
margin-left:0px;
}
.imghand{
margin-top:34px;
}
.selfdivp{
background-color: #F7F7F7;
border: solid 1px #E6E6E6;
box-shadow: 0px 1px 2px #E7E7E7;
-moz-box-shadow: 0px 1px 2px #E7E7E7;
-webkit-box-shadow: 0px 1px 2px #E7E7E7;
-o-box-shadow: 0px 1px 2px #E7E7E7;
}
.fbtm {
width:100%;
}
.fbtm .cm {
width:122px;
}
.fbtm .qu {
width:173px;
}
.produS .yellodivtxt img{
margin-left:80px;
}
.produS .yellodivtxt img.arrowmomentservi{
margin-left:264px;
}
.service .yellodivtxt img{
margin-left:40px;
}
.service .yellodivtxt img{
margin-left:40px;
}
.service .yellodivtxt img.arrowmomentchau{
margin-left:170px;
}
.service .yellodivtxt img.arrowmomentself{
margin-left:277px;
}
.service .yellodivtxt img.arrowmomentlimo{
margin-left:363px;
}
.service .yellodivtxt img.arrowmomentoper{
margin-left:478px;
}
.service .yellodivtxt img.arrowmomentdriv{
margin-left:471px;
}
.service .yellodivtxt img.arrowmomentcorp{
margin-left:607px;
}
.about img#arrowmoment{
margin-left:25px;
}
.about img#arrowmoment.arrowmomentprint{
margin-left:103px;
}
.about img#arrowmoment.arrowmomentprint{
margin-left:103px;
}
.about img#arrowmoment.arrowmomentvideo{
margin-left:205px;
}
.aboutusdv .tbul {
width:30%;
padding-top:0px;
float:left;
}
.aboutusdv .lfcnt {
width:70%;
float:left;
}
.mainW960 .tabbbox{
margin-left:0px;
}
.clr{
clear:both;
}
/*--- mathura --*/
.mathura .top, 
.mathuraTop .top-mid, 
.mathuraTop #footer .main{
width:1130px;
}
.mathuraTop .banner{
border-bottom:none;
}
.mathuraTop .citilist{
width:100%;
}

