.flexselect_dropdown {
  display: none;
  position: absolute;
  z-index: 999999;
  margin: 0;
	padding: 0;
	border: 1px solid WindowFrame;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
	background-color: Window;
  color: WindowText;
  text-align: left;
  box-shadow: 0 6px 12px #ccc;
  -webkit-box-shadow: 0 6px 12px #ccc;
}

.flexselect_dropdown ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.flexselect_dropdown li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: Menu;
	overflow: hidden;
}

.flexselect_dropdown li.disabled {
  cursor: not-allowed;
  color: GrayText;
}

.flexselect_selected {
	background-color: Highlight;
	color: HighlightText;
}
.example{
  width: 311px;
  float:left;
}
.example input{
  width: 100%;
  line-height: 32px;
  border: 1px solid #a2a2a2;
}
/**** suggestion box.css added ***/
.help { font-size: 14px; color: #888; }
.example div.dull, .example div.flexselect { width: 350px; }
.example div.dull { float: left; }
.example div.flexselect { float: right; }
#president_dull{
display:none;
}

