/*---------- Style ----------*/
@font-face {
    font-family: 'HelveticaLTStd';
	src: url('../myles-campaign/fonts/HelveticaLTStd-Bold.eot');
    src: url('../myles-campaign/fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../myles-campaign/fonts/HelveticaLTStd-Bold.woff') format('woff'),
         url('../myles-campaign/fonts/HelveticaLTStd-Bold.ttf') format('truetype'),
         url('../myles-campaign/fonts/HelveticaLTStd-Bold.svg#rock') format('svg');
    font-weight: normal;
}
@font-face {
	font-family: 'rupee_foradianregular';
	src: url(font_rupees/rupee_foradian.eot);
	src: url(font_rupees/rupee_foradian.eot?#iefix) format("embedded-opentype"), url(font_rupees/rupee_foradian.woff2) format("woff2"), url(font_rupees/rupee_foradian.woff) format("woff"), url(font_rupees/rupee_foradian.ttf) format("truetype"), url(font_rupees/rupee_foradian.svg#rupee_foradianregular) format("svg");
	font-weight: 400;
	font-style: normal
}
.fa.fa-inr{
font-family:'rupee_foradianregular';
font-size:18px;
font-style:normal;
}
.carrate .fa.fa-inr{
font-size:14px;
}
.pophold ul li .fa.fa-inr{
font-size:12px;
}
.fa.fa-inr:before{
content:"`";
}
body{ margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif;background-color:#f1f1f2}
.clearfix { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#main-container { width:960px; margin:auto; padding:0; background-color:#f1f1f2;}
#main-container .inner-container { width:960px; background-color:#FFF; margin:auto; padding:0; margin-bottom:-7px;}
.myles-logo { padding:21px 0 15px 30px;z-index:100;float:left;}
#main-container .banner 
{ width:988px; height:459px; margin:auto; padding:0; background-image:url(../images/Banner-Background.png);
	min-height:459px;
	padding:0px;float:left;border:none;left:15px;background-repeat:no-repeat;z-index:19;}

.car-container { width:960px; float:left;background-color:#FFF; padding:0;margin:0px 0px 0px 0px}
.car-heading { background-image:url(../myles-campaign/images/heading-header-2.gif); height:66px; width:904px; margin:0 28px 0px;float:left;cursor: pointer;}
.car-heading .text { font-size:20px; color:#FFF; padding:20px 0px 0px 19px; width:400px; float:left;}
.car-heading span { font-size:12px;}
.car-heading .know-more{float:right; font-size:20px; color:#FFF; margin:20px 0px 0 0;padding-right:30px;text-decoration:none;}
.show-car {width:904px; padding:0;float:left;margin:0px 0px 20px 28px; background-color:#e7e7e8}
.show-car .car-img { padding:70px 0 0 21px; width:238px; height:131px;float:left;}
.avin
{
	font-weight:bold; font-size:14px; color:#414042; width:100%; float:left;margin:10px 0 4px 0;
}
.linkbar
{
	font-size:10px; color:#db4626; float:left; margin:0px; padding:0px;
	width:255px;
}
.linkbar a{
	text-decoration:none;
	color:#222;
	margin:4px 4px 2px 4px;
	padding-bottom:1px;
	display:block;
	float:left;
}
.linkbar a.first{
    margin:4px 4px 0px 0;
}
.linkbar a.selected{
    font-weight: bold;
    color:#db4626 !important;
}
.spanner
{
	float:left;
	display:block;margin-top:3px;color:#414042 !important;
}
#carbrandname
{
	color:#df4627; font-size:25px; font-weight:normal; float: left;min-width: 100px;
}
#carbrandline
{
	font-size:10px; color:#414042;float:left;
}
#carbrandcost
{
	color: #414042;
    float: left;
    font-size: 21px;
    margin-left: 5px;
    margin-top: 4px;
    width: 200px;
}
.holdall
{
	float:left; margin:25px 0 0 10px;
	width:350px;
}
.holdallbottom
{
	float:left; width:350px; margin: 5px 0 0 10px;
}
.holdallbottom ul{margin: 5px 0px 10px 0px;padding: 0;border-radius: 2px;display: block;float: left;}
.holdallbottom ul li{list-style-type: none; display: block; float: left;}
.holdallbottom ul a{border: solid 1px #dc4526; color: #c6c6c6; text-decoration: none;padding: 3px 10px;background-color: #fff;font-size: 11px;font-weight:bold;}
.holdallbottom ul a.selected{background-color: #dc4526;color: #000 !important;}
.holdallform
{
	float:left; width:230px; margin: 15px 0 0 15px;border:solid 1px #b5b5b6;background-color: #fff;padding: 10px;
}
.holddata{
    float:left; width:350px;
}
.smdetails
{
	font-size: 10px; font-weight: bold; margin: 5px 0 0 0;width:60px;float: left;clear: both;cursor: pointer;
}

.bkn
{
	float:left;margin:10px 0 5px;
}


#detailsFormMyles
{
	float: left;
	position: absolute;
	z-index: 1000 !important;
	display: none;
	background-color: #fff;
	padding: 15px;
	color:#a09f8e;
	width:400px;
	border:solid 10px #000;
}
.pp1 {
    color: #DF4627;
    float: left;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.pp2
{
	float:left;width:100%;font-size:13px;font-weight:normal;line-height:25px;margin-top:0px !important;color:#231f20;
}
.prow
{
	float:left;width:100%;font-size:14px;font-weight:normal;margin:5px 0px 0px 0px;
}
.prow .txtbox
{
	width:215px;border:solid 2px #d1d1d0;padding:5px;color:#acacac;border-radius:3px;height: 20px;
}
.btnsumyles
{
	display:block;
	float:right;
	border:none;
}
.prow .tarea
{
	width:215px;border:solid 2px #d1d1d0;padding:5px;color:#acacac;border-radius:3px;height:70px;font-family:Arial;font-size:12px;
}
.callnow
{
	color: #E04727;
    display: inline;
    font-family: Arial;
    font-size: 22px;
    padding: 0 4px;
	float:left;
}
.headliners
{	color: #000;
    font-size: 18px;
    font-weight: bold;
}
.carrate
{
	color: #000;
    font-size: 22px;
    font-weight: bold;
}
.pophold
{
	float:left;
}
.pophold ul
{
	list-style-type:disc;
	float:left;
	margin-left:10px;
	padding:0px;
	width:260px;
}
.pophold ul li
{
	list-style-type:disc;
	float:left;
	margin-left:10px;
	width:250px;
}
.abs{
    position: absolute;
    top: -10px;
    left: -10px;
}
/*------------- SlideJS -------------*/
#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:3px;
}
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#slides .slidesjs-previous {
  background:url(../slider/arrow_left.png) no-repeat 0px 0px;
  position:relative;
  left:3px;
  top:-60%;
  z-index:11;
  width:30px;
  height:30px;
}
#slides .slidesjs-next {
  margin-right: 5px;
  float: right;
}

#slides .slidesjs-next {
  background:url(../slider/arrow_right.png) no-repeat 0px 0px;
  position:relative;
  right:-15px;
  top:-60%;
  z-index:9999999999999999999;
  width:45px;
  height:30px;
}
#slides .slidesjs-next[title="Next"], 
#slides .slidesjs-previous[title="Previous"]{
display:none;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
  position: relative;
  z-index: 999999999999999;
  top:-49px;
  right:172px;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../slider/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}
.banner_animation #slides{
width:97%;
padding:1.5%;
padding-top:2px;
}
.banner_animation, 
.banner_animation #slides, 
.banner_animation #slides .slidesjs-container, 
.banner_animation #slides .slidesjs-control{
height:309px !important;
}
#slides a:link,
#slides a:visited {
  color:#333;
  text-indent:-999px;
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

#slides .slidesjs-control a img{
width:100% !important;
}
/*---------- En feedback -----------*/
#songlist{font-family:arial}.enqButton{background:#db4425;cursor:pointer;padding:6.5px 0;width:100px;text-align:center;position:fixed;right:-34px;top:40%;color:#fff;text-decoration:none;font-size:11.2pt;transform:rotate(-90deg);-ms-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg)}img.enq{position:fixed;right:2px;top:30%;cursor:pointer;z-index:1}.enqButton.feedB{top:60%}a#feedbackpopup{text-decoration:none}#lyrics{width:250px;background:#fff;border:5px solid #db4626;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;padding:10px;position:fixed;right:31px;top:25%;z-index:999999999;color:#000}.mr2{margin-right:2%}#lyrics form label,#lyrics form input,#lyrics form textarea{display:inline-block;margin-bottom:10px}#lyrics form label{width:25%;font-size:8.5pt}#lyrics form input,#lyrics form textarea,#lyrics form select{width:65%;border:1px solid #CCC;height:20px;padding:0}#songlist.mylesEnq #lyrics form input,#songlist.mylesEnq #lyrics form textarea,#songlist.mylesEnq #lyrics form select{padding:2px 5px}#lyrics form select{margin-bottom:10px}#lyrics form select.servicequery{height:28px;margin-bottom:10px;width:70%}#lyrics form textarea{resize:none;height:50px;margin-bottom:5px}#lyrics form .query{vertical-align:top}.hidden{visibility:hidden}#lyrics img{cursor:pointer}.close{position:fixed;top:26%;right:38px;color:red;font-weight:700;cursor:pointer;display:none;z-index:2147483647}#radiusBox{background-color:#fff;border:5px solid #db4425;width:169px;height:196px;border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;box-shadow:0 2px 15px #BBB7B7;-webkit-box-shadow:0 2px 15px #BBB7B7;-moz-box-shadow:0 2px 15px #BBB7B7;-o-box-shadow:0 2px 15px #BBB7B7;position:fixed;font-family:arial;z-index:999999999;bottom:0;left:0}h1.helpAnimation{border-top-left-radius:20px;-moz-border-top-left-radius:20px;-webkit-border-top-left-radius:20px;-o-border-top-left-radius:20px;border-top-right-radius:20px;-moz-border-top-right-radius:20px;-webkit-border-top-right-radius:20px;-o-border-top-right-radius:20px;line-height:33px;background:#db4425;color:#fff;width:100%;display:inline-block;vertical-align:middle;text-align:center;margin:0;padding:0;font-size:14px}h1.bgh1{line-height:15px;background:#db4425;color:#fff;width:100%;display:inline-block;vertical-align:middle;text-align:center;margin:0;margin-top:-8px;padding:0;font-size:10px}#animatediv{width:154px;padding:10px 5px 0;color:#000}#animatediv form label{width:32%;font-size:8pt;font-weight:700;color:#db4626}#animatediv form input,#animatediv form textarea,#animatediv form select{width:56%;border:1px solid #F5BDB1;padding:2px 5px}#animatediv form input:focus,#animatediv form textarea:focus,#animatediv form select:focus{border:1px solid #db4626}#animatediv form label,#animatediv form input,#animatediv form textarea{display:inline-block;margin-bottom:10px}#animatediv form textarea{resize:none;height:50px;margin-bottom:5px}#animatediv form label{color:#db4425}.closeA{position:absolute;background:#db4425;border-top-left-radius:1.9em;-moz-border-top-left-radius:1.9em;-webkit-border-top-left-radius:1.9em;-o-border-top-left-radius:1.9em;border-top-right-radius:20px;-moz-border-top-right-radius:20px;-webkit-border-top-right-radius:20px;-o-border-top-right-radius:20px;width:50px;height:80px;top:-25px;right:-5px;color:#fff;cursor:pointer;z-index:-1;box-shadow:0 2px 15px #BBB7B7;-webkit-box-shadow:0 2px 15px #BBB7B7;-moz-box-shadow:0 2px 15px #BBB7B7;-o-box-shadow:0 2px 15px #BBB7B7}.closeA span{position:relative;left:22px;top:3px}button.radiusB{background:#fa4b2a;border:none;outline:none;color:#fff;line-height:22px;padding:0 10px;cursor:pointer;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px}button.radiusB:hover{background:#000}button.radiusB span.img{background:#D82200;width:26px;padding:7px 0;display:inline-block;border-top-left-radius:10px;-moz-border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-o-border-top-left-radius:10px;border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-o-border-bottom-left-radius:10px;position:relative;left:-15px}.radiusB span.text{position:relative;top:-5px}.hidden{visibility:hidden}#footer .main .fbtm{margin:0 auto!important}img.help_right{width:40%;cursor:pointer}.selectcartp a,#spDiscount a{color:#000;text-decoration:none}.selectcartp a:hover,#spDiscount a:hover{text-decoration:underline}.starR{color:#db4626;font-size:13pt;font-weight:700;position:relative;top:6px}
/*---------- Style -----------*/
table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:400}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}header,section,footer,aside,nav,article,figure{display:block}#slider-wrapper{background:url(../myles-campaign/images/slider.png) no-repeat;width:975px;height:449px;margin:0 auto;padding:0}#slider{position:relative;width:950px;height:246px;background:url(../myles-campaign/images/loading.gif) no-repeat 50% 50%}#slider img{position:absolute;top:0;left:0;display:none;width:950px!important;height:250px!important}#slider a{border:0;display:block}.nivo-controlNav{position:absolute;left:831px;bottom:7px}.nivo-controlNav a{display:block;width:22px;height:22px;background:url(../myles-campaign/images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left}.nivo-controlNav a.active{background-position:0 -22px}.nivo-directionNav a{display:block;width:30px;height:30px;background:url(../myles-campaign/images/arrows.png) no-repeat;text-indent:-9999px;border:0}a.nivo-nextNav{background-position:-30px 0;right:15px}a.nivo-prevNav{left:15px}.nivo-caption{text-shadow:none;font-family:Helvetica,Arial,sans-serif}.nivo-caption a{color:#efe9d1;text-decoration:underline}.clear{clear:both}#footer .main{width:1130px}#footer .main .fbtm{width:83%}#footer .main .fbtm .cm{width:138px}#footer .main .fbtm .qu{width:178px}#footer .main .fbtm .socil{width:228px}.clr{clear:both}.top_bgMyles{background-color:#fff;width:100%;height:auto;display:inline-block;position:relative;top:-11px}
/*---------- Skin -----------*/
#mycarousel
{
	overflow:hidden !important;
}
#mycarousel li{
	list-style: none outside none;
	width:105px;
	margin-right:10px;
}
.jcarousel-skin-tango .jcarousel-container {
	float:left;
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:  828px;
    padding: 0px 20px;
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  800px;
	margin-left:17px;	
	overflow:hidden;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 105px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    /*margin-right: 10px;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 13px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 20px;
    height: 79px;
    cursor: pointer;
    background: transparent url(../myles-campaign/images/Non-3D-Arrow-buttons-right.png) no-repeat;
	background-position:-20px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 8px;
    right: auto;
    background-image: url(../myles-campaign/images/Non-3D-Arrow-buttons-right.png);
	background-position:-20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -20px 0px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -40px 0;
	background-color:transparent;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 20px;
    height: 79px;
    cursor: pointer;
    background: transparent url(../myles-campaign/images/Non-3D-Arrow-buttons-left.png) no-repeat -40px 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 15px;
    background-image: url(../myles-campaign/images/Non-3D-Arrow-buttons-right.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -0px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -40px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
	width:20px;
}
/*--------- jquery.tooltip ---------*/
div.jquery-gdakram-tooltip { 
  width: 340px;
  color: #666;
  font-size: 11px;
	position: absolute;
	z-index: 100000000000000;
	top: 0px;
	left: 0px;
	display: none;
}
div.jquery-gdakram-tooltip div.content { 
  -moz-border-radius: 1em; 
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background-color:#fff;
  width: 280px;
  min-height: 200px;
  float: left;
  padding: 10px;
  color: #666;
  border:1px solid #e3e3e3;
}

div.jquery-gdakram-tooltip div.content h1 {
  font-size: 16px;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 5px;
}

div.jquery-gdakram-tooltip div.up_arrow {
  background : url('../myles-campaign/stylesheets/jquery.tooltip/images/up_arrow.png') 60px 0px no-repeat;
  width: 100%;
  height: 20px;
}

div.jquery-gdakram-tooltip div.down_arrow {
  background : url('../myles-campaign/stylesheets/jquery.tooltip/images/down_arrow.png') 62px 0px no-repeat;
  width: 100%;
  height: 20px;
}

div.jquery-gdakram-tooltip div.left_arrow {
  height: 100%;
}

div.jquery-gdakram-tooltip div.left_arrow {
  float:left;
  background : url('../myles-campaign/stylesheets/jquery.tooltip/images/left_arrow.png') 0px 0px no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: 40px;
  left: 0px;
}
