/*--------- Default --------*/
* {
	margin:0;
	padding:0;
	outline:none;
}
h1, h2, h3 {
	margin:0;
	padding:0;
	font-family: Arial;
}
p {
	margin:0;
	padding:0;
}
img {
	margin:0;
	padding:0;
	border:none;
}
body {
	margin:0;
	font-family:Arial;
	font-size:12px;
	color:#666;
	line-height:normal;
}
.main {
	width:973px;
	margin:0 auto;
	position:relative;
	/*z-index:1;*/
}
#header {
	width:100%;
	/*float:left;*/
	background:url(../images/topbg.gif) repeat-x;
	height:90px;
	position:relative;
	/*z-index:9;*/
}
.logo {
	float:left;
	padding:0px 10px 0 0;
}
.logo-right {
	float:right;
	width:785px;
}
.logo-righttop {
	width:785px;
	float:left;
	background:#ededed;
	border-bottom:2px solid #fff;
	height:44px;
	z-index:100;
}
.logo-righttop ul.lf {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.logo-righttop ul.lf li {
	margin:0;
	padding:10px 18px 0 14px;
	text-transform:uppercase;
	line-height:30px;
	font-family: Arial;
	float:left;
	font-size:18px;
	color:#686868;
}
.logo-righttop ul.lf li a {
	text-decoration:none;
	color:#c5c5c5;
}
.logo-righttop ul.lf li a:hover {
	text-decoration:none;
	color:#494949;
}
.logo-righttop ul.lf li a.active {
	font-size:18px;
	color:#494949;
}
.logo-righttop ul.rt {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	z-index:100;
}
.logo-righttop ul.rt li {
	margin:18px 0 0 0;
	padding:0 8px 0 8px;
	border-right:#50585b solid 1px;
	line-height:12px;
	float:left;
	color:#50585b;
}
.logo-righttop ul.rt li.no {
	border:none;
}
.logo-righttop ul.rt li a {
	text-decoration:none;
	color:#7f8487;
}
.logo-righttop ul.rt li a:hover {
	text-decoration:none;
	color:#000;
}
.menu {
	width:785px;
	float:left;
	padding:3px 0 0 0;
	position:relative;
	/*z-index:999*/
}
.menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.menu ul li {
	position:relative;
	float:left;
	margin:0;
}
.menu ul li a {
	float:left;
	font-size:13px;
	text-decoration:none;
	color:#a8a8a8;
	padding:10px 10px 10px 12px;
	line-height:20px;
	margin:0;
}
.menu ul li a:hover {
	color:#dbdbdb !important;
	background:none !important;
	border:none !important;
}
.menu ul li a.active {
	color:#dbdbdb;
	font-weight:bold;
	font-size:16px;
}
.menu ul li.more a {
	color:#f1c800;
	background:url(../images/more_down.png) no-repeat 0px 0px;
	padding-right:35px;
	position:relative;
	z-index:100;
}
.menu ul li.more a:hover, .menu ul li.more:hover a {
	color:#f1c800!important;
	background:url(../images/more_down.png) no-repeat 0px -46px!important;
	padding-right:35px;
	height:40px;
}
.menu ul li.more, .menu ul li.internaltional {
	background:url(../images/menu_seprator.png) no-repeat right top;
}
.menu ul li.more:hover > ul.submenu {
	display:block;
}
.menu ul li.more .submenu {
	display:none;
	width:270px;
	position:absolute;
	top:44px;
	left:-215px;
	float:left;
	z-index:99;
	background:#020202 url(../images/ul.gif) repeat-x;
	border:solid 2px #f1c800;
	padding:16px 0px 16px 20px;
}
.menu ul li.more .submenu li a {
	background:none!important;
	color:#a8a8a8!important;
	margin:0px;
	width:130px;
	height:20px;
	padding:0px;
	float:left;
}
.menu ul li.more .submenu li a:hover {
	color:#f1c800!important;
}
.menu ul li.internaltional a, .menu ul li.internaltional a:hover {
	color:#f1c800!important;
	padding: 10px 18px;
	font-weight:bold;
}
.menu ul li.tfn {
	line-height:40px;
	color:#FFFFFF;
	padding: 0px 0px 0px 20px;
	float:right;
}
.menu ul li.tfn strong {
	color:#F2C900;
	font-size:22px;
	font-family: Arial;
	display:inline;
	padding:0px 4px;
}
.banner {
	width:100%;
	min-height:365px;
	float:left;
	/*background:url(../images/bannerbg.gif) repeat-x;*/
	/*border-bottom:#fff solid 1px;*/
	padding:25px 0px 35px;
	position:relative;
	z-index:1;
	background-color:#fff !important;
}
.banner .lfts {
	width:725px;
	float:left;
}
.banner .lfts .book {
	width:160px;
	font-size:22px;
	font-family: Arial;
	float:left;
}
.banner .rgts {
	width:356px;
	float:left;
}
.banner .rgts h2 {
	font-family: Arial;
	float:left;
	font-size:22px;
	color:#494949;
}
.banner .rgts h3 {
	font-family: Arial;
	float:right;
	font-size:13px;
	color:#d68300;
}
.banner .rgts h3 a {
	color:#d68300;
	text-decoration:none;
}
.banner .rgts h3 a:hover {
	color:#333;
}
#middle, #midmyles {
	width:100%;
	float:left;
	position:relative;
	background-color:#fff;
	/*z-index:1;*/
}
.homepage {
	width:900px;
	margin: 0 auto;
	/*float:left;*/
	padding:50px 0px;
}
.homepage .repeatdiv {
	width:275px;
	float:left;
	margin-right:25px;
	position:relative;
}
.homepage .repeatdiv.no {
	margin-right:0;
}
.homepage .repeatdiv.md {
	width:275px;
}
.homepage .repeatdiv img.icon1 {
	position:absolute;
	left:0px;
	top:-14px;
}
.homepage .repeatdiv img.icon2 {
	position:absolute;
	left:0px;
	top:-8px;
}
.homepage .repeatdiv img.icon3 {
	position:absolute;
	left:0px;
	top:-8px;
}
.homepage .repeatdiv h2 {
	font-size:22px;
	color:#494949;
	border-bottom:#edeced solid 1px;
	display:block;
}
.homepage .repeatdiv h2.icon1 {
	padding:0 0 6px 75px;
}
.homepage .repeatdiv h2.icon2 {
	padding:0 0 6px 45px;
}
.homepage .repeatdiv h2.icon3 {
	padding:0 0 6px 55px;
}
.homepage .repeatdiv ul {
	margin:0;
	padding:25px 0 0 0px;
	list-style:none;
}
.homepage .repeatdiv ul li {
	background:url(../images/liicn.gif) no-repeat left 6px;
	padding:3px 0 3px 22px;
	font-size:15px;
	display:block;
	line-height:20px;
}
.bannerbtm {
	width:100%;
	float:left;
	padding:15px 0 15px 0;
	font-family: Arial;
	font-size:19px;
	color:#666;
}
.bannerbtm span {
	font-size:22px;
	color:#333;
}
.cabs {
	width:100%;
	float:left;
	background:#f7f7f7;
	border-bottom:1px solid #edeced;
	border-top:1px solid #dfdfde;
}
#footer {
	width:100%;
	float:left;
	background:#f8f7f7 url(../images/footer.gif) repeat-x;
}
.ftop {
	width:973px;
	float:left;
	padding:15px 0 13px 0;
	font-size:14px;
	color:#999;
	line-height:20px;
}
.ftop span {
	font-size:21px;
	color:#999;
	font-family: Arial;
}
.ftop .wdcar {
	width:250px;
	float:left;
}
.ftop .wdcar img {
	padding:2px 7px 0 0;
	float:left;
}
.ftop .wdcar label {
	float:left;
	padding:5px 0 0 0;
}
.ftop .wdten {
	width:237px;
	float:left;
}
.ftop .wdten img {
	padding:0 7px 0 0;
	float:left;
}
.ftop .wdten label {
	float:left;
	padding:5px 0 0 0;
}
.ftop .wdtrips {
	width:248px;
	float:left;
}
.ftop .wdtrips img {
	padding:0 7px 0 0;
	float:left;
}
.ftop .wdtrips label {
	float:left;
	padding:5px 0 0 0;
}
.fbtm {
	width:930px;
	padding:30px 0 0 0;
}
.fbtm h3 {
	font-size:16px;
	font-family:Arial;
}
.fbtm ul {
	margin:0;
	padding:5px 0 0 0;
	list-style:none;
}
.fbtm li {
	display:block;
	margin:0;
	padding:0;
	line-height:20px;
}
.fbtm li a {
	color:#666;
	text-decoration:none;
}
.fbtm li a:hover {
	color:#000;
}
.fbtm .cm {
	width:175px;
	float:left;
}
.fbtm .qu {
	width:200px;
	float:left;
}
.fbtm .socil {
	width:205px;
	float:left;
}
.soccd {
	width:235px;
	float:left;
	padding:5px 0 25px 0;
}
.fbtm .socil p {
	padding:5px 0 0 0;
}
.copurit {
	width:900px;
	/*float:left;*/
	margin: 0 auto;
	padding:20px 0 20px 0;
	font-size:11px;
	text-align:center;
}
.copurita{
	text-decoration:none;
	color:#666666;
	font-size:11px;
}
.copurita:hover{
	text-decoration:underline;
}
/********************* About uS *********************/
.aboutus {
	width:968px;
	float:left;
	margin-top:8px;
	margin-bottom:40px;
	background:#fff;
	border:1px solid #e5e5e5;
	border-radius:8px;
}
.aboutusdv {
	width:968px;
	float:left;
	/*background:url(../images/about.jpg) repeat-y;*/
}
.aboutusdv .lfcnt {
	width:100%;
	float:left;
}
.aboutusdv .lfcnt h1 {
	font-family: Arial;
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.aboutusdv .lfcnt h2 {
	padding:14px 55px 0 20px;
	font-family:Arial;
	font-weight:normal;
	font-size:18px;
	color:#333;
}
.aboutusdv .lfcnt p {
	padding:5px 55px 15px 20px;
	line-height:18px;
}
.aboutusdv .lfcnt .blkt {
	margin:10px 0 10px 0;
	line-height:18px;
	font-size:15px;
	background:#f5f5f5;
	border-radius:8px;
	border:1px solid #ececec;
	box-shadow: 1px 2px 3px #ececec;
	line-height:19px;
	padding:12px 22px 12px 15px;
}
.aboutusdv .tbul {
	width:303px;
	float:right;
	background:#f9f8f8;
	padding-top:48px;
}
.innerpages {
	width:971px;
	float:left;
	margin:8px 0 50px 0;
}
.innerpages .leftside {
	width:654px;
	float:left;
	border:1px solid #e7e7e7;
	border-radius:8px;
	min-height:790px;
}
.innerpages .leftside h1 {
	font-family:Arial;
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.innerpages .leftside .heading {
	font-family: Arial;
	font-size:20px;
	color:#494949;
	padding:12px 0 12px 20px;
}
.innerpages .leftside .middiv {
	width:595px;
	float:left;
	padding:31px 0 20px 29px;
}
.innerpages .leftside .packages {
	width:595px;
	float:left;
	padding-bottom:10px;
}
.innerpages .leftside .packages img.big {
	float:left;
	margin:0;
}
.leftside .packages .btmarea {
	width:566px;
	float:left;
	background:#d2d1d1;
	padding:11px 13px 11px 16px;
}
.leftside .packages .btmarea .booknow {
	width:129px;
	float:right;
	height:42px;
}
.leftside .packages .btmarea .booknow a {
	width:129px;
	float:right;
	height:42px;
	text-indent:-9999px;
	background:url(../images/confirmbooking.png) no-repeat left top;
}
.leftside .packages .btmarea .booknow a:hover {
	background-position:0 -42px;
}
.leftside .packages .btmarea .fl {
	float:left;
	color:#646464;
	font-size:14px;
	font-family:Arial;
}
.leftside .packages .btmarea .fl span {
	font-size:28px;
	color:#000;
}
.leftside .packages .btmarea .fm {
	float:left;
	color:#000;
	font-size:16px;
	padding:18px 0 0 52px;
	font-family:Arial;
}
.leftside .packages .btmarea .fm span {
	font-size:24px;
	padding-left:5px;
}
.innerpages .rightside {
	width:306px;
	float:right;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.innerpages .rightside h1 {
	font-family: Arial;
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.innerpages .rightside ul {
	margin:0;
	padding:15px 35px 15px 19px;
	list-style:none;
}
.innerpages .rightside li {
	background:url(../images/liicn.gif) no-repeat left 6px;
	padding:3px 0 3px 22px;
	font-size:15px;
	display:block;
	line-height:20px;
}
.innerpages .rightside .tpdiv {
	width:286px;
	float:left;
	padding:15px 0 10px 20px;
}
.innerpages .rightside .tpdiv img {
	float:left;
	padding:0 0 10px 40px;
}
.innerpages .rightside .tpdiv p {
	margin:0;
	padding:5px 0 0 0;
	color:#666;
	font-size:12px;
}
.innerpages .rightside .tpdiv p span {
	font-weight:bold;
	color:#000;
}
.innerpages .rightside .tpdiv h3 {
	color:#ff6600;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	padding:20px 0 0 0;
}
.innerpages .rightside .tpdiv h3 span {
	font-size:28px;
	color:#333;
}
.innerpages .rightside .tpdiv h3 span img {
	float:left;
	padding:5px 0 0 0 !important;
}
.innerpages .rightside .tpdiv ul {
	margin:0;
	padding:0 !important;
	list-style:none;
}
.innerpages .rightside .tpdiv li {
	display:block;
	margin:0;
	padding:2px 12px !important;
	font-size:12px !important;
	color:#666 !important;
	background:url(../images/libg.jpg) no-repeat left 8px !important;
}
.innerpages .rightside .map {
	width:257px;
	float:left;
	padding-top:20px;
}
.innerpages .rightside .map img {
	float:none !important;
	padding:0 !important;
}
.innerpages .rightside .tpdiv li img {
	float:none !important;
	padding:0 !important;
}
.tbbinginr {
	width:100%;
	float:left;
	position:relative;
	z-index:1
}
.clr {
	clear:both;
}
.selectcartp {
	width:100%;
	float:left;
	background:#f5f4f4 url(../images/slectcr.jpg) repeat-x;
	border-bottom:#e6e6e6 solid 1px;
	padding-bottom:10px;
}
.selectcartp h2 {
	font-family: Arial;
	font-size:16px;
	color:#333;
	padding:11px 0 11px 0;
}
.selectcartp h3 {
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	color:#999;
}
.selectcartp p {
	margin:0;
	padding:5px 0 0 0;
}
.selectcartp .wd136 {
	width:136px;
	float:left;
}
.selectcartp .modify {
	width:122px;
	float:right;
	height:25px;
}
.selectcartp .modify a.mmb {
	width:122px;
	float:right;
	height:25px;
	text-indent:-9999px;
	background:url(../images/modify.png) no-repeat left top;
}
.selectcartp .modify a.mmb:hover {
	background-position:0 -25px;
}
.selectcarmid {
	width:969px;
	float:left;
	margin:15px 0 50px 0;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.selectcarmid .trtp {
	width:949px;
	float:left;
	background:url(../images/trbg.jpg) repeat-x;
	height:15px;
	color:#999;
	font-size:16px;
	font-weight:bold;
	border-radius:8px 8px 0 0;
	padding:13px 0 15px 20px;
}
.selectcarmid .trtp label.frst {
	float:left;
	width:383px;
}
.selectcarmid .trtp label.snd {
	float:left;
	width:209px;
}
.selectcarmid .trtp label.lst {
	float:left;
	width:357px;
}
.selectcarmid .repeatdiv {
	width:929px;
	float:left;
	border-bottom:1px solid #e6e6e6;
	padding: 25px 20px 30px 20px;
}
.selectcarmid .repeatdiv .boknw {
	float:right;
	width:120px;
	height:42px;
}
.selectcarmid .repeatdiv .boknw a {
	float:right;
	width:120px;
	height:42px;
	background:url(../images/booknow1.jpg) no-repeat left top;
	text-indent:-9999px;
}
.selectcarmid .repeatdiv .boknw a:hover {
	background-position:0 -42px;
}
.selectcarmid .repeatdiv .boknw .save{
	color:#000;
	font-size: 15px;
	display:block;
	margin:5px 0px;
}
.selectcarmid .repeatdiv .boknw .save .savers{
	color:#ff6600;
	font-size: 20px;
	
}
.selectcarmid .repeatdiv .typefcr {
	width:383px;
	float:left;
}
.selectcarmid .repeatdiv .typefcr .imgdv {
	float:left;
	width:163px;
}
.selectcarmid .repeatdiv .typefcr .infdv {
	float:left;
	padding-top:15px;
	width:220px;
	font-size:16px;
	text-align: left;
}
.selectcarmid .repeatdiv .typefcr .infdv span {
	font-size:18px;
	color:#000;
	font-weight:bold;
}
.selectcarmid .repeatdiv .capcity {
	width:159px;
	float:left;
	padding-top:15px;
}
.selectcarmid .repeatdiv .capcity label.noof {
	background:url(../images/noof.jpg) no-repeat;
	float:left;
	color:#fff;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	width:36px;
	height:35px;
	line-height:35px;
}
.selectcarmid .repeatdiv .capcity label.tx {
	float:left;
	font-size:14px;
	padding:10px 0 0 10px;
}
.selectcarmid .repeatdiv .price {
	width:210px;
	float:left;
	font-size:12px;
	color:#666;
	line-height:20px;
}
.selectcarmid .repeatdiv .boknw input {
    background: url("../images/booknow1.jpg") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 42px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 120px;
}

.adminBookingBtn {
    background: url("../images/booknow1.jpg") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 42px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 120px;
    margin:15px 0 0 38px;
}
.selectcarmid .repeatdiv .price span {
	font-size:18px;
	color:#666666;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.out {
	font-size:18px !important;
	color:#666666;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.new {
	font-size:18px;
	color:#ff6600;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.old {
	font-size:14px;
	color:#666666;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.newp {
	font-size:15px;
	color:#666666;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.newo {
	font-size:14px;
	color:#666666;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price span.sep {
	height:1px;
	width:200px;
	border-bottom:solid 1px #d1d1d1;
	display:block;
	margin:10px 0px;
}
.selectcarmid .repeatdiv .price a {
	color:#666;
	text-decoration:underline;
}
.selectcarmid .repeatdiv .price a:hover {
	text-decoration:none;
	color:#000;
}
ul.shadetabst {
	list-style:none;
	background:url(../images/tb.jpg) no-repeat 0px 0px;
	float:left;
	width:670px;
	height:33px;
}
ul.shadetabst li.step1 {
	float:left;
	width:216px;
	height:33px;
}
ul.shadetabst li.step1 a {
	float:left;
	width:216px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step1 a.selected {
	background-position:0 -33px;
}
ul.shadetabst li a {
	float:left;
	text-indent:-9999px;
	text-decoration:none;
}
ul.shadetabst li.step2 {
	float:left;
	width:216px;
	height:33px;
}
ul.shadetabst li.step2 a {
	float:left;
/*	background:url(../images/tb.jpg) no-repeat -216px 0px;*/
	width:216px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step2 a.selected {
	background-position:-216px -66px;
}
ul.shadetabst li.step3 {
	float:left;
	width:228px;
	height:33px;
}
ul.shadetabst li.step3 a {
	float:left;
/*	background:url(../images/tb.jpg) no-repeat -432px 0px;*/
	width:228px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step3 a.selected {
	background-position:-432px -99px;
}
ul.shadetabst li a {
	float:left;
	text-indent:-9999px;
	text-decoration:none;
}
ul.shadetabst li a:hover {
	color:#999999;
}
.tabcontent {
	display:block;
}
.tabcontent:first-child {
	display:block;
}
.tbbingouter {
	width:100%;
	float:left;
	padding:6px 0 6px 0;
	border-bottom:1px solid #e6e6e6;
	position:relative;
	z-index:1
}
fieldset.payment {
	padding: 31px 0 20px 29px;
	width: 625px;
	border:none;
	border-bottom:solid 1px #E7E7E7;
}
fieldset.payment .leftfieldset {
	float:left;
	width:600px;
}
fieldset.payment .rightfieldset {
	float:right;
	width:200px;
}
fieldset.payment .leftfieldset input[type="radio"] {
	float:left;
	width:20px;
	margin-top:5px;
}
fieldset.payment .leftfieldset label {
	float:left;
	width:360px;
	font-size:18px;
	line-height:24px;
	color:#000000;
	padding-left:10px;
}
ul.listarrow {
	list-style:none;
	padding-top:5px;
	clear:left;
}
ul.listarrow li {
	background:url(../images/arrow2.png) no-repeat 30px 12px;
	margin:0px;
	padding:12px 0px 0px 40px;
}
.payandbook {
	width:149px;
	height:42px;
}
.payandbook a {
	display:block;
	width:149px;
	height:42px;
	background:url(../images/payandbook.png) no-repeat 0px 0px;
}
.payandbook a:hover {
	display:block;
	background:url(../images/payandbook.png) no-repeat 0px -42px;
}
.confirmbooking {
	width:168px;
	height:42px;
	margin-top:0px;
}
.confirmbooking a {
	display:block;
	width:168px;
	height:42px;
	background:url(../images/confirmbooking.png) no-repeat 0px 0px;
}
.confirmbooking a:hover {
	display:block;
	background:url(../images/confirmbooking.png) no-repeat 0px -42px;
}
#cnfbookingredeem {
    display: none;
}
.confirmbookingredeem {
    height: 52px;
    margin-top: 0;
    width: 300px;
}
.confirmbookingredeem a {
	display:block;
	width:300px;
	height:52px;
	background:url(../images/confirmbookingredeem.png) no-repeat 0px 0px;
}
.confirmbookingredeem a:hover {
	display:block;
	width:300px;
	background:url(../images/confirmbookingredeem.png) no-repeat 0px -52px;
}
#cnfbookingredeem
{
	display:none;
}
.ml_cnf
{
	margin:15px 0px 0px 32px;
}
.continue {
	width:117px;
	height:42px;
}
.continue a {
	display:block;
	width:117px;
	height:42px;
	background:url(../images/continue.png) no-repeat 0px 0px;
}
.continue a:hover {
	display:block;
	background:url(../images/continue.png) no-repeat 0px -42px;
}
.middiv ul {
	list-style:none
}
.middiv ul li {
	background:url(../images/arrow2.png) no-repeat 0px 8px;
	margin:0px;
	padding:8px 0px 0px 12px;
}
.register {
	float:left;
	width:100%;
	border: none;
	margin-bottom:50px;
}
.register .fieldrow {
	float:left;
	width:100%;
	margin-bottom:14px;
}
.register .fieldrow .row_left {
	float:left;
	width:170px;
	text-align:right;
}
.register .fieldrow .row_right {
	float: right;
	width:410px;
}
.register .fieldrow label {
	font-size:14px;
	line-height:36px;
	color:#666;
	font-weight:bold;
}
.register .fieldrow input[type="checkbox"] {
	margin-right:10px;
}
.register .fieldrow small {
	font-weight:bold;
	font-size:11px;
	color:#999999;
}
.register .fieldrow input[type="text"], .register .fieldrow input[type="password"], .register .fieldrow textarea, .register .fieldrow select {
	width:275px;
	padding:2px 5px;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#999;
	font-weight:bold;
	border:solid 1px #ccc;
	background:#FFFFFF;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:inset #ddd 0px 2px 3px;
	-moz-box-shadow:inset #ddd 0px 2px 3px;
	box-shadow:inset #ddd 0px 2px 3px;
}
.register .fieldrow select.time {
	width:90px!important;
	margin-right:5px;
}
.register .fieldrow select option {
	font-size:14px;
	padding:0px 5px;
	font-weight:normal;
	color:#666666;
}
.register .fieldrow textarea {
	width:275px;
	height:110px;
	line-height:18px;
	font-size:14px;
	font-weight:normal;
	color:#666666;
}
.header_right {
	background: none repeat scroll 0 0 #EDEDED;
	border-bottom: 2px solid #FFFFFF;
	right:0px;
	position:absolute;
	height: 44px;
	width:14.5%;
	/*z-index:-1;*/
}
.lightbox_panel {
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999;
	left:0px;
	top:0px;
	background:url(../images/overlay.png) repeat;
}
.map_panel {
	width:410px;
	height:325px;
	margin:0 auto;
	background:#FFFFFF;
	padding:5px;
	position:relative;
}
.selecttime {
	width:100px;
	float:left;
}
.selecttime span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 80px!important;
}
.selecttime .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:80px!important;
}
.areap select option {
	width:257px;
}
.areap span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 275px!important;
}
.areap .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:275px!important;
}
span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 190px;
	background:#FFF;
}
span.customStyleSelectBox.changed {
}
.customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:190px!important;
}
.showtime, .showhour {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #db4626;
	border-radius: 4px 4px 4px 4px;
	color: #db4626;
	float: left;
	font-size: 12px;
	padding: 5px 10px;
	margin-top:5px;
}
.showtime{
	display:none;
}
ul.breadcrumb{
	list-style:none;	
}
ul.breadcrumb li{
	float:left;
	color:#c5c5c5;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	margin-right:25px;
	font-family: Arial;
}
ul.breadcrumb li.active{
	color:#494949;
	font-size:20px;
}


/*Aamir*/

#TripleTabs
{
	width:100%;
	/*width:960px;*/
	min-height:387px;
	float:left;
	margin:0px 0px 0px 0px;
	z-index:1;
	background-color:#ffffff;
}
#typeTab
{
	float:left;
	list-style-type:none;
	width:608px;
	margin:10px 0px 0px 0px;
	background:url(../images/tpshade.gif) repeat-x left bottom;
}
#typeTab li
{
    float: left;
    padding: 0px;
	/*font-family: 'Conv_swiss721bt-boldcondensed';*/
	font-family: Arial;
	font-weight:bold;
}
#typeTab li a
{
	float: left;
	padding: 10px 15px 7px 15px;
	background-color:#db4626;
	font-size:15px;
	display:block;
	color:#fff;
	text-decoration:none;
}
#typeTab li #outstation
{
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;	
	border-radius: 4px 0px 0px 0px;
	float: left;
}
#typeTab li #local, #typeTab li #easycabs, #typeTab li #selfdrive
{ 
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
        border-radius: 0px 0px 0px 0px;
	float: left;
}
#typeTab li #international
{
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-radius: 0px 4px 0px 0px;
	float: left;
	z-index:100;
}

#typeTab li a.activeTab
{
	/*border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-radius: 0px 4px 0px 0px;*/
	float: left;
	background-color:#fff !important;
	z-index:100;
	top:1px;
	position:relative;
	color:#000;
}
#outstationDiv,#localDiv,#airportDiv,#easycabsDiv,#internationalDiv,#selfdriveDiv
{
	float:left;
	width:600px;
	display:none;
	margin:30px 0px 0px 4px;
	background-color:#ffffff;
}
.pickupdate,.pickuphour,.pickupmin,.pickupcity,.location
{
	float:left;
}
.pickupdate span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width:140px;
	background:#FFF;
}
.pickupdate span.customStyleSelectBox.changed {

}
.pickupdate .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:140px !important;
}
.pickupdate select option {
	width:120px;
}

.pickuphour span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width:60px !important;
	background:#FFF;
}
.pickuphour span.customStyleSelectBox.changed {

}
.pickuphour .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:60px !important;
}
.pickuphour select option {
	width:50px !important;
}

.pickupmin span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width:60px !important;
	background:#FFF;
}
.pickupmin span.customStyleSelectBox.changed {

}
.pickupmin .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:60px !important;
}
.pickupmin select option {
	width:50px !important;
}


.location span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width:300px !important;
	background:#FFF;
}
.location span.customStyleSelectBox.changed {

}
.location .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:290px !important;
}
.location select option {
	width:280px !important;
}
/*#typeTab li a #easycabs.inActiveTab
{
    border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
    border-radius: 0px 4px 0px 0px;
    float: left;
	background-color:#f2c900 !important;
	z-index:100;
}*/

/*#typeTab li a.first.activeTab
{
    border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;	
    border-radius: 4px 0px 0px 0px;
    float: left;
	color:#000;
}*/

.social
{
	float:right;
	margin-top:36px;
}
/*matloob*/
.crp-lease
{
	margin:9px 0px 0px 15px;
	float:left;
	color:#100d00;
	font-size:16px;
	font-weight:bold;
}
.social-network
{
	float:right;
	margin:8px 4px 10px 0px;
}
.topcrb
{
	background-image:url("../images/top-y.jpg");
	background-repeat:no-repeat;
	float:left;
	width:278px;
	height:39px;
}
.running
{
	background-image:url("../images/rept.jpg");
	background-repeat:repeat-y;
	float:left;
	width:278px;
}
.bcrb
{
	background-image:url("../images/bottomcurb.jpg");
	background-repeat:no-repeat;
	float:left;
	width:278px;
	height:8px;
}
.topcurb
{
	background-image:url("../images/topcurb.jpg");
	background-repeat:no-repeat;
	float:left;
	width:686px;
	height:10px;
}
.repet
{
	background-image:url("../images/running.jpg");
	background-repeat:repeat-y;
	float:left;
	width:686px;
}
.botcurb
{
	background-image:url("../images/bcurb.jpg");
	background-repeat:no-repeat;
	float:left;
	width:686px;
	height:10px;
}
.right-banner
{
	background-image:url("../images/r-banner.jpg");
	background-repeat:no-repeat;
	width:676px;
	margin-left:4px;
	height:366px;
}
.banner .lfts-lease {
	width:280px;
	float:left;
}
.banner .rgts-lease{
	width:690px;
	float:right;
}
.location1 span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width:200px !important;
	background:#FFF;
}
.location1 span.customStyleSelectBox.changed {
}
.location1 .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:195px !important;
}
.location1 select option {
	width:195px !important;
}
.offers
{
	width:520px
	float:left;
}
.offers ul{
	list-style:none;
	padding-top:25px;
	clear:left;
}
.offers ul li {
	background:url(../images/plus.gif) no-repeat 30px 12px;
	margin:0px;
	padding:12px 0px 0px 40px;
}
.offers ul li span {
	margin-left:5px;
	font-size: 13px;
	font-family:Arial;
	color:#666;
	
}
.offerBox {
    border: 1px solid #e0e0e0;
    border-radius: 8px 8px 8px 8px;
	background-color:#f2f2f2;
    min-height:94px;
    width:512px;
	margin:5px 0 0 20px;
}
.offerBoxtxt
{
	font-size: 13px;
	font-family:Arial;
	color:#333;
	margin:10px 0px 4px 9px;
}
.search_box {
    float: left;
    padding: 7px 0;
    width:370px;
	margin-left:20px;
}
.search_box .input {
    background: url("../images/txtbox.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    float: left;
    font-size: 16px;
    height:37px;
	padding-left:5px;
    line-height: 37px;
    width: 262px;
}
.search_box .search_btn {
    background: url("../images/applycode.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 37px;
    text-indent: -999em;
    width: 93px;
}
.txtorange
{
	font-size:20px;
	font-family:Arial;
	color:#ff6600;
	font-weight:bold;
}
.get
{
	font-size: 14px;
	font-family:Arial;
	color:#666;
	margin:7px 0px 0px 0px;
}
.exciting
{
	font-size: 14px;
	font-family:Arial;
	color:#000;
	font-weight:bold;
	margin:0px 0px 0px 30px;
}
.corbrand
{
	float:left;
	width:174px;
	background-image:url(../images/brand.png);
	background-repeat:no-repeat;
	height:74px;
	background-position:left 0px;
	margin-top:5px;
	display:block;
}
.easybrand
{
	float:left;
	width:174px;
	background-image:url(../images/brand.png);
	background-repeat:no-repeat;
	height:74px;
	background-position:left -76px;
	margin-top:10px;
	display:block;
}
#easycabBox
{
	float:left;
	display:none;
}
.showme
{
	display:block !important;
}
.hideme
{
	display:none !important;
}
.paddbtm
{
	padding-bottom:46px;
}


/*Iqbal*/
/*Pop up*/
.floatingDiv{
	width:500px;
	float:left;
	margin: 0 auto;
	padding: 10px;
	position:absolute;
	z-index: 101;
	display:none;
	text-align:left;
}
#multipleDestination
{
	width:500px;
	display:none;
	float:left;
	border-radius:4px;
	margin:15px 0 0 0;
	text-align:center;
	padding:20px;
    background: none repeat scroll 0 0 #DDD;
    border: 1px solid #EFC14D;
}

.autosuggest{
	width:290px;
	border-width: 0px 1px 1px 1px;
	border-style:solid;
	border-color:#ccc;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	position:absolute;
	background-color:#fff;
	z-index:101;
	top:156px;
	left:244px;
}
.autos{
	position:relative;
}
.autosuggestO{
	width:180px;
	border-width: 0px 1px 1px 1px;
	border-style:solid;
	border-color:#ccc;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	position:absolute;
	background-color:#fff;
	z-index:101;
	top:40px;
	left:0px;
}
.autosuggest a, .autosuggestO a{
	display:block;
	text-decoration:none;
	color:#888888;
	padding:6px 3px;
}
.autosuggest a:hover, .autosuggestO a:hover{
	background-color:#f2f2f2;
}

span.cities, .myprofile p span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 2px 5px;
    width: 300px;
}

span.cities input[type="text"], .myprofile p span input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #9F9F9F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin: 3px 0 0;
    width: 245px;
}


.modyfybook_wrapper{
	width:590px;
	display:none;	
	position:absolute;
	z-index:1100;
	background: url(../images/border.gif) repeat-x 0px 40px #fff;
	right:0px;
	margin-top:40px;
	padding:0px 15px 15px 15px;
	border:solid 1px #CCCCCC;	
	-moz-box-shadow: 2px 5px 10px #333;
	-webkit-box-shadow: 2px 5px 10px #333;
	box-shadow: 2px 5px 10px #333;
}
.modyfybook_wrapper .toolarrow{
	float:left;
	width:28px;
	right:45px;
	height:12px;
	position:absolute;
	top:-12px;
	background:url(../images/tool_arrow.png) no-repeat bottom center;
}
.modyfybook_wrapper tr, .modyfybook_wrapper td{
	margin:0px; padding:0px;	
}
.modyfybook_wrapper .heading{
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:20px;
	line-height:44px;
}
.modyfybook_wrapper .heading .closedpop{
	width:20px;
	height:20px;
	font-size:20px!important;
	line-height:20px!important;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;	
	position:absolute;
	display:block;
	right:0px;
	top:10px;
	cursor:pointer;
}
.travelmulti .modyfybook_wrapper{
	left:100px;
}
.travelmulti .modyfybook_wrapper .toolarrow{
	left:345px;	
}
td.inputtext input[type="text"]{
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 2px 5px;
    width: 190px;
	background:#FFFFFF;	
	float:left;
}

.travelmulti{
	/*border-bottom: 1px solid #e5e5e5;*/
	clear:both;
	float:left;
	width:100%;
	/*margin-bottom:15px;
	padding-bottom:10px;*/
}

.addmore a {
    color: #F9A200;
    font-weight: bold;
    text-decoration: none;
}

.overlay {
    background: url("../images/overlay.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:200;
}

.map_wrapper{
	width:407px;
	display:none;	
	position:absolute;
	z-index:999;
	right:0px;
	margin-top:10px;
	padding:5px;
	border:solid 1px #CCCCCC;	
	-moz-box-shadow: 2px 5px 10px #333;
	-webkit-box-shadow: 2px 5px 10px #333;
	box-shadow: 2px 5px 10px #333;
	background:#FFFFFF;
}
.map_wrapper .toolarrow{
	width:28px;
	right:60px;
	height:12px;
	position:absolute;
	top:-12px;
	background:url(../images/tool_arrow.png) no-repeat bottom center;
}
.map_wrapper .closedpop{
	width:20px;
	height:20px;
	font-size:20px!important;
	line-height:20px!important;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;	
	position:absolute;
	display:block;
	right:5px;
	top:5px;
	cursor:pointer;
	background:#000;
	text-align:center;	
}

.details_wrapper{
	width:260px;
	display:none;	
	position:absolute;
	z-index:999;
	background: url(../images/border.gif) repeat-x 0px 40px #fff;
	left:255px;
	margin-top:9px;
	padding:0px 15px 15px 15px;
	border:solid 1px #CCCCCC;	
	-moz-box-shadow: 2px 5px 10px #333;
	-webkit-box-shadow: 2px 5px 10px #333;
	box-shadow: -2px 5px 10px #333;
	text-align: left;
}
.details_wrapper .toolarrow{
	float:left;
	width:13px;
	left:100%;
	height:23px;
	position:absolute;
	top:230px;
	background:url(../images/tool_arrow-90.png) no-repeat bottom center;
}
.details_wrapper .heading, .tcpopup .heading, .modyfybook_wrapper .heading{
	font-family: Arial;
	font-size:20px;
	line-height:44px;
}
.details_wrapper p{
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
	font-size:12px!important;
	line-height:14px!important;
}
.details_wrapper p span{
	font-size:14px!important;
	color:#000000!important;	
	line-height:30px;
}
.details_wrapper p big span{
	font-size:28px !important;
	color:#333!important;	
	font-weight:bold;
	line-height:20px;
	display:block;
	margin-bottom:10px;
}
.details_wrapper ul{
	list-style:none;	
	clear:both;
}
.details_wrapper ul li{
	list-style:none;
	background:url(../images/arrow2.png) no-repeat 0px 5px	!important;
	padding:0px 0px 0px 16px;
	margin:0px;
}
.details_wrapper ul li .spn{
	font-size:12px !important;
	color:#666666 !important;	
	line-height:30px;
	font-weight:normal !important;
}
.details_wrapper .heading .closedpop, .tcpopup .heading .closedpop{
	width:20px;
	height:20px;
	font-size:20px!important;
	line-height:20px!important;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;	
	position:absolute;
	display:block;
	right:0px;
	top:10px;
	cursor:pointer;
}
.atcpopup{
	text-decoration:underline;
	cursor:pointer;
}
.tcpopup{
	width:600px;
	display:none;	
	position:absolute;
	z-index:999;
	background: url(../images/border.gif) repeat-x 0px 40px #fff;
	left:200px;
	top:200px;
	margin-top:9px;
	padding:0px 15px 15px 15px;
	border:solid 1px #CCCCCC;	
	-moz-box-shadow: 2px 5px 10px #333;
	-webkit-box-shadow: 2px 5px 10px #333;
	box-shadow: 2px 5px 10px #333;
}
.tbbingouter {
	width:100%;
	float:left;
	padding:6px 0 6px 0;
	border-bottom:1px solid #e6e6e6;
	position:relative;
	z-index:1
}
.tbbingouter.yellowstrip{
	background:#f2c900;
	border-bottom:none;
}

.myprofile {
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-left: 1px solid #E7E7E7;

	border-bottom: 1px solid #E7E7E7;	
	margin-bottom: 40px;
	margin-top: 8px;
}
.myprofile .heading{
	background:url(../images/profie_heading_bg.gif) repeat-x 0 0;	
	font-size:14px;
	line-height:34px;
	padding:0px 20px;
	font-weight:bold;
	color:#999999;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.myprofile .heading a{
	font-size:14px;
	color:#ff6600;
	width:110px;
	height:20px;
	float:right;
	display:block;
	text-align:right;
	text-decoration:none;	
	font-weight:normal;
}
.myprofile .heading a:hover{
	text-decoration:underline;	
}
.myprofile dl {
    margin:30px 0px 40px 80px;
	font-size:14px;
	line-height:20px;
}
 
.myprofile dl dt {
    color:#333;
    float:left;
    font-weight:bold;
    margin:0px 10px 10px 0px;
    width:100px;
	text-align:right;
}
 
.myprofile dl dd {
	margin:0px 0px 10px 0px;
}
.myprofile p{
	padding:10px 5%;
	width:90%;
	float:left;
}
.myprofile p label{
	width:10%;
	display:block;
	float:left;
	clear:both;
	padding:5px 0px;
	color: #888888;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.myprofile p span{
	/*width:70%;*/
	float:left;
}
ul.myaccount_tab{
	list-style:none;	
}
ul.myaccount_tab li{
	float:left;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	margin-right:25px;
	font-family: Arial;
}
ul.myaccount_tab a{
	color:#c5c5c5;
	text-decoration:none;	
}
ul.myaccount_tab a.selected{
	color:#494949;
	font-size:20px;
}

.tripdetails{
	padding:10px 0px 40px 20px;
	width:450px;
	float:left;	
}
.tripsmap{
	padding:10px 0px 10px 0px;
	width:450px;
	float:left;		
	text-align:center;
}
.tripsmap img{
	padding:5px;
	border:solid 1px #eee;
}
.tripdetails p{
	font-size:12px;
	line-height:22px;
}
.tripdetails p strong{
	color:#000;	
}
.tripdetails h3{
	color:#ff6600;	
	margin:10px 0px;
}
.tripdetails h3 span{
	font-size:28px;
	color:#333333;
}
.tripdetails ul {
	margin:0;
	padding:0 !important;
	list-style:none;
}
.tripdetails ul li {
	display:block;
	margin:0;
	padding:2px 12px !important;
	font-size:12px !important;
	color:#666 !important;
	background:url(../images/libg.jpg) no-repeat left 8px !important;
}
.trip_suggestion{
	float:left;
	width:100%;	
	margin:20px 0px;
}
.trip_suggestion p{
	float:left;
	width:100%;	
	margin-bottom:10px;
}
.trip_suggestion label{
	width:100px;
	float:left;
	text-align:right;
	padding-right:10px;	
}
.trip_suggestion textarea{
	width:300px;
	height:80px;
	float:left;
	text-align:right;
	padding-right:10px;	
}
.trip_suggestion p input[type="submit"]{
	border:none;
	width:104px;
	height:44px;
	cursor:pointer;
	background:url(../images/suggestion_submit.png) no-repeat 0 0;
}
.businessEnquiry .submit, .myprofile .submit {
    float: left;
    height: 42px;
    margin-top: 5px;
    width: 104px;
}
.businessEnquiry .submit a, .myprofile .submit a {
    background: url("../images/submit.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    height: 42px;
    text-indent: -9999px;
    width: 104px;
}
.businessEnquiry .booking {
    float: left;
    height: 42px;
    margin-top: 5px;
    width: 104px;
}
.businessEnquiry .booking a {
    background: url("../images/printbooking.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 42px;
    text-indent: -9999px;
    width: 157px;
}
.businessEnquiry .submit a:hover {
	background:url(../images/submit.jpg) no-repeat 0 -42px;
}
.businessEnquiry form input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    display: block;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding: 2px 5px;
    width: 190px;
}

.businessEnquiry form label {
    color: #888888;
    font-size: 14px;
    font-weight: bold;
}
#selCH{
	margin-left:6px;
	float:left;
}
.cabhours{
	float:left;
}
.bdrbtmL{
	float:left;
	/*border-bottom: 1px solid #E5E5E5;*/
	margin: 0px 0px 20px 0px;
}
.booking_summary_data tr:nth-child(odd){
	background:#fafafa;	
}

.booking_summary_data tr td{
	border-top: 1px solid #E7E7E7;
	padding:8px 10px;
	font-weight:bold;
	color: #999999;
	font-size: 13px;
	line-height:20px;	
}
.booking_summary_data tr td span{
	color:#ff6600;
	font-weight:normal;	
}
.booking_summary_data tr td strong{
	color:#000;
	font-weight: bold;	
}
.booking_summary_data tr td a.actionbtn{
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 1px #cccccc;
	font-size:11px;
	line-height:15px;
	margin-bottom:4px;
	display:block;
	font-weight:normal;
	text-align:center;
	padding:4px 3px;	
	text-decoration:none;
	color:#333333;
	background:url(../images/action_bg.png) repeat-x 0px 0px;
}
.booking_summary_data tr td a.actionbtn:hover{
	border:solid 1px #ffca91;
	color:#ff8400;
	background:url(../images/action_bg.png) repeat-x 0px -30px;
}
/*--------------About-Us--------------*/
.yellwborder{
	margin:0 auto;
	width:100%;
	background-color:#f2c900;
	height:40px;
}
.lightborder{
	margin:0 auto;
	width:100%;
	background-color:#f0f0f0;
	height:40px;
}
.midtext{
	margin:0 auto;
	width:100%;
	background-color:#F2F2F2 !important;
}
.tabbbox{
	float:left;
	margin:0px 0px 20px 30px;
	/*width:968px;*/
}
.yellodivtxt{
	margin:0px auto;
	width:908px;	
}
.magindiv{
	margin:0px auto;
	width:975px;	
}
.magindiv ul{
	float:left;
	width:100%;
	height:40px;
	list-style-type:none;
}
.magindiv ul li{
	float:left;
	padding:5px 0px 7px 0px;
	text-decoration:none;
}
.magindiv ul li a
{
	float:left;
	margin:0px;
	font-size:15px;
	font-weight:bold;
	font-family:arial;
	padding:5px 15px 0px 0px;
	color:#909090;
	text-decoration:none;
}
.magindiv ul li a:hover
{
	float:left;
	margin:0px;
	font-size:15px;
	font-weight:bold;
	font-family:arial;
	padding:5px 15px 0px 0px;
	color:#909090;
	text-decoration:none;
}
.magindiv ul li a.active
{	
	color:#000;
	text-decoration:none;
}
#divcorp,#divmiss,#divmana,
#divairp,#divchau,#divself,#divlimo,#divoper,#divdriv,#divfinan,#divsales,#divqual,#divfleet,#divopera,#divservi,#divvalue,#divevent
{
	float:left;
	display:none;
}
.divtabtxt{
	float:left;
	width:650px;
}
.tabbbox p
{
	float:left;
	font-size:18px;
	font-family:arial;
	font-weight:bold;
	margin:20px 0px 8px 0px;
	color:#3d3d3d;
}
.txtcar{
	float:left;
	font-size:12px;
	font-family:arial;
	font-weight:normal;
	margin-bottom:20px;
	line-height:19px;
	color:#3d3d3d;
}
.divrht{
	float:left;
	width:220px;
	margin:30px 0px 0px 10px;
	padding:15px;
	border:1px solid #dadada;
	background-color:#f2f2f2;
	color:#333333;
}
.teamdiv{
	float:left;
	width:48%;
	margin:0px 18px 0px 0px;
}
.panal{
	float:left;
	width:96%;
	border:1px solid #d2d2d2;
	background-color:#fff;
	margin:0px 0px 18px 0px;
	padding:8px;
	color:#3d3d3d;
}
.arrowmomentmiss{
	margin-left:87px;
}
.arrowmomentmana{
	margin-left:157px;
}
.arrowmomentchau{
	margin-left:128px;
}
.arrowmomentself{
	margin-left:255px;
}
.arrowmomentlimo{
	margin-left:342px;
}
.arrowmomentoper{
	margin-left:432px;
}
.arrowmomentdriv{
	margin-left:564px;
}
.arrowmomentcorp{
	margin-left:697px;
}
.arrowmomentfleet{
	margin-left:93px;
}
.arrowmomentqual{
	margin-left:379px;
}
.arrowmomentsales{
	margin-left:520px;
}
.arrowmomentfinan{
	margin-left:572px;
}
.arrowmomentservi{
	margin-left:209px;
}
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1000;
}
.popupteam{
	display:none;
	position:absolute;
	_position:absolute; /* hack for internet explorer 6*/
	height:auto;
	width:750px;
	background:#fff;
	z-index:1005;
	padding:15px 30px 15px 15px;
	font-size:13px;
}
.popupclose
{
	float:right;
	text-align:right;
	color:#000;
	width:150px;
	font-weight:bold;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
}
.divcareercenter{
	margin:0 auto;width:968px;
}
.imagediv{
	float:left;
	margin:30px 0px 0px 10px;
	border:1px solid #dadada;
}
.selfdivpanal{
	float:left;
	width:100%;
	margin:0px 18px 0px 0px;
}
.selfdivp{
	float:left;
	width:96%;
	border:1px solid #d2d2d2;
	background-color:#F0F0F0;
	margin:0px 0px 18px 0px;
	padding:10px;
	color:#3d3d3d;
}
.txtmail{
	text-decoration:none;
	color:#ff6600;
}
.imghand{
	margin-top:60px;
	margin-left:20px;
	border:0px;
}
.leasintable{
	margin-left:30px;
	font-size:14px;
	font-family:arial;
	font-weight:normal;
	background-color:#d8d7d7;
	font-weight:bold;
}
.contactleftdiv{
	float:left;
	margin:0px 5px 30px 0px;
	padding:30px 0px 0px 0px;
	width:640px;
}
.divcenter{
	width:650px;
	margin:0 auto;
	width:970px;
}
.contactlistdiv{
	float:left;
	border:1px solid #d2d2d2;
	background-color:#F0F0F0;
	color:#3d3d3d;
	width:280px;
	height:70px;
	line-height:20px;
	padding:12px;
	margin:0px 10px 10px 0px;
}
.corportaeinfo .submit {
    float: left;
    height: 42px;
    margin-top: 5px;
    width: 104px;
}
.corportaeinfo .submit a {
    background: url("../images/leasing.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 42px;
    text-indent: -9999px;
    width: 104px;
}
.corportaeinfo .submit a:hover {
	/*background:url(../images/leasing.jpg) no-repeat 0 -42px;*/
}
.corportaeinfo form input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    display: block;
    float: left;
    font-size: 12px;
	font-weight:bold;
    height: 25px;
    line-height: 32px;
    padding: 2px 5px;
    width: 170px;
}

.corportaeinfo form label {
    color: #888888;
    font-size: 14px;
    font-weight: bold;
}
.leaseformpanal{
	float:left;width:230px;margin:25px 0px 0px 25px;border-radius:5px;border:1px solid #c4c4c4;background-color:#ffffff;
}
.leaseformpanal h3{
	background-color:#db4626;
	padding:10px;border-bottom;
}
#ttOutstation, #ttLocal, #ttEasycabs, #ttInternational{
	float: left;
	height: 46px;
	width: 80px;
	display:none;
	position:absolute;
}
#ttOutstation p, #ttLocal p, #ttEasycabs p, #ttInternational p{
	border:solid 1px #323232;
	color:#000;
}
.msdleasingmail{
	float:left;
	padding-left:35px;
	color:#f00;
	font-size:13px;
	font-family:Arial;
	/*font-weight:bold;*/
	display:block;
	margin:0px 0px 10px 0px;
}

.divonlinepanal{
	float:left;
	width:730px;
	font-family:Arial;
	margin:30px 0px 40px 0px;
}
.divsmaaling{
	float:left;
	color:#616161;
	width:230px;
	margin:0px 15px 0px 0px;
}
.divsmaaling p{
	float:left;
	color:#3d3d3d;
	font-style:italic;
	font-size:12px;
	font-weight:normal;
	margin:5px 0px 5px 0px;
}
.mediaborder{
	float:left;
	background-color:#f0f0f0;
	width:99%;
	height:2px;
	margin:30px 0px 10px 0px;
}
.collapse p {position:relative;
padding:0 10px 1em;
width:180px;
margin:0px;}
.expand{margin-bottom:.75em;}
.expand a:link, .expand a:visited {
  border:0px dotted #ccc;
  text-decoration:none;
  color:#555555;
}
.expand a:hover, .expand a:active, .expand a:focus {
  border-style:solid;
  outline:0 none;
  color:#555555;
}
.expand a {
  display:block;
  padding:3px 10px;
}
.expand a:link, .expand a:visited {
  background-image:url(../images/arrow-down.gif);
  background-repeat:no-repeat;
  background-position:3% 50%;
}
.expand a.open:link, .expand a.open:visited {
  background:url(../images/arrow-up.gif) no-repeat 3% 50%;
}
.collapse ul{
	float:left;
	margin:0px;
	padding:0px 0px 10px 0px;
	width:100%;

}
.collapse ul li{
	list-style-type:none;
	line-height:22px;
	padding:0px 0px 0px 10px;
	color:#ff6600;
}
.collapse ul li img{
	margin-right:5px;

}
.arrowmomentvideo{
	margin-left:120px;
}
.arrowmomentprint{
	margin-left:60px;
}
.arrowmomentevent{
	margin-left:182px;
}
span.datepick{
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	padding: 2px 5px;
	width: 160px;
	background:#FFFFFF;	
	float:left;
	display:block;
}
span.datepick input[type="text"] {
	width:155px;
	float:left;
	background:#fff;
	border:none;
	font-size:14px;
	font-weight:bold;
	color:#9f9f9f;
	line-height:28px;
	height:28px;
	margin:3px 0px 0px 0px;
	background:url(../images/datepick.png) no-repeat right 0px!important;
	cursor:pointer;
}
span.datepick a{
	width:30px;
	height:30px;
	display:block;
	text-decoration:none;
	float:right;
	margin-top:2px;
	border-left:solid 1px #CCCCCC;
		
}
span.datepick a:hover{
	background:url(../images/datepick.png) no-repeat 0 -31px;	
}
.modifymybooking a {
    background: url("../images/modify_my_booking.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 46px;
    width: 202px;
}
#popupslider .header{
	width:92%;
	/*background-image:url("../images/popup_bg.png");
	background-repeat:repeat-x;*/
	background:#ededed;
	color:#494949;
	height:25px;
	padding:1% 4%;
	float:left;
}
#popupslider .row{
	width:92%;
	padding:4%;
	clear:both;
	float:left;
}
#popupslider .row span{
	float:left;
	width:60%;
}
#popupslider .row .submit a{
	background: url("../images/submit.jpg") no-repeat scroll 0 0 transparent;
	float: left;
	height: 42px;
	text-indent: -9999px;
	width: 104px;
}
#popupslider .row span.lbl{
	color: #888888;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding: 0 12px 0 0;
	text-align: right;
	width: 100px;
}
#popupslider h2{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
}
#popupslider .textbox{
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #9F9F9F;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin: 3px 0 0;
    width: 140px;
}
#closepp{
	background-image: url("../images/close.png");
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	float:right;
	margin-top:5px;
}
.discPopUp{
	position: fixed;
	width:400px;
	height:230px;
	background:#fff;
	bottom:-180px;
	right:0;
	border:2px solid #f1c800;
	z-index:999;
	display:none;
	color:#494949;
}
#overlay123
{
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
	bottom:0;
    width: 100%;
    height: 100%;
    display: none;
	background: url("../images/overlay.png") repeat scroll 0 0 transparent;
}

/* For Multi Pickup Location for Self Drive - Iqbal - 21-11-2013 */
.selectcarmidSF {
	width:775px;
	float:left;
	margin:15px 0 50px 10px;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.selectcarmidSF .trtp {
	width:755px;
	float:left;
	background:url(../images/trbg.jpg) repeat-x;
	height:15px;
	color:#999;
	font-size:15px;
	font-weight:bold;
	border-radius:8px 8px 0 0;
	padding:13px 0 15px 20px;
}
.selectcarmidSF .trtp label.frst {
	float:left;
	width:280px;
}
.selectcarmidSF .trtp label.snd {
	float:left;
	width:135px;
}
.selectcarmidSF .trtp label.lst {
	float:left;
	width:157px;
}
.selectcarmidSF .repeatdiv {
	width:755px;
	float:left;
	border-bottom:1px solid #e6e6e6;
	padding: 10px;
}
.selectcarmidSF .repeatdiv .boknw {
	float:right;
	width:120px;
	height:42px;
	padding-top: 15px;
}
.selectcarmidSF .repeatdiv .boknw a {
	float:right;
	width:120px;
	height:42px;
	background:url(../images/booknow1.jpg) no-repeat left top;
	text-indent:-9999px;
}
.selectcarmidSF .repeatdiv .boknw a:hover {
	background-position:0 -42px;
}
.selectcarmidSF .repeatdiv .boknw .save{
	color:#000;
	font-size: 15px;
	display:block;
	margin:5px 0px;
}
.selectcarmidSF .repeatdiv .boknw .save .savers{
	color:#ff6600;
	font-size: 20px;
	
}
.selectcarmidSF .repeatdiv .typefcr {
	width:333px;
	float:left;
}
.selectcarmidSF .repeatdiv .typefcr .imgdv {
	float:left;
	width:163px;
}
.selectcarmidSF .repeatdiv .typefcr .infdv {
	float:left;
	padding-top:15px;
	width:150px;
	font-size:16px;
	text-align: left;
}
.selectcarmidSF .repeatdiv .typefcr .infdv span {
	font-size:16px;
	color:#000;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .capcity {
	width:90px;
	float:left;
	padding-top:15px;
}
.selectcarmidSF .repeatdiv .capcity label.noof {
	background:url(../images/noof.jpg) no-repeat;
	float:left;
	color:#fff;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	width:36px;
	height:35px;
	line-height:35px;
}
.selectcarmidSF .repeatdiv .capcity label.tx {
	float:left;
	font-size:14px;
	padding:10px 0 0 10px;
}
.selectcarmidSF .repeatdiv .price {
	width:190px;
	float:left;
	font-size:12px;
	color:#666;
	line-height:20px;
	padding-top: 15px;
}
.selectcarmidSF .repeatdiv .price a{
	color: #666666;
    text-decoration: underline;
}
.selectcarmidSF .repeatdiv .boknw input {
    background: url("../images/booknow-myles.png") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 42px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 120px;
    
}
.selectcarmidSF .repeatdiv .price span {
	font-size:18px;
	color:#666666;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.out {
	font-size:18px !important;
	color:#666666;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.new {
	font-size:18px;
	color:#db4626;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.old {
	font-size:14px;
	color:#666666;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.newp {
	font-size:18px;
	color:#666666;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.newo {
	font-size:18px;
	color:#666666;
	font-weight:bold;
}
.selectcarmidSF .repeatdiv .price span.sep {
	height:1px;
	width:200px;
	border-bottom:solid 1px #d1d1d1;
	display:block;
	margin:10px 0px;
}
.selectcarmidSF .repeatdiv .price a {
	color:#666;
	text-decoration:underline;
}
.selectcarmidSF .repeatdiv .price a:hover {
	text-decoration:none;
	color:#000;
}

.SFilter {
	width:184px;
	float:left;
	margin:15px 0 50px 0px;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.SFilter .trtpSF {
	width:174px;
	float:left;
	background:url(../images/trbg.jpg) repeat-x;
	height:15px;
	color:#999;
	font-size:16px;
	font-weight:bold;
	border-radius:8px 8px 0 0;
	padding:13px 0 15px 10px;
}
.SFilter .trtpSF label.frst {
	float:left;
	width:174px;
}
.SFilter .typefcr{
	width:160px;
	float:left;
	padding: 5px;
}

.myles{
	padding: 10px 0px;
	float: left;
	width:100%;
}
.myles h2{
	 font-size: 17px;
    padding: 0 0 5px;
}
.myles .carrows{
	width:100%;
	float: left;
	padding: 7px 0px;
	border:solid 1px #D2D0D1;
}
.myles .cell{
	color:#db4626;
	font-size: 13px;
	float: left;
	line-height: 20px;
	padding: 5px 8px;
}
.top{ width:960px; margin:auto; padding:0 0 10px 0; background-color:#fff;}
.cor-logo{ padding:10px; width:214px; float:left;}
.social-icon { width:auto; float:right;text-align: center;}
.social-icon ul {width:222px;margin:0 auto;}
.social-icon li { float:left; padding:5px 5px 5px 0; margin:0; list-style:none;}
.login { font-size:12px; color:#000; padding:35px 0 0 0; margin-right:13px;}
.login a{color:#000; text-decoration: none;}
.top-header{ width:100%; background-color:#000; margin:0 0 20px 0; float:left;}
.top-mid{ width:960px; margin:auto; padding:0; font-size:18px; color:#FFF;}
.top-mid li {border-left: 1px solid #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 15px 30px;
}
.top-mid li a{color:#fff; text-decoration: none;}
.top-mid li.active{background-color: #ffd328;}
.top-mid li.active a{color:#000;}
.top-mid ul { padding:0; margin:0;}
.top-number{width: 238px;
float: right;
color: #ffd227;
padding: 13px 3px 0 0px;
font-size: 18px;
font-weight: normal;
text-align: right;} 
.top-number2{ font-size:12px; color:#fff;}




.btn-special {
    background-color: #FCE359;
	text-decoration:none;
    background-image: linear-gradient(#FCE359, #FED231);
    border: 1px solid #E5B50F;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 1px 1px rgba(255, 255, 255, 0.12) inset;
    color: #393C3D;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.32);
	display: inline-block;
	line-height: 22px;
	margin-bottom: 8px;
	border-radius: 2px;
	padding:0 5px;
}

.login a {
font-weight: bold;
}

#tpmore{cursor: pointer;}
#tpmore label{opacity: 0;position: absolute;margin: -3px 0 0 -86px;transition: all 0.50s ease-out 0s;z-index: 20;background-color: #000 !important;top:130px;}
#tpmore ul{position: relative; display: none;width:300px;font-size:16px;font-weight:normal;border-top:solid 1px #ffd227;padding:5px 0px;}
#tpmore ul li{width: 100px !important;border: none !important;padding: 7px 20px; font-weight:normal;font-size:15px;}
#tpmore:hover label{opacity: 0.95;}
#tpmore:hover ul{opacity: 1;display: block;}

.tbgen
{
	float: left;
    padding: 2px 5px !important;
    width: 190px !important;
	border-radius: 0px !important;
	box-shadow:none !important;
	border:solid 1px #CCCCCC !important;
	height:25px !important;
}

#err
{
	margin-left: 10px;float:left;height:25px;color:#DB4626;
}
.mylesfeedbackfrom
{
	width:900px;
	border:solid 1px #333;
          float:left;
	background-color:#fff;
	padding:0px 0px 25px 25px;
}
.mylesfeedbackfrombtn
{
	width:900px;
	border-left:solid 1px #333;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;
          float:left;
	background-color:#F2F2F2;
	padding:25px 0px 25px 25px;
}
.top-left {
  float:left;
  margin:0px;
  width:900px;
}
.top-left .box {
  float:left;
  margin-right:15px;
  padding:10px 0 0 11px;
  width:150px;
}
.col
{
	width:210px;
	float:left;
	margin:0px 0px 10px 0px;
}
.experience
{
	width:550px;
	float:left;
	margin:10px 0px 0px 0px;
}
.row
{
	float:left;margin:20px 0px 0px 0px;
}
.resp
{
	float:left;margin:15px 0px 0px 0px;
}
.experience input[type=radio]{
	border:solid 1px #a2a2a2;
	margin:2px 2px 0px 20px;
	float:left;
}
.experience input[type=checkbox]{
	border:solid 1px #a2a2a2;
	margin:2px 2px 0px 20px;
	float:left;
}
input[type=checkbox]{
	margin:2px 2px 0px 5px;
	float:left;
}
label{
	float:left;
	margin:1px 0px 0px 2px;
}
.experience label{
	float:left;
	margin:1px 0px 0px 2px;
}
.ddl
{
	float:left;width:200px;padding:5px;
}
.tbox
{
	float:left;width:200px;padding:5px;
}
#wwr
{
	float:left;display:none;margin-top:20px;
}
textarea
{
	font-family:Arial;padding:5px;float:left;font-size:12px;
}
/*.middiv
{
	float:left;
	height:500px;
	overflow-y:scroll;overflow-x:hidden;
}*/

.derive_service {
    float: left;
    margin: 30px 0 0 40px;
    /*width: 82%;*/
	width:900px;
}
.fma {
    font-family: arial !important;
}
.city_select {
    float: left;
    width: 100%;
}
#enter_city {
    float: left;
    width: 360px;
}
.city_text {
    float: left;
    margin: 10px 0 0;
    width: 230px;
	font-size:15px;
}
.location {
    float: left;
    width: 250px;
}
.labeler:before {
    background: url("../images-myles/orange.png") no-repeat scroll 0 0 #F8F8F8;
    content: "";
    display: block;
    height: 32px;
    padding: 0 5px 5px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -2px;
    width: 23px;
}
.labeler:after {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 5px;
    pointer-events: none;
    position: absolute;
}
.labeler {
    position: absolute;
}
.select_box {
    float: left;
    margin: 50px 0 0;
    width: 88%;
}
.shoe_detial {
    float: left;
    margin: 6px 0 0 30px;
    text-align: right;
}
.shoe_detial {
    text-align: right;
}
.show_city {
    color: #E04627;
    font-size: 14px;
}
.show_city {
    color: #E04627;
    float: left;
    font-size: 14px;
    margin: 0;
    width: 100%;
}
#selfdriveDiv
{
	float:left;
	width:950px;
	display:none;
	margin:30px 0px 0px 4px;
	background-color:#ffffff;
}
.datepicksd {
    background-color: #F8F8F8;
    border-bottom: 1px solid #FF0000 !important;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #999999;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 20px;
    padding: 2px 5px;
    width: 120px;
}
.datepicksd input[type="text"] {
    background-color: #F8F8F8;
    background-image: url("../images-myles/datepick.png");
    background-position: right -2px;
    background-repeat: no-repeat;
    border: medium none;
    color: #9F9F9F;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 20px;
    width: 120px;
}
.genselect
{
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 #F8F8F8 !important;
    border-bottom: 1px solid #FF0000 !important;
    border-image: none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    box-shadow: -1px -1px #CCCCCC, 0 -1px #FFFFFF inset !important;
    color: #888888 !important;
    cursor: pointer !important;
    height: 31px !important;
    padding-top: 8px !important;
    width: 150px !important;
}
.w80 {
    width: 80px !important;
}
.cartext {
    float: left;
    font-size: 16px;
    width: auto;
}

.btn {
    background-color: #282828;
    border-bottom: 2px solid #E04627 !important;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin: 0px 0 0px;
    padding: 5px 0;
    text-align: center;
    width: 120px;
}

.book_text {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    padding: 15px 0 15px 15px;
    width: 94%;
}
.bookmyles {
    background-color: #E04627;
    float: left;
    width: 250px;
	position:relative;
	left:-5px;
}
.mt20 {
    float: left;
    margin-top: 20px !important;
}
#typewrap
{
	float:left;
	width:200px;
	margin:0px 0px 20px 0px;
}
#typewrap .sel
{
	background-color:#fff;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	border:solid 1px #E3E3E3;
}
#typewrap .unsel
{
	background-color:#DB4626;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	border:solid 1px #DB4626;
	cursor:pointer;
}
#hourly,#daily
{
	float:left;
	padding:10px;
	margin:0px;
}
.oneliner
{
	float:left;
	width:100%;
	margin:0px 0px 20px 0px;
}
.from
{
	min-width: 248px;
    padding:5px 5px 7px 5px;
	float:left;
	border: none;
}
.picktime
{
	border: none;
	min-width: 218px !important;
	background-image: url("../images/datepick.png");
	background-repeat:no-repeat;
	background-position:left -1px;
	padding-left:30px;
}
.fromdd
{
	min-width: 248px;
    padding:3px 5px 7px 3px;
	float:left;
	border:none;
	color:#666666;
}
.fromdd2
{
	min-width: 255px;
    padding:3px 5px 7px 3px;
	float:left;
	border: none;
	color:#666666;
}
/*----------kaushal----------*/
#middle .yellwborder h2.heading2{
color:#806A00;
font-size:23px;
}
.regi_l{
display:inline-block;
float:left;
}
.regi_r{
float:left;
margin-bottom:0;
margin:14px 0 0 7px;
color:#6D6D6D;
}
.border-radius{
margin:5px 0 40px 18%;
width:60%;
background:#fff;
/*border:1px solid #F0F0F0;
border:1px solid rgba(0,0,0,0.2);*/
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
box-shadow:0 2px 5px 3px #C8C8C8;
-moz-box-shadow:0 2px 5px 3px #C8C8C8;
-webkit-box-shadow:0 2px 5px 3px #C8C8C8;
-o-box-shadow:0 2px 5px 3px #C8C8C8;
}
.businessEnquiry .heading{
font-size:22px;
margin-bottom:15px;
}
.forgotPassword a, 
.aboutus p a{
color:#666;
text-decoration:none;
}
.forgotPassword a:hover, 
.aboutus p a:hover{
color:#000;
text-decoration:none;
}
.main .aboutus{
width:97%;
padding:15px;
}
.main .aboutus ul{
padding:0px;
margin:20px;
}
.main{
text-align:justify;
}
.aboutus .tabcontent ol{
margin:20px;
}
.aboutus .tabcontent ol, 
.aboutus .tabcontent p, 
.main .aboutus p, 
.main .aboutus ul{
line-height:20px;
}
.main .aboutus h3{
margin:10px 0;
}
.businessEnquiry .submit.register a {
background: url("../images/register.jpg") no-repeat scroll 0 0 transparent;
width:161px;
}
.businessEnquiry .submit.register a:hover {
background: url("../images/register.jpg") no-repeat 0 -42px;
width:161px;
}
.businessEnquiry .submit.login a {
background: url("../images/login.jpg") no-repeat scroll 0 0 transparent;
width:128px;
}
.businessEnquiry .submit.login a:hover {
background: url("../images/login.jpg") no-repeat 0 -42px;
}
.businessEnquiry .submit.subm a {
background: url("../images/subm.jpg") no-repeat scroll 0 0 transparent;
width:128px;
}
.businessEnquiry .submit.subm a:hover {
background: url("../images/subm.jpg") no-repeat 0 -42px;
}
.businessEnquiry .booking.print_booking a {
background: url("../images/print_booking.jpg") no-repeat scroll 0 0 transparent;
width:205px;
}
.businessEnquiry .booking.print_booking a:hover {
background: url("../images/print_booking.jpg") no-repeat 0 -42px;
}
.businessEnquiry .booking.print_booking {
margin-left:100px;
}
.businessEnquiry .submit.login, 
.businessEnquiry .submit.subm {
margin-left:24px;
padding:0px;
}
.businessEnquiry .submit.register {
margin-left:56px;
}
span.heading a{
color:#797979;
}
/*--- 18/06/14 ---*/
.middle_width{
width:959px;
margin:0 auto;
}
.middle_width .mainmenu{
margin-left:0px;
}
.middle_width #pushobj .questiontxt {
width:660px;
}
#footer{
width:99% !important;
}
.wrapper {
padding-bottom:30px;
}

.citilist{
	margin: 0 auto;
	padding:10px 0;
	width:105%;
	margin-left:-5px;
	margin-top: 12px;
	background: #f8f7f7;
	border: 1px solid #E0E0E0;
		text-align:center;
}
.citilist a{
	color: #666;
	text-decoration: none;
	padding:0 4px;
	text-transform: uppercase;
	font-size: 6.5pt;
}

ol li{
padding-bottom:10px;
}
.ladakhPopUp{
	position: relative;
	display: none;
	background-color: #df4727;
	width: 420px;
	height: 105px;
	z-index: 210;
	left: 160px;
}
.ladakhPopUp .ldk{
	float: left;
	position: absolute;
	top: 20px;
	left: 15px;
}
.ladakhPopUp .ldk .cnfBtn{
	text-align: right;margin-top: 10px;
}
.ladakhPopUp img{
	border:0;
}
.register{
color:#000;
}

.autosuggestion{
width:310px; height:34px; margin: auto;font-family:arial !important; float: left;border:1px solid #a2a2a2;outline:none;}
#suggesstion-box{
position: absolute;
z-index: 9999999999;
top: 125px;
background: #fff;
width: 308px;
border: 1px solid #A2A2A2;
display:none;
}
#suggesstion-box ul li, 
#suggesstion-box span{
padding-left:5px;
line-height:25px;
cursor:pointer;
}


/*----- myles_franchise start -----*/

.myles_franchise{
float:right;
width:90px;
background:#282828;
border-bottom:2px solid #e14628;
line-height:29px;
display:inline-block;
text-align:center;
height:29px;
margin-right:2px;
}
.myles_franchise a{
color:#fff;
width:100%;
}
.myles_franchise a, 
.myles_franchise a:hover{
text-decoration:none;
}

/*----- myles_franchise end -----*/

/*-- Footer start --*/
.citilist.footer_list a{
line-height:20px;
padding:0 5px;
border-right:1px solid #666;
}
.citilist.footer_list a.br_none{
border-right:0;
}
.citilist.footer_list span{
display:block;
}
/*-- Footer end --*/
.w1130{
width:1130px;
margin:0 auto;
} 
.jcarousel-skin-tango #mycarousel-m.jcarousel-list-horizontal{
left:0px;
}

.term_head{
margin: 0 auto;
width: 99%;
background-color: #DB4425;
height: 40px;
line-height: 40px;
color: #fff;
font-size: 15px;
padding-left: 1%;
}
.loader4{
  font-size:16px;
  padding-bottom:10px;
  color:#1A16B8;
}


/*--------- Popup content for flexi search start ----------*/

.pop_flexi, 
.flaxi_option{
width: 100%;
height: 100%;
opacity: 0.7;
top: 0;
left: 0;
display: none;
position: fixed;
background-color: #313131;
overflow-y: scroll;
overflow-x: hidden;
z-index: 99;
}
.relative{
position:relative;
}
.close_popup{
position:absolute;
right:22px;
top:6px;
}
.close_popup a:hover{
text-decoration:none !important;
}
.close_popup a{
text-decoration:none;
color:#000;
font-size:19px;
font-weight:bold;
position:fixed;
}
.mr3{
margin-right:3%;
}
div.pop_flexi{
osition: absolute;
left: 45%;
top: 17%;
margin-left: -202px;
width: 600px;
max-height:240px;
background-color: #fff;
z-index: 999;
opacity: 1;
-moz-box-shadow:4px 4px 30px #130507;
-webkit-box-shadow:4px 4px 30px #130507;
box-shadow:4px 4px 30px #130507;
-moz-transition:top 800ms;
-o-transition:top 800ms;
-webkit-transition:top 800ms;
transition:top 800ms;
font-size:12px;
overflow:auto;
}

a.pflexi {
width: 16%;
border-radius: 3px;
background: #E04727;
color: #FFF;
font-family: 'Raleway', sans-serif;
font-size: 13px;
cursor: pointer;
outline: none;
border: none;
margin-left: 35px;
margin-bottom: 7px;
display: inline-block;
text-align: center;
line-height: 20px;
}
.boknw.next_avai label{
font-size:14px;
text-align:left;
width:147px;
}
.selectcarmidSF .repeatdiv .boknw.next_avai a,
.selectcarmidSF .repeatdiv .boknw.next_avai label b{
margin-left:34px;
}
.pop_flexi .row{margin-top:0px;}
.pop_flexi h1{
border-bottom:2px solid #db4625;
width:100%;
font-size:15px;
text-align:center;
line-height:45px;
}
.p20{padding:20px;}
a.pflexi:hover {
background:#000;
text-decoration:none !important;
}
.boknw b{
font-size:12px;
}
.row{
width:100%;
padding-bottom:5px;
}
.clr{
clear:both;
}
.f_l{
float:left;
}
.w_24{
width:24%;
}
.w_12{
width:12%;
}
.mr5{
margin-right:5%;
}
.pop_flexi span{
padding-bottom:5px;
font-weight:bold;
font-size:11px;
display:block;
}

.pop_flexi input{
border:1px solid #B8B8B8;
background:#fff;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
-moz-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
line-height:25px;
height:25px;
padding-left:5px;
margin-bottom:10px;
width:100%;
}
.pop_flexi input[type="button"]{
width:100%;
background:#DB4626;
color:#fff;
cursor:pointer;
float:left;
padding:0px;
text-align:center;
line-height:28px;
outline:none;
border:none;
margin-top:17px;
}
.pop_flexi input[type="button"]:hover{
background:#000;
}
.pflexi img{position:relative;top:1px;}
a.next_available_flex{
background:#A8A8A8 !important;
height: 20px !important;
margin-bottom: 10px;
line-height: 20px !important;
width: 90% !important;
text-indent: 0 !important;
border-radius: 3px;
float: left !important;
text-align: center;
color: #FFF;
font-size: 13px;
text-decoration:none;
}
a.next_available_flex:hover{text-decoration:none;background:#000 !important;}
.boknw.next_avai label{margin:0px !important;}
.repeatdiv .car_description{
background:#efefef;
color:#000;
padding:1%;
width:98%;
margin-bottom:10px;
}
.car_description ul{margin:5px 0 0 25px;}
.currentTab {
    color: #000 !important;
    background-color: #fff !important;
}
.top-mid li.currentTab a {
    color: #000 !important;
    text-decoration: none;
}

.selectcarmidSF .repeatdiv .price span.new span{
color:#db4626;
font-size:13px;
display:block;
}
.tabcontent .selectcarmidSF .repeatdiv .price span.new{
color:#666666;
font-size:12px;
}



/*** billing start**/
.selectcarmidSF .repeatdiv .price.billing span {
color:#E04727;
font-size:15px;
}
.selectcarmidSF .repeatdiv .price.billing span a{text-decoration:none;color:#E04727;}
.selectcarmidSF .repeatdiv .price.billing span span.old_bill,
.selectcarmidSF .repeatdiv .price.billing span span.new_bill{
color:#666666;
font-size:12px;
text-align:left;
display:block;
}
.selectcarmidSF .repeatdiv .price.billing span span.new_bill span{
color:#E04727;
font-size:12px;
}
.tabcontent .selectcarmidSF .repeatdiv .price span.new.block{
display:block;
padding-bottom:0;
text-align:left;
}
.adjust {
    background-color: #E04727;
    line-height: 17px;
    height: 17px;
    color: #fff;
    padding: 0 5px;
    width: 46px;
    font-size: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}
/*** billing end**/




.pay_design{
width:181px;position:relative;right:10px;
}
.top-mid li{padding:10px 30px;}
.top-mid li#outstationLI.currentTab{padding:9px 30px;margin-top:1px;}
/*-------------- Tabcontent ---------------*/
.shadetabs{padding:0;margin-left:0;margin-bottom:0;list-style-type:none;text-align:left;float:left;width:444px}.shadetabs li{float:left;margin:0}.shadetabs li a{text-decoration:none;position:relative;z-index:1;padding:8px 9px 8px 10px;margin:0;color:#adadad;font-family:Arial;text-decoration:none;font-size:14px;float:left}.shadetabs li a:hover{color:#20201e}.shadetabs li a.selected{position:relative;bottom:9px;padding-top:19px;background:url(../images/tbhvr.jpg) repeat-x 6px;border-left:1px solid #ccc;border-right:1px solid #ccc;color:#20201e}.tabcontent{display:block}.tber{width:100%;float:right;margin:20px 0 0}.tber .lne{width:600px;float:left;height:1px;margin:0 0 16px;padding:0;background:#dddcdd}.tber p{width:100%;float:left;padding:0 0 14px}.tber p.bdr{border-bottom:1px solid #e5e5e5}.tber p label{width:186px;float:left;text-align:right;font-size:14px;color:#888;line-height:30px;padding:0 12px 0 0;font-weight:700}.tber p label.big{width:260px!important}.tber p .stxtbox{width:145px;float:left;padding:8px 0 10px 4px;color:#999;font-size:14px;font-weight:700;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset}.ml5{margin-left:5px}.bdrbtm{float:left}.tber p .bigtxtbox{width:300px;float:left;padding:8px 0 10px 4px;color:#999;font-size:14px;font-weight:700;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset}.tber select.wdth145{border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;color:#999;font-size:14px;font-weight:700;height:32px;line-height:32px;margin-bottom:10px;padding:2px 5px;width:145px}.tber select.wdth60{border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;color:#999;font-size:14px;font-weight:700;height:32px;line-height:32px;margin-bottom:10px;padding:2px 5px;width:70px!important}.tber p textarea{width:306px;float:left;padding:8px 0 10px 4px;color:#999;font-size:14px;font-weight:700;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;font-family:Arial}.tber select option{padding-left:12px;font-size:14px;font-weight:400;color:#666}.tber select{border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;color:#999;font-size:14px;font-weight:700;height:32px;line-height:32px;margin-bottom:10px;padding:2px 5px;width:308px}.tber select option{padding-left:12px;font-size:14px;font-weight:400;color:#666}.tber .mkebtn input{background:url(../images/makebtn.png) no-repeat scroll left top transparent;border:0 none;cursor:pointer;float:right;height:52px;line-height:0;overflow:hidden;text-indent:-9999px;width:271px}.tber .mkebtn input#btnMakePaymentSF{background:url(../images/myles-makebtn-2.png) no-repeat scroll left top transparent!important}.frselt{overflow:hidden;width:267px;float:left;height:35px;margin:0;background:#fff;border:#ccc solid 1px;box-shadow:1px 1px 3px #ccc;border-radius:4px;background:url(../images/arrow.jpg) no-repeat scroll 247px 15px #fff}.multi{background:#faeaa3;border:#efc14d solid 1px;border-radius:4px;color:#d68300;font-size:12px;float:left;padding:7px 10px 5px;text-decoration:none;margin:20px 0 0}.tber span.datepick{border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;color:#999;font-size:16px;font-weight:700;height:32px;line-height:32px;padding:2px 5px;width:190px;float:left;display:block}.tber span.datepick input[type="text"]{width:190px;float:left;background:#fff;border:none;font-size:14px;font-weight:700;color:#9f9f9f;line-height:28px;height:28px;margin:3px 0 0;background:url(../images/datepick.png) no-repeat right 0!important}.tber span.datepick a{width:30px;height:30px;display:block;text-decoration:none;float:right;margin-top:2px;border-left:solid 1px #CCC}.tber span.datepick a:hover{background:url(../images/datepick.png) no-repeat 0 -30px}.tber .mkebtn{float:right;width:271px;height:52px}.tber .mkebtn a{float:right;background:url(../images/makebtn.png) no-repeat left top;width:271px;height:52px;text-indent:-9999px}.tber .mkebtn a:hover{background-position:0 -52px}.shadetabsl{padding:0;float:right;margin-left:0;margin-bottom:0;list-style-type:none;text-align:left}.shadetabsl li{float:left;margin:0}.shadetabsl li a{text-decoration:none;position:relative;z-index:1;padding:7px 50px 8px;color:#999d9f;margin:0;font-family:Arial;text-decoration:none;font-size:14px;background:url(../images/tabl.gif) repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:solid 1px #e0e0e0;font-weight:700}.shadetabsl li.outstaion a{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}.shadetabsl li.local a{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}.shadetabsl li a:hover{background:url(../images/tabh.gif) repeat-x;border:solid 1px #ccc}.shadetabsl li a.selected{background:url(../images/tabh.gif) repeat-x;color:#373737;border:solid 1px #ccc}.righttb{width:356px;background:#fff;float:left;border:1px solid #ccc;border-radius:4px;margin:15px 0 0 43px;text-align:center;padding:4px 0 5px}.rtlowbox{width:356px;background:#fff;float:left;border:1px solid #ccc;border-radius:4px;margin:10px 0 0;text-align:center}.rtlowbox .holder{width:345px;background:#f7f7f7;float:left;border:1px solid #ececec;margin:3px 5px;text-align:center;padding:23px 0}.uldiva{width:444px;float:left;margin:3px 0 0;height:34px;background:url(../images/tb.jpg) no-repeat}.shadetabsabout{padding:0;margin:0;margin-bottom:0;list-style-type:none;text-align:left}.shadetabsabout li{display:block;margin:0}.shadetabsabout li a{margin:0;padding:10px 0 10px 30px;display:block;border-bottom:solid 1px #d9d8d8;text-decoration:none;font-size:15px;color:#a2a2a2}.shadetabsabout li a:hover{color:#333}.shadetabsabout li a.selected{color:#333;font-size:16px;display:block;background:#fff;border-top:solid 1px #e5e5e5;box-shadow:1px 2px 3px #f0f0f0;position:relative;left:-1px}@media print{.tabcontent{display:block!important}}.tberlease{width:280px;float:right;margin:20px 0 0}.bdrbtmlease{float:left;margin-bottom:5px}.tberlease p{width:250px;float:left;margin-left:32px;padding:0 0 14px}.tberlease p .bigtxtbox{width:210px;float:left;padding:8px 0 10px 4px;color:#999;font-size:14px;font-weight:700;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset}.tberlease select{border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset;color:#999;font-size:14px;font-weight:700;height:32px;line-height:32px;margin-bottom:10px;padding:2px 5px;width:210px}.bannertexbox{width:530px;float:left;margin:180px 0 0}.banner-marin{float:left;margin-bottom:5px}.bannertexbox p{width:530px;float:left;margin-left:37px;padding:0 0 14px}.bannertexbox p .bigtxtbox{width:140px;float:left;padding:4px 0 6px 4px;color:#999;font-size:10px;margin-right:5px;font-weight:700;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:0 2px 3px #DDD inset}.tber .mkebtn input#btnMakePaymentSF{background:url(../images/myles-makebtn-2.png) no-repeat scroll left top transparent!important}
/*-------------- global ---------------*/
#ribbon{position:absolute;top:-3px;left:-15px;z-index:500}#frame{position:absolute;z-index:0;width:739px;height:341px;top:-3px;left:-80px}#slides{width:356px;float:left;position:relative}#slidesLocal,#slidesOutstation,#slidesSelfDrive{width:356px;float:left;position:relative}#slidesInt{width:356px;float:left;position:relative}.slides_container{width:356px;overflow:hidden;position:relative;display:none}.slides_container div.slide{width:344px;height:381px;display:block;margin-left:6px}.slides_container div.slide a img{border:solid 1px #c1c1c1;float:left}.slides_container div.slide.tst{height:140px}#slides .next,#slides .prev{position:absolute;top:107px;left:-39px;width:24px;height:43px;display:block;z-index:101}#slides .next{left:585px}.pagination{margin:0;width:200px;position:absolute;float:right;top:96%;left:6%;z-index:1000}.pagination li{float:left;margin:0 3px;list-style:none}.pagination li a{display:block;width:14px;height:0;padding-top:15px;background-image:url(../images/pagination.png);background-position:0 0;float:left;overflow:hidden}.pagination li.current a{background-position:0 -16px}.caption{z-index:500;position:absolute;bottom:-35px;left:0;height:30px;padding:5px 20px 0;background:#000;background:rgba(0,0,0,.5);width:540px;font-size:1.3em;line-height:1.33;color:#fff;border-top:1px solid #000;text-shadow:none}.testiml{width:221px;float:left;background:#fff;border-top:#60aaf0 solid 1px;margin:10px 0 0;border:#b4d7f8 solid 2px;border-radius:10px;padding:13px 12px;position:relative;font-style:italic;line-height:18px}.testiml .dr{position:absolute;right:10px;bottom:-12px;background:url(../images/drop.png) no-repeat;width:31px;height:12px}.dispdetails{float:left;height:auto;margin:0 0 20px 20px;width:auto;background-color:#c2c2c2;padding:7px;height:110px;width:150px;text-align:center;border-radius:5px;list-style:none}.dispdetails a{color:#000;text-decoration:none}.dispdetails a:hover{text-decoration:underline}.texttitle{font-size:12px;margin-top:5px;text-align:center}.ruline{text-decoration:none}a:hover{text-decoration:underline}.logout{float:right;margin:10px 110px 0 0;font-weight:700;color:#fff}.search_table{background-color:#252525;color:#fff;padding:5px}.doBold{font-weight:700}#divSignInUp{float:left;font-size:14px;padding:20px 25px;text-align:left;width:550px;height:400px;overflow:scroll}.floatingDiv2{background-color:#FFF;display:none;float:left;font-size:20px;position:absolute;text-align:center;width:350px;z-index:101}.closepopopup{float:right;font-size:12px;margin-bottom:10px}#registration{float:left;position:absolute;z-index:9999999999999!important;display:none;background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:10px solid #F2C900;padding:10px 0 0 65px}#feedbackpopupRED,#feedbackpopupYELLOW{right:0;top:58%;position:fixed;width:32px;height:101px;background-image:url(../images/feedback-r-2.jpg);background-repeat:no-repeat;z-index:98}#feedbackpopupYELLOW,#enyellowbuttonID{display:none}#regclose{padding:15px 0}#registration .submit a{background:url(../images/submit.jpg) no-repeat scroll 0 0 transparent;float:right;height:42px;text-indent:-9999px;width:104px}#registration .submit input{background:url(../images/submit.jpg) no-repeat scroll 0 0 transparent;float:right;height:42px;text-indent:-9999px;width:104px;border:none;cursor:pointer}.fl{float:left;margin-right:30px}#registration .fieldrow input[type="text"],#registration .fieldrow input[type="password"],#registration .fieldrow select{width:175px;padding:2px 5px;height:23px;line-height:23px;font-size:14px;color:#999;font-weight:700;border:solid 1px #ccc;background:#FFF;webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset #ddd 0 2px 3px;-moz-box-shadow:inset #ddd 0 2px 3px;box-shadow:inset #ddd 0 2px 3px}#registration .fieldrow textarea{width:275px;padding:2px 5px;height:32px;line-height:32px;font-size:14px;color:#999;font-weight:700;border:solid 1px #ccc;background:#FFF;webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset #ddd 0 2px 3px;-moz-box-shadow:inset #ddd 0 2px 3px;box-shadow:inset #ddd 0 2px 3px}#finishmess{padding:15px 0 0 30px}#brandshow{float:left;position:absolute;z-index:1000!important;display:none;background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:10px solid #F2C900;padding:0}#nbd_head{width:978px;height:120px;background-image:url(../images/nbd_head.gif);background-repeat:no-repeat;float:left;padding:115px 0 0 20px;color:#fff}.p1{float:left;width:100%;font-size:33px;font-weight:700;line-height:35px}.p2{float:left;width:100%;font-size:22px;font-weight:700;line-height:35px}.p3{float:left;width:100%;font-size:15px;font-weight:400;line-height:25px}.pmsg{float:left;width:100%;font-size:18px;font-weight:400;line-height:23x;color:#404041;padding:20px}.nbd_center{margin:0 auto;position:relative;width:998px}#nbd{float:left;width:958px;padding:20px}.sd,.os{width:100%;float:left;margin-bottom:20px}.bggreen{background-color:#3a554b}.bgorange{background-color:#db6126}.secband{float:left;width:100%;height:45px;color:#fff}.secband span{float:left;font-size:26px;display:block;font-weight:400;width:680px;padding:5px 10px}.secband ul{float:left;list-style-type:none;margin:5px 0 0;padding:0}.secband ul li{float:left;list-style-type:none;margin:10px 0 0;padding:0}.secband ul li img{margin:5px 13px 0;padding:0}.dm{background-color:#344873;border-radius:10px 10px 10px 10px;color:#fff;font-size:15px;padding:5px 15px;text-align:center;text-decoration:none;font-weight:700;margin:13px 0 0 62px;display:block;float:left}.dm:hover{text-decoration:none}.block{width:238px;float:left;text-align:center;border-right:solid 1px #dfe0e1;padding-bottom:10px}.cname{font-weight:700;color:#58595b;font-size:16px}.price{font-weight:700;color:#58595b;font-size:12px}.greybandcol{float:left;width:100%;height:25px;background-color:#a09f8e}.greybandcol img{float:left;padding:10px}.greybandcol span{float:left;width:90%;color:#fff;font-weight:700;font-size:17px;padding:0 0 2px 15px}.table{width:640px;float:left}.linksection{width:300px;float:left;margin:30px 0 0 10px}.linksection p{width:100%;float:left;font-weight:700;font-size:11px;color:#231f1f}.ndr{font-weight:700;color:#404041l;font-size:18px}.table td{text-align:center;font-size:14px;padding:8px;border:solid 1px #d6d8d9}.table tr:hover{background-color:#e2e2dd}.tr{background-color:#404041;color:#fff!important}.tr td{font-size:16px!important}.tr:hover{background-color:#404041!important}.lalign{text-align:left!important;padding-left:35px!important}.pt{list-style-type:none;float:left;margin:33px 0 0!important;padding:0;width:140px}.pt li{float:left;margin:10px 0 0;padding:0}.pt li a{background-color:#344873;border-radius:10px 10px 10px 10px;color:#fff;font-size:12px;padding:4px 15px;text-align:center;text-decoration:none;font-weight:700;display:block;float:left}.collapse ul{float:left;margin:0;padding:0 0 10px;width:140px!important}#connectwithus{float:left;width:950px;height:103px;margin:0 0 10px}#footerfader{float:left;width:950px}#image_rotate{float:left;width:100%;margin:20px 0}#image_rotate img{float:left;width:958px;margin:0}.tc{float:right;color:#404041;margin:10px 5px 10px 0}#detailsForm{float:left;position:absolute;z-index:1000!important;display:none;background-color:#fff;padding:25px;color:#a09f8e;width:600px}.pp1{float:left;width:100%;font-size:30px;font-weight:400}.pp2{float:left;width:100%;font-size:17px;font-weight:400;line-height:25px;margin-top:10px}.prow{float:left;width:100%;font-size:14px;font-weight:400;margin:20px 0 0}.prow .txtbox{width:575px;border:solid 1px #a09f8e;padding:10px;color:#a09f8e}.btnsu{background-color:#a09f8e;color:#fff;font-size:16px;padding:10px 20px;text-align:center;font-weight:700;display:block;float:right;border:none}.mf{color:#db4a28;font-size:11px;float:left}.collapse{width:100%;float:left}.expand a{display:block;padding:1px 10px!important}.expand a:link,.expand a:visited{background-image:url(../images/rrarrow.gif)!important;background-repeat:no-repeat;background-position:8px 50%;height:20px}.expand a.open:link,.expand a.open:visited{background:url(../images/ddarrow.gif) no-repeat 8px 50%!important;height:20px}#goaTC,#sfAddress{float:left;position:absolute;z-index:1000!important;display:none;background-color:#fff;padding:25px;color:#666;width:600px}#goaTC table td,#sfAddress table td{padding:5px!important}.paginationR{margin:0;width:200px;position:absolute;float:right;top:96%;left:6%;z-index:1000}.paginationR li{float:left;margin:0 3px;list-style:none}.paginationR li a{display:block;width:14px;height:0;padding-top:15px;background-image:url(../images/pagination-r.png);background-position:0 0;float:left;overflow:hidden}.paginationR li.current a{background-position:0 -16px}
/*--------- agreement T&C -----------*/
.aboutus input.tc_input{
display:block;
width:70%;
border:1px solid #888888;
padding:5px;
margin-bottom:10px;
color: salmon;
text-align: center;
width: 96%;
padding: 10px;
font-weight: bold;
}
.aboutus input[type="button"]{
background:#DB4425;
color:#fff;
padding:5px 15px;	
border:none;
outline:none;
}
.leftfieldset .term_head{
height:22px;
line-height:22px;
font-size:12px;
margin:5px 0;
}
.leftfieldset .tabcontent.agreement{
margin-top:20px;
}
.leftfieldset .aboutus{
margin-bottom:0px;
border:1px solid #CCC;
box-shadow:-1px 2px 6px #efefef;
-moz-box-shadow:-1px 2px 6px #efefef;
-webkit-box-shadow:-1px 2px 6px #efefef;
-o-box-shadow:-1px 2px 6px #efefef;
}
.leftfieldset .tabcontent.agreement a.agree_tc{
text-decoration:underline;
color:#4775FB;
font-size:15px;
float:right;	
}

.banner.airport .lfts .book{width:auto;}
.banner.airport{padding:0px;}
.footer_appbg{display:none;}





/*----------mahesh------*/
.tber p  { padding:0 0 10px 0!important;}
.tber p label { width:230px;}
.mkebtnNew input { width:38%; display:block; height:auto; padding:10px 30px; color:#fff; text-align:center; font-size:20px;  border:0;
 background: #fe9b00; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(#fe9b00, #f6b700); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#fe9b00, #f6b700); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#fe9b00, #f6b700); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#fe9b00, #f6b700); /* Standard syntax */

 }
 
 .mkebtnNew input { border:0;}  
 .NewFormDesign { width: 60%; float: none; margin: 0 auto;}
 
 .NewFormDesign input { border-radius:0px !important;}
 .NewFormDesign .location span.customStyleSelectBox { border-radius:0px !important; box-shadow:none !important; height:28px !important; margin:0px !important; }
 .NewFormDesign span.cities, .myprofile p span { border-radius:0px !important; box-shadow:none !important; height:28px !important; margin:0px !important; }
 .NewFormDesign span.datepick { border-radius:0px !important; box-shadow:none !important; width:300px!important; height:28px !important; margin:0px !important;}
 .NewFormDesign span.datepick input[type="text"] { width:300px!important; margin:0px !important; height:28px !important;}
 .NewFormDesign  textarea  { border-radius:0px !important; box-shadow:none !important; height:28px !important; margin:0px !important; }
 
 .NewFormDesign span.cities input[type="text"], .NewFormDesign .myprofile p span input[type="text"] { margin:0px !important;  }
.NewFormDesign .resp { margin:0px !important;}
.marginTop { margin:0px 10px!important; padding:0px!important;}
.paddingTop { padding: 9px 0 0 0; display: block;}
.autosuggestNew { top: 78px;left: 517px; box-shadow:none !important;border-radius:0 !important;}
#thankuPage { display: block; text-align: center; padding: 148px 20px;font-size: 18px;}


.captcha_re{position:relative;}
.captcha_re a { position: absolute !important;top:19px; margin-left:15px;}


.leadout {width:1149px;margin:0 auto;}
.bookout {
    
    font-size: 22px;
    font-family: Arial;
    float: left;
}

