.help { font-size: 14px; color: #888; }
.example div.dull, .example div.flexselect { width: 350px; }
.example div.dull { float: left; }
.example div.flexselect { float: right; }
#president_dull{
display:none;
}