/** Start: to style navigation tab **/
.nav {
  margin-left:0px;
  padding-left:0px;
  list-style: none;
  width:100%;
  background:#e5e5e5;
}

.nav > li > a {
  display: block;
}

.nav-tabs{
  *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}

.nav-tabs > li > a {
  padding:0 52px;
  line-height: 14px;
  color: #0f0f0f;
  text-transform:uppercase;
  font-weight:bold;
  border-right:1px solid #0f0f0f;
}
.nav-tabs > li:last-child > a {
margin-right:0px;
border-right:none;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  line-height:45px;
  text-decoration:none;
  text-transform:uppercase;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  cursor: default;  
}

li {
  line-height: 18px;
}

.tab-content.active{
	display: block;
}

.tab-content.hide{
	display: none;
}

/*------ Page Setting Start ------*/
ul.nav li.active a{
background:#0f0f0f;
color:#fff;
}
.discount_h{
font-family:'outagecut';
font-size:65px;
line-height:85px;
background:#0f0f0f;
display:inline-block;
text-align:center;
width:100%;
color:#fff;
}
.discount_h span{
font-family: 'rupee_foradianregular';
font-size:64px;
padding-right:5px;
}
.ptb20_lr40{
padding:20px 40px;
}
.tab-content h1{
padding:0px;
margin:0px;
font-size:20px;
line-height:30px;
text-transform:uppercase;
}
.tab-content ol{
margin:10px 0px 0px 24px;
padding:0px;
text-transform:uppercase;
}
.tab-content ol li{
font-size:13px;
}
/*------ Page Setting End ------*/
#load{
margin:0 auto;
width:100px;
z-index:1;
position:relative;
}
#load img{
position:absolute;
top:175px;
}
/************* Myles Offer *********/
.myles_head {
margin:20px auto 0;
width:100%;
background-color:#DB4425;
height:40px;
line-height:40px;
color:#fff;
}
.tab-content .myles_list ol{
text-transform:none;
}
ul.nav.myles_nav li.active a{
background:#DB4425;
}
ul.nav.myles_nav li.active a:after {
left: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(240, 240, 240, 0);
border-left-color: #DB4425;
border-width: 22px;
margin-top: -23px;
}
ul.nav.myles_nav li{
width:100%;
padding:0px;
position:relative;
}
ul.nav.myles_nav > li > a{
padding:0 0 0 20px;
}
.w_25{
width:25%;
}
.w_73{
width:73%;
}
.f_l{
float:Left;
}
.mr2{
margin-right:2%;
}
.cor_nav .tab-content{
background-color:#F5F5F5;
padding:15px;
border:1px solid #E5E5E5;
}
ul.nav-tabs.myles_nav > li > a{
border-right:none;
}
ul.winner{
margin:10px 0px 15px 20px;
}
img.myles_img{
padding-top:20px;
}
.tab-content .accordion p{
padding:0px;
border-left:0px;
border-right:0px;
}
.accordian_show,
.accordian_show2,
.accordian_show3,
.accordian_show4,
.accordian_show5{
border-left:solid 1px #c4c4c4;
border-right:solid 1px #c4c4c4;
}
table.tax tr:first-child td {
background:#DB4425;
}
table.tax {
border-collapse:collapse;
color:#000;
margin:10px 0;
}
table.tax, table.tax td {
border:1px solid black;
}
table.tax tr:first-child td {
color:#fff;
}
table.tax tr td {
height:26px;
padding-left:5px;
}
.f_l{float:left;}
.w_49{width:49%;}
.mr2{margin-right:2%;}
.clr{clear:both;}

.accordion {
width:100%;
border-bottom:solid 1px #c4c4c4;
}
.accordion h3 {
background:#efefef url(../images/sprite.png) 15px 13px no-repeat;
padding: 12px 31px;
margin: 0;
font: bold 120%/100% Arial, Helvetica, sans-serif;
border: solid 1px #c4c4c4;
border-bottom: none;
cursor: pointer;
}
.accordion h3:hover {
background-color: #e3e2e2;
}
.accordion h3.active {
background-position:13px 13px;
}
.accordion p {
margin: 0;
padding: 10px 15px 20px;
border-left: solid 1px #c4c4c4;
border-right: solid 1px #c4c4c4;
}
.c2 .nav-tabs > li{
width:20%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
}
.c2 .nav-tabs > li > a{
padding:0px;
text-align:center;
}
.c2 ul.nav li.active a{
background:#DB4425;
}
.c2 .nav-tabs > li > a{
border-right:solid 1px #c4c4c4;
}
.accordion .faq_col1{
float:left;
width:20%;
}
.clr{clear:both;}
.c2 .accordion h3.active{
background-position:13px -25px;
}
.c2 .textValfaq{
margin:20px 0;
font-size:19px;
color:#DB4425;
}