/* Controls */
.sl-controls {
    margin: 5px;
    overflow: hidden;
}
.sl-controls .next {
    background:transparent url(sprite.png) no-repeat -100px 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    width:36px;
}
.sl-controls .next:hover {
    background-position:-100px -100px
}
.sl-controls .prev {
    background:transparent url(sprite.png) no-repeat -50px 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    margin:0 0 .5em .5em;
    width:36px;
}
.sl-controls .prev:hover {
    background-position:-50px -100px;
}
.sl-controls .back-home {
    background:transparent url(sprite.png) no-repeat 0 0;
    cursor: pointer;
    display:block;
    float:right;
    height:35px;
    margin:0 0 .5em 1em;
    width:36px;
}
.sl-controls .back-home:hover {
    background-position:0 -100px;
}
.sl-controls #count {
    float: right;
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
/*--Slides Start--*/
/* Slides */
.sl-slide {
    display: none;
    overflow: hidden;
    padding: 0 20px;
}
.sl-slide.visible {
    display: block;
}
.sl-slide img {
    cursor: pointer;
    float: right;
    margin:0 0 10px 10px;
}

/* jcarousel styles */
#sl-thumbs li {
    cursor: pointer;
    height:50px;
    width:95px;
	padding:2px;
	margin-right:5px;
	border:1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:10px;
}
#sl-thumbs li.selected, 
#sl-thumbs2 li.selected,
#sl-thumbs3 li.selected,
#sl-thumbs4 li.selected {
    background-color:#c7c7c7;
    cursor:default;
	border:1px solid #000;
}
#sl-thumbs li img {
    height:50px;
    width:95px;
}
/* Slides2 */
.sl-slide2 {
    display: none;
    overflow: hidden;
    padding: 0 20px;
}
.sl-slide2.visible {
    display: block;
}
.sl-slide2 img {
    cursor: pointer;
    float: right;
    margin:0 0 10px 10px;
}
/* jcarousel styles */
#sl-thumbs2 li {
    cursor: pointer;
    height:50px;
    width:95px;
	padding:2px;
	margin-right:5px;
	border:1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:10px;
}
#sl-thumbs2 li img {
    height:50px;
    width:95px;
}
/* Slides3 */
.sl-slide3 {
    display: none;
    overflow: hidden;
    padding: 0 20px;
}
.sl-slide3.visible {
    display: block;
}
.sl-slide3 img {
    cursor: pointer;
    float: right;
    margin:0 0 10px 10px;
}
/* jcarousel styles */
#sl-thumbs3 li {
    cursor: pointer;
    height:50px;
    width:95px;
	padding:2px;
	margin-right:5px;
	border:1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:10px;
}
#sl-thumbs3 li img {
    height:50px;
    width:95px;
}
/* Slides4 */
.sl-slide4{
    display: none;
    overflow: hidden;
    padding: 0 20px;
}
.sl-slide4.visible {
    display: block;
}
.sl-slide4 img {
    cursor: pointer;
    float: right;
    margin:0 0 10px 10px;
}
/* jcarousel styles */
#sl-thumbs4 li {
    cursor: pointer;
    height:50px;
    width:95px;
	padding:2px;
	margin-right:5px;
	border:1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding:10px;
}
#sl-thumbs4 li img {
    height:50px;
    width:95px;
}
/*--Slides End--*/
.jcarousel-container {
    margin:50px 0 0 0;
    padding:0 10px;
	width:87%;
}
.jcarousel-clip {
    overflow: hidden;
    padding: 10px 0;
	width:100%;
	margin-left:15px;
	margin-right:15px;
}
.jcarousel-prev-horizontal, .jcarousel-next-horizontal {
    cursor:pointer;
    position:absolute;
    top:36px;
    z-index:1;
}
.jcarousel-next-horizontal, 
.jcarousel-prev-horizontal {
	width:22px;
	height:17px;
}
.jcarousel-prev-horizontal {
    left:0px;
    background:url("../images/arrow_select_city.png") no-repeat 11px 0px;
}
.jcarousel-next-horizontal {
    right:-31px;
    background:url("../images/arrow_select_city.png") no-repeat -11px 0px;
}