@font-face {
    font-family: 'rupee_foradianregular';
    src: url('font_rupees/rupee_foradian.eot');
    src: url('font_rupees/rupee_foradian.eot?#iefix') format('embedded-opentype'),
         url('font_rupees/rupee_foradian.woff2') format('woff2'),
         url('font_rupees/rupee_foradian.woff') format('woff'),
         url('font_rupees/rupee_foradian.ttf') format('truetype'),
         url('font_rupees/rupee_foradian.svg#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'HelveticaLTStd-Bold';
	src: url('fonts/helveticaltstdbold.eot');
	src: url('fonts/helveticaltstdbold.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/helveticaltstdbold.woff') format('woff'),  
		 url('fonts/helveticaltstdbold.ttf') format('truetype'),  
		 url('fonts/helveticaltstdbold.svg#helveticaltstdbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaLTStd-Roman';
	src: url('fonts/helveticaltstdroman.eot');
	src: url('fonts/helveticaltstdroman.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/helveticaltstdroman.woff') format('woff'),  
		 url('fonts/helveticaltstdroman.ttf') format('truetype'),  
		 url('fonts/helveticaltstdroman.svg#helveticaltstdroman') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaLTStd-Light';
	src: url('fonts/helveticaltstdlight.eot');
	src: url('fonts/helveticaltstdlight.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/helveticaltstdlight.woff') format('woff'),  
		 url('fonts/helveticaltstdlight.ttf') format('truetype'),  
		 url('fonts/helveticaltstdlight.svg#helveticaltstdlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MotorOil1937M54';
	src: url('fonts/motoroil1937m54.eot');
	src: url('fonts/motoroil1937m54.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/motoroil1937m54.woff') format('woff'),  
		 url('fonts/motoroil1937m54.ttf') format('truetype'),  
		 url('fonts/motoroil1937m54.svg#motoroil1937m54') format('svg');
	font-weight: normal;
	font-style: normal;
}
.rupyaINR {
font-family:'rupyaINR';
margin:0 .2rem;
}
.Select_city{
width:1130px;
margin:0 auto;
font-family:arial;
font-size:12px;
position:relative;
border:1px solid #000;
}
.mt60{
margin-top:60px;
}
.mr5{
margin-right:5%;
}
.w50{
width:50%;
}
.w45{
width:45%;
}
.clr{
clear:both;
}
.details{
font-size:10px;
margin:1px 10px 0 0;
font-weight:bold;
}
.h_bg{
background:#f2f2f2;
width:87%;
color:#9a9a9a;
line-height:18px;
display:inline-block;
position:relative;
top:-119px;
left:5%;
}
.w50{
width:50%;
}
.m_tb2{
margin:2px 0;
}
.h_bg a{
text-decoration:none;
color:#9a9a9a;
}
.w25{
width:25%;
}
.w70{
width:70%;
}
.w70{
width:70%;
}
.w28{
width:28%;
}
.w_49{
width:49%;
}
.w_44{
width:44%;
}
.mr7{
margin-right:7%;
}
.mr2{
margin-right:2%;
}
.f_l{
float:left;
}
.relative{
position:relative;
}
.triangle_right {
width: 0;
height: 0;
border-top:10px solid transparent;
border-left:15px solid #efefef;
border-bottom:10px solid transparent;
position:absolute;
right:-12px;
top:40%;
z-index:1;
}
.triangle_right:after {
border:1px solid #efefef;
}
.arrow_right{
background:url("../images/arrow_right.jpg") no-repeat;
width:13px;
height:158px;
position:absolute;
right:0px;
top:13px;
}
.triangle_left {
width:0;
height:0;
border-top:30px solid transparent;
border-left:40px solid #fff;
border-bottom:30px solid transparent;
position:absolute;
left:0px;
top:40%;
}
.h_bg ul{
list-style:none;
margin:0px;
padding:2px 0px;
display:inline-block;
width:100%;
}
.h_bg ul li{
float:left;
width:24.2%;
margin-right:2px;
line-height:30px;
}
.h_bg ul li:nth-of-type(4){
margin-right:0;
}
.h_bg ul li a{
width:100%;
display:inline-block;
text-align:center;
font-size:17px;
}
.car_name{
width:100%;
text-align:center;
font-size:25px;
color:#737373;
padding-top:20px;
font-family:'HelveticaLTStd-Bold';
}
.cost{
font-size:55px;
color:#808285;
font-family:'HelveticaLTStd-Bold';
}
.car_bg img{
position:absolute;
left:5%;
top:15%;
}
.selectrental{
line-height:30px;
}
.clr{
clear:both;
}
.Select_city {
-moz-user-select:-moz-none;
-khtml-user-select:none;
-webkit-user-select:none;
-o-user-select:none;
user-select:none;
}
.car_bg_left{
background:#f0f0f0;
min-height:377px;
}
.relative{
position:relative;
}
.car_bg_left:after{
left: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(240, 240, 240, 0);
border-left-color: #f0f0f0;
border-width: 15px;
margin-top: -20px;
}
.rupyaINR{
font-family:'rupee_foradianregular';
}
ul.car_name_list{
position:absolute;
left:6%;
bottom:10px;
background:#000;
list-style:none;
width:88%;
padding-left:0px;
}
ul.car_name_list li{
float:left;
width:25%;
text-align:center;
}
ul.car_name_list li a{
line-height:36px;
text-decoration:none;
color:#fff;
font-family:'HelveticaLTStd-Bold';
font-size:16px;
}
ul.car_name_list li.current{
background:#666666;
}
ul.car_name_list li.current a{
color:#dddddd;
}