.app_banner{
width:100%;
height:auto;
background:#ffd227;
font-family:arial;
}
.app{
width:1130px;
margin:0 auto;
padding:40px 0;
}
.app_img{
width:1005px;
height:252px;
background:url(../images/) no-repeat;

background-position:100px 0;
}
.relative{
position:relative;
}
.Appnumber{
position:absolute;
left:525px;
top:141px;
font-size:17px;
}
.plus_91{
background:#0f0f0f;
color:#fff;
width:40px;
display:inline-block;
text-align:center;
}
.send_me_link{
background:#0f0f0f;
color:#fff;
width:120px;
display:inline-block;
text-align:center;
font-size:12px;
line-height:35px;
cursor:pointer;
}
.send_me_input input[type="text"]{
line-height:28.8px;
float:left;
width:164px;
}
.plus_91{
line-height:35px;
}
.f_l{
float:left;
}
.clr{
clear:both;
}

.w1130{
width:1130px;
margin:0 auto;
} 
.discount_area{
width:995px;
text-align:right;
margin-top:80px;
}
.avail{
font-size:12px;
font-weight:bold;
line-height:25px;
padding-right:1%;
color:#000;
}
.tac{
background:#0f0f0f;
width:100px;
line-height:25px;
display:inline-block;
text-align:center;
font-size:10px;
}
.tac a{
color:#fff;
text-decoration:none;
}
.w_89{
width:89%;
}
.w_10{
width:10%;
}