.w_30{
width:30%;
}
.ml3{
margin-left:3%;
}
.mr2{
margin-right:2%;
}
.f_l{
float:left;
}
.bg_effect{
background-color:#fff;
border:1px solid #CDCDCD;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
box-shadow:0 1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 1px 1px rgba(0, 0, 0, 0.1);
-o-box-shadow:0 1px 1px 1px rgba(0, 0, 0, 0.1);
min-height:500px;
font-family: Arial, Helvetica, sans-serif;
}
.text_center{
text-align:center;
display:inline-block;
width:100%;
}
.mt15{
margin-top:15px;
}
ul{
margin:15px 0 0 35px;
padding:0px;
list-style:none;
width:83%;
}
ul li{

}
ul li a{
background:url('../images/arrow.png') no-repeat left 12px;
line-height:35px;
color:#767676;
text-decoration:none;
font-size:13px;
padding-left:5%;
display:inline-block;
width:95%;
border-bottom:1px solid #dddddd;
}
ul.myles{
padding:0px;
margin-top:0px;
width:83%;
}
ul.cor li a:hover, 
ul.myles li a:hover, 
ul.easy li a:hover{
text-decoration:none !important;
}
ul.cor li a:hover{
background:#ffd229;
color:#000;
}
ul.myles li a:hover{
background:#df4627;
color:#fff;
}
ul.easy li a:hover{
background:#f6ee23;
color:#000;
}
.h1{
width:100%;
height:1px;
background:#dddddd;
margin:15px 0;
}