<!-- thumb code start -->
<link href="css/main.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/jquery.jcarousel.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/tab.js"></script>
<link rel="stylesheet" type="text/css" href="css/tab.css">
<!-- thumb code end -->
<link href="css/select_city.css" rel="stylesheet" type="text/css">
<div class="Select_city">
<div class="w_49 relative car_bg_left mr7 f_l">
<ul class="car_name_list">
<li class="current"><a href="#">Sedan</a></li>
<li><a href="#">SUV</a></li>
<li><a href="#">Crossover</a></li>
<li><a href="#">Hatchback</a></li>
</ul>
</div>
<div class="w_44 f_l">
<div id="tab1" class="tab-content active">
<div class="sl-content">
<div class="sl-slide">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity1</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>

</div>
<div class="sl-slide">

2
</div>
<div class="sl-slide">

3

</div>
<div class="sl-slide">

4

</div>
<div class="sl-slide">
	5
</div>
<div class="sl-slide">
	6
</div>
<div class="sl-slide">
	7
</div>
<div class="sl-slide">
	8
</div>
<div class="sl-slide">
	9
</div>
<div class="sl-slide">
	10
</div>
<div class="sl-slide">
	11
</div>
<div class="sl-slide">
	12
</div>
<div class="sl-slide">
	13
</div>
<div class="clr"> </div>
</div>
<!-- jCarousel -->
<ul id="sl-thumbs">
<li><img src="images/1.png"/></li>
</ul>
</div>


<div id="tab2" class="tab-content hide">
<div class="sl-content">
<div class="sl-slide2">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity5</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>

</div>
<div class="sl-slide2">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity2</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>


</div>
<div class="sl-slide2">

3

</div>
<div class="sl-slide2">

4

</div>
<div class="sl-slide2">
	5
</div>
<div class="sl-slide2">
	6
</div>
<div class="sl-slide2">
	7
</div>
<div class="sl-slide2">
	8
</div>
<div class="sl-slide2">
	9
</div>
<div class="sl-slide2">
	10
</div>
<div class="sl-slide2">
	11
</div>
<div class="sl-slide2">
	12
</div>
<div class="sl-slide2">
	13
</div>
<div class="clr"> </div>
</div>
<!-- jCarousel -->
<ul id="sl-thumbs2">
<li><img src="images/1.png"/></li>
</ul>
</div>


<div id="tab3" class="tab-content hide">
<div class="sl-content">
<div class="sl-slide3">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity3</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>

</div>
<div class="sl-slide3">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity4</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>


</div>
<div class="sl-slide3">

3

</div>
<div class="sl-slide3">

4

</div>
<div class="sl-slide3">
	5
</div>
<div class="sl-slide3">
	6
</div>
<div class="sl-slide3">
	7
</div>
<div class="sl-slide3">
	8
</div>
<div class="sl-slide3">
	9
</div>
<div class="sl-slide3">
	10
</div>
<div class="sl-slide3">
	11
</div>
<div class="sl-slide3">
	12
</div>
<div class="sl-slide3">
	13
</div>
<div class="clr"> </div>
</div>
<!-- jCarousel -->
<ul id="sl-thumbs3">
<li><img src="images/1.png"/></li>
</ul>
</div>


<div id="tab4" class="tab-content hide">
<div class="sl-content">
<div class="sl-slide4">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity5</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>

</div>
<div class="sl-slide4">

<div class="f_l">
<div class="car_bg">
<img src="images/01.png" border="0"/>
<div class="car_name">HondaCity6</div>
<div class="cost"><span class="rupyaINR">`</span> 5,7000/hr.</div>
</div>
</div>


</div>
<div class="sl-slide4">

3

</div>
<div class="sl-slide4">

4

</div>
<div class="sl-slide4">
	5
</div>
<div class="sl-slide4">
	6
</div>
<div class="sl-slide4">
	7
</div>
<div class="sl-slide4">
	8
</div>
<div class="sl-slide4">
	9
</div>
<div class="sl-slide4">
	10
</div>
<div class="sl-slide4">
	11
</div>
<div class="sl-slide4">
	12
</div>
<div class="sl-slide4">
	13
</div>
<div class="clr"> </div>
</div>
<!-- jCarousel -->
<ul id="sl-thumbs4">
<li><img src="images/1.png"/></li>
</ul>
</div>



<div class="h_bg">
<ul class="nav nav-tabs">
<li class="active">
<a href="#tab1">Hourly</a>
</li>
<li>
<a href="#tab2">Daily</a>
</li>
<li>
<a href="#tab3">Weekly</a>
</li>
<li>
<a href="#tab4">Monthly</a>
</li>
</ul>
</div>



</div>
<div class="clr"> </div>
</div>
