.mylesp_voucher{
background: #DB4626;
color: #fff;
font-size: 15px;
width: 200px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
display: inline-block;
text-align: center;
line-height: 32px;
}
table {
border-collapse:collapse;
margin:20px 0 10px;
}
table, td, th {
border:1px solid #ddd;
padding:8px;
}
th {
font-weight:bold;
font-size:15px;
background:#DB4626;
color:#fff;
}
.main{
color:#000;
}
table tr:nth-child(even) {
  background-color:#f1f1f1;
}
table tr:nth-child(odd) {
  background-color:#fff;
}
h1.h1{
margin:0px 0 2% 0;
padding:0px 0 0 10px;
background:#FAF4F4;
color:#000;
line-height:35px;
font-size:15px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
width:98%;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
border:1px solid #CFCFCF;
}
.width_term{
width:79.1%;
}
ol{
margin:5px 0 0px 16px;
padding:0px;
}
ol li{
line-height:20px;
}
.term{
width:44.3%;
padding:2%;
background-color:#F5F5F5;
border:1px solid #CDCDCD;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
margin-bottom:2%;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.clr{
clear:both;
}
.f_l{
float:left;
}
.mr2{
margin-right:2%;
}
.mb20{
margin-bottom:30px;
}
.lh{
line-height:47px;
}
.heading{
font-weight:bold;
font-size:15px;
}
.pr_5{
padding-right:5px;
}
.trip{
position:relative;
top:6px;
}
h1.mt20{
margin-top:20px;
}