/** Start: to style navigation tab **/
.nav {
  margin-left:0px;
  padding-left:0px;
  list-style: none;
  width:100%;
  background:#e5e5e5;
}

.nav > li > a {
  display: block;
}

.nav-tabs{
  *zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}

.nav-tabs:after {
  clear: both;
}

.nav-tabs > li {
  float: left;
}

.nav-tabs > li > a {
  padding:0 52px;
  line-height: 14px;
  color: #000;
  text-transform:uppercase;
  font-weight:bold;
  border-right:1px solid #000;
}
.nav-tabs > li:last-child > a {
margin-right:0px;
border-right:none;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  line-height:45px;
  text-decoration:none;
  text-transform:uppercase;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  cursor: default;  
}

li {
  line-height: 18px;
}

.tab-content.active{
	display: block;
}

.tab-content.hide{
	display: none;
}
.tab-content{
background:#f5ed26;
margin-top: 23px;
}

/*------ Page Setting Start ------*/
ul.nav li.active a{
background:#000000;
color:#fff;
}
.discount_h{
font-family:'outagecut';
font-size:65px;
line-height:85px;
background:#0f0f0f;
display:inline-block;
text-align:center;
width:100%;
color:#fff;
padding-top:11px;
}
.discount_h span{
font-family: 'rupee_foradianregular';
font-size:64px;
padding-right:5px;
}
.ptb20_lr40{
padding:20px 40px;
}
.tab-content h1{
padding:0px;
margin:0px;
font-size:20px;
line-height:30px;
text-transform:uppercase;
color:#000;
}
.tab-content ol{
margin:10px 0px 0px 24px;
padding:0px;
text-transform:uppercase;
}
.tab-content ol li{
font-size:13px;
color:#000;
}
/*------ Page Setting End ------*/

/** End: to style navigation tab **/