@font-face {
    font-family: 'outagecut';
    src: url('fonts/outage_cut.eot');
    src: url('fonts/outage_cut.eot?#iefix') format('embedded-opentype'),
         url('fonts/outage_cut.woff2') format('woff2'),
         url('fonts/outage_cut.woff') format('woff'),
         url('fonts/outage_cut.ttf') format('truetype'),
         url('fonts/outage_cut.svg#outagecut') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rupee_foradianregular';
    src: url('font_rupees/rupee_foradian.eot');
    src: url('font_rupees/rupee_foradian.eot?#iefix') format('embedded-opentype'),
         url('font_rupees/rupee_foradian.woff2') format('woff2'),
         url('font_rupees/rupee_foradian.woff') format('woff'),
         url('font_rupees/rupee_foradian.ttf') format('truetype'),
         url('font_rupees/rupee_foradian.svg#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.app_banner{
width:100%;
height:auto;
font-family:arial;
}
.app{
width:1130px;
margin:0 auto;
padding:10px 0;
}
.term_heading{
background:#0f0f0f;
line-height:35px;
color:#fff;
text-transform:uppercase;
font-size:20px;
padding-left:10px;
margin-bottom: 35px;
margin-top: 20px;
}