@font-face {
	font-family: 'Conv_swiss721bt-boldcondensed';
	src: url('fonts/swiss721bt-boldcondensed.eot');
	src: local('☺'), url('fonts/swiss721bt-boldcondensed.woff') format('woff'), url('fonts/swiss721bt-boldcondensed.ttf') format('truetype'), url('fonts/swiss721bt-boldcondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin:0;
	padding:0;
	outline:none;
}
h1, h2, h3 {
	margin:0;
	padding:0;
	font-family: 'Conv_swiss721bt-boldcondensed';
}
p {
	margin:0;
	padding:0;
}
img {
	margin:0;
	padding:0;
	border:none;
}
body {
	margin:0;
	font-family:Arial;
	font-size:12px;
	color:#666;
	line-height:normal;
}
.main {
	width:973px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
#header {
	width:100%;
	float:left;
	background:url(../images/topbg.gif) repeat-x;
	height:90px;
	position:relative;
	z-index:9;
}
.logo {
	float:left;
	padding:15px 10px 0 0;
}
.logo-right {
	float:right;
	width:785px;
}
.logo-righttop {
	width:785px;
	float:left;
	background:#ededed;
	border-bottom:2px solid #fff;
	height:44px;
	z-index:100;
}
.logo-righttop ul.lf {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.logo-righttop ul.lf li {
	margin:0;
	padding:10px 20px 0 14px;
	text-transform:uppercase;
	line-height:30px;
	font-family: 'Conv_swiss721bt-boldcondensed';
	float:left;
	font-size:18px;
	color:#686868;
}
.logo-righttop ul.lf li a {
	text-decoration:none;
	color:#c5c5c5;
}
.logo-righttop ul.lf li a:hover {
	text-decoration:none;
	color:#494949;
}
.logo-righttop ul.lf li a.active {
	font-size:22px;
	color:#494949;
}
.logo-righttop ul.rt {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	z-index:100;
}
.logo-righttop ul.rt li {
	margin:18px 0 0 0;
	padding:0 8px 0 8px;
	border-right:#50585b solid 1px;
	line-height:12px;
	float:left;
	color:#50585b;
}
.logo-righttop ul.rt li.no {
	border:none;
}
.logo-righttop ul.rt li a {
	text-decoration:none;
	color:#7f8487;
}
.logo-righttop ul.rt li a:hover {
	text-decoration:none;
	color:#000;
}
.menu {
	width:785px;
	float:left;
	padding:3px 0 0 0;
	position:relative;
	z-index:999
}
.menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.menu ul li {
	position:relative;
	float:left;
	margin:0;
}
.menu ul li a {
	float:left;
	font-size:13px;
	text-decoration:none;
	color:#a8a8a8;
	padding:10px 10px 10px 12px;
	line-height:20px;
	margin:0;
}
.menu ul li a:hover {
	color:#dbdbdb !important;
	background:none !important;
	border:none !important;
}
.menu ul li a.active {
	color:#dbdbdb;
	font-weight:bold;
	font-size:16px;
}
.menu ul li.more a {
	color:#f1c800;
	background:url(../images/more_down.png) no-repeat 0px 0px;
	padding-right:35px;
	position:relative;
	z-index:999
}
.menu ul li.more a:hover, .menu ul li.more:hover a {
	color:#f1c800!important;
	background:url(../images/more_down.png) no-repeat 0px -46px!important;
	padding-right:35px;
	height:40px;
}
.menu ul li.more, .menu ul li.internaltional {
	background:url(../images/menu_seprator.png) no-repeat right top;
}
.menu ul li.more:hover > ul.submenu {
	display:block;
}
.menu ul li.more .submenu {
	display:none;
	width:270px;
	position:absolute;
	top:44px;
	left:-215px;
	float:left;
	z-index:99;
	background:#020202 url(../images/ul.gif) repeat-x;
	border:solid 2px #f1c800;
	padding:16px 0px 16px 20px;
}
.menu ul li.more .submenu li a {
	background:none!important;
	color:#a8a8a8!important;
	margin:0px;
	width:130px;
	height:20px;
	padding:0px;
	float:left;
}
.menu ul li.more .submenu li a:hover {
	color:#f1c800!important;
}
.menu ul li.internaltional a, .menu ul li.internaltional a:hover {
	color:#f1c800!important;
	padding: 10px 18px;
	font-weight:bold;
}
.menu ul li.tfn {
	line-height:40px;
	color:#FFFFFF;
	padding: 0px 0px 0px 20px;
	float:right;
}
.menu ul li.tfn strong {
	color:#f1c800;
	font-size:22px;
	font-family: 'Conv_swiss721bt-boldcondensed';
	display:inline;
	padding:0px 4px;
}
.banner {
	width:100%;
	height:365px;
	float:left;
	background:url(../images/bannerbg.gif) repeat-x;
	border-bottom:#d2d0d1 solid 1px;
	padding:40px 0px 35px;
	position:relative;
	z-index:1
}
.banner .lfts {
	width:474px;
	float:left;
}
.banner .lfts .book {
	width:160px;
	font-size:22px;
	font-family: 'Conv_swiss721bt-boldcondensed';
	float:left;
}
.banner .rgts {
	width:448px;
	float:right;
}
.banner .rgts h2 {
	font-family: 'Conv_swiss721bt-boldcondensed';
	float:left;
	font-size:22px;
	color:#494949;
}
.banner .rgts h3 {
	font-family: Arial;
	float:right;
	font-size:13px;
	color:#d68300;
}
.banner .rgts h3 a {
	color:#d68300;
	text-decoration:none;
}
.banner .rgts h3 a:hover {
	color:#333;
}
#middle {
	background:#fff;
	width:100%;
	float:left;
	position:relative;
	z-index:1;
}
.homepage {
	width:973px;
	float:left;
	padding:50px 0px;
}
.homepage .repeatdiv {
	width:325px;
	float:left;
	margin-right:30px;
	position:relative;
}
.homepage .repeatdiv.no {
	margin-right:0;
}
.homepage .repeatdiv.md {
	width:263px;
}
.homepage .repeatdiv img.icon1 {
	position:absolute;
	left:0px;
	top:-14px;
}
.homepage .repeatdiv img.icon2 {
	position:absolute;
	left:0px;
	top:-8px;
}
.homepage .repeatdiv img.icon3 {
	position:absolute;
	left:0px;
	top:-8px;
}
.homepage .repeatdiv h2 {
	font-size:22px;
	color:#494949;
	border-bottom:#edeced solid 1px;
	display:block;
}
.homepage .repeatdiv h2.icon1 {
	padding:0 0 6px 75px;
}
.homepage .repeatdiv h2.icon2 {
	padding:0 0 6px 45px;
}
.homepage .repeatdiv h2.icon3 {
	padding:0 0 6px 55px;
}
.homepage .repeatdiv ul {
	margin:0;
	padding:25px 0 0 0px;
	list-style:none;
}
.homepage .repeatdiv ul li {
	background:url(../images/liicn.gif) no-repeat left 6px;
	padding:3px 0 3px 22px;
	font-size:15px;
	display:block;
	line-height:20px;
}
.bannerbtm {
	width:100%;
	float:left;
	padding:15px 0 15px 0;
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:19px;
	color:#666;
}
.bannerbtm span {
	font-size:22px;
	color:#333;
}
.cabs {
	width:100%;
	float:left;
	background:#f7f7f7;
	border-bottom:1px solid #edeced;
	border-top:1px solid #dfdfde;
}
#footer {
	width:100%;
	float:left;
	background:#f8f7f7 url(../images/footer.gif) repeat-x;
}
.ftop {
	width:973px;
	float:left;
	padding:15px 0 13px 0;
	font-size:14px;
	color:#999;
	line-height:20px;
}
.ftop span {
	font-size:21px;
	color:#999;
	font-family: 'Conv_swiss721bt-boldcondensed';
}
.ftop .wdcar {
	width:250px;
	float:left;
}
.ftop .wdcar img {
	padding:2px 7px 0 0;
	float:left;
}
.ftop .wdcar label {
	float:left;
	padding:5px 0 0 0;
}
.ftop .wdten {
	width:237px;
	float:left;
}
.ftop .wdten img {
	padding:0 7px 0 0;
	float:left;
}
.ftop .wdten label {
	float:left;
	padding:5px 0 0 0;
}
.ftop .wdtrips {
	width:248px;
	float:left;
}
.ftop .wdtrips img {
	padding:0 7px 0 0;
	float:left;
}
.ftop .wdtrips label {
	float:left;
	padding:5px 0 0 0;
}
.fbtm {
	width:973px;
	float:left;
	padding:30px 0 0 0;
}
.fbtm h3 {
	font-size:16px;
	font-family: 'Conv_swiss721bt-boldcondensed';
}
.fbtm ul {
	margin:0;
	padding:5px 0 0 0;
	list-style:none;
}
.fbtm li {
	display:block;
	margin:0;
	padding:0;
	line-height:20px;
}
.fbtm li a {
	color:#666;
	text-decoration:none;
}
.fbtm li a:hover {
	color:#000;
}
.fbtm .cm {
	width:178px;
	float:left;
}
.fbtm .qu {
	width:185px;
	float:left;
}
.fbtm .socil {
	width:235px;
	float:left;
}
.soccd {
	width:235px;
	float:left;
	padding:5px 0 25px 0;
}
.fbtm .socil p {
	padding:5px 0 0 0;
}
.copurit {
	width:973px;
	float:left;
	padding:20px 0 20px 0;
	font-size:11px;
}
/********************* About uS *********************/
.aboutus {
	width:968px;
	float:left;
	margin-top:8px;
	margin-bottom:40px;
	background:#fff;
	border:1px solid #e5e5e5;
	border-radius:8px;
}
.aboutusdv {
	width:968px;
	float:left;
	background:url(../images/about.jpg) repeat-y;
}
.aboutusdv .lfcnt {
	width:665px;
	float:left;
}
.aboutusdv .lfcnt h1 {
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.aboutusdv .lfcnt h2 {
	padding:14px 55px 0 20px;
	font-family:Arial;
	font-weight:normal;
	font-size:18px;
	color:#333;
}
.aboutusdv .lfcnt p {
	padding:5px 55px 15px 20px;
	line-height:18px;
}
.aboutusdv .lfcnt .blkt {
	margin:10px 0 10px 0;
	line-height:18px;
	font-size:15px;
	background:#f5f5f5;
	border-radius:8px;
	border:1px solid #ececec;
	box-shadow: 1px 2px 3px #ececec;
	line-height:19px;
	padding:12px 22px 12px 15px;
}
.aboutusdv .tbul {
	width:303px;
	float:right;
	background:#f9f8f8;
	padding-top:48px;
}
.innerpages {
	width:971px;
	float:left;
	margin:8px 0 50px 0;
}
.innerpages .leftside {
	width:654px;
	float:left;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.innerpages .leftside h1 {
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.innerpages .leftside .heading {
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:20px;
	color:#494949;
	padding:12px 0 12px 20px;
}
.innerpages .leftside .middiv {
	width:595px;
	float:left;
	padding:31px 0 20px 29px;
}
.innerpages .leftside .packages {
	width:595px;
	float:left;
	padding-bottom:10px;
}
.innerpages .leftside .packages img.big {
	float:left;
	margin:0;
}
.leftside .packages .btmarea {
	width:566px;
	float:left;
	background:#d2d1d1;
	padding:11px 13px 11px 16px;
}
.leftside .packages .btmarea .booknow {
	width:129px;
	float:right;
	height:42px;
}
.leftside .packages .btmarea .booknow a {
	width:129px;
	float:right;
	height:42px;
	text-indent:-9999px;
	background:url(../images/booknow.jpg) no-repeat left top;
}
.leftside .packages .btmarea .booknow a:hover {
	background-position:0 -42px;
}
.leftside .packages .btmarea .fl {
	float:left;
	color:#646464;
	font-size:14px;
	font-family:Arial;
}
.leftside .packages .btmarea .fl span {
	font-size:28px;
	color:#000;
}
.leftside .packages .btmarea .fm {
	float:left;
	color:#000;
	font-size:16px;
	padding:18px 0 0 52px;
	font-family:Arial;
}
.leftside .packages .btmarea .fm span {
	font-size:24px;
	padding-left:5px;
}
.innerpages .rightside {
	width:306px;
	float:right;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.innerpages .rightside h1 {
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:20px;
	color:#494949;
	border-bottom:1px solid #e5e5e5;
	padding:12px 0 12px 20px;
}
.innerpages .rightside ul {
	margin:0;
	padding:15px 35px 15px 19px;
	list-style:none;
}
.innerpages .rightside li {
	background:url(../images/liicn.gif) no-repeat left 6px;
	padding:3px 0 3px 22px;
	font-size:15px;
	display:block;
	line-height:20px;
}
.innerpages .rightside .tpdiv {
	width:286px;
	float:left;
	padding:15px 0 10px 20px;
}
.innerpages .rightside .tpdiv img {
	float:left;
	padding:0 0 10px 40px;
}
.innerpages .rightside .tpdiv p {
	margin:0;
	padding:5px 0 0 0;
	color:#666;
	font-size:12px;
}
.innerpages .rightside .tpdiv p span {
	font-weight:bold;
	color:#000;
}
.innerpages .rightside .tpdiv h3 {
	color:#ff6600;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	padding:20px 0 0 0;
}
.innerpages .rightside .tpdiv h3 span {
	font-size:28px;
	color:#333;
}
.innerpages .rightside .tpdiv h3 span img {
	float:left;
	padding:5px 0 0 0 !important;
}
.innerpages .rightside .tpdiv ul {
	margin:0;
	padding:0 !important;
	list-style:none;
}
.innerpages .rightside .tpdiv li {
	display:block;
	margin:0;
	padding:2px 12px !important;
	font-size:12px !important;
	color:#666 !important;
	background:url(../images/libg.jpg) no-repeat left 8px !important;
}
.innerpages .rightside .map {
	width:257px;
	float:left;
	padding-top:20px;
}
.innerpages .rightside .map img {
	float:none !important;
	padding:0 !important;
}
.innerpages .rightside .tpdiv li img {
	float:none !important;
	padding:0 !important;
}
.tbbinginr {
	width:100%;
	float:left;
	position:relative;
	z-index:1
}
.clr {
	clear:both;
}
.selectcartp {
	width:100%;
	float:left;
	background:#f5f4f4 url(../images/slectcr.jpg) repeat-x;
	border-bottom:#e6e6e6 solid 1px;
	padding-bottom:10px;
}
.selectcartp h2 {
	font-family: 'Conv_swiss721bt-boldcondensed';
	font-size:16px;
	color:#333;
	padding:11px 0 11px 0;
}
.selectcartp h3 {
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	color:#999;
}
.selectcartp p {
	margin:0;
	padding:5px 0 0 0;
}
.selectcartp .wd136 {
	width:136px;
	float:left;
}
.selectcartp .modify {
	width:122px;
	float:right;
	height:25px;
}
.selectcartp .modify a {
	width:122px;
	float:right;
	height:25px;
	text-indent:-9999px;
	background:url(../images/modify.png) no-repeat left top;
}
.selectcartp .modify a:hover {
	background-position:0 -25px;
}
.selectcarmid {
	width:969px;
	float:left;
	margin:15px 0 50px 0;
	border:1px solid #e7e7e7;
	border-radius:8px;
}
.selectcarmid .trtp {
	width:949px;
	float:left;
	background:url(../images/trbg.jpg) repeat-x;
	height:15px;
	color:#999;
	font-size:16px;
	font-weight:bold;
	border-radius:8px 8px 0 0;
	padding:13px 0 15px 20px;
}
.selectcarmid .trtp label.frst {
	float:left;
	width:383px;
}
.selectcarmid .trtp label.snd {
	float:left;
	width:209px;
}
.selectcarmid .trtp label.lst {
	float:left;
	width:357px;
}
.selectcarmid .repeatdiv {
	width:929px;
	float:left;
	border-bottom:1px solid #e6e6e6;
	padding: 25px 20px 30px 20px;
}
.selectcarmid .repeatdiv .boknw {
	float:right;
	width:120px;
	height:42px;
}
.selectcarmid .repeatdiv .boknw a {
	float:right;
	width:120px;
	height:42px;
	background:url(../images/booknow1.jpg) no-repeat left top;
	text-indent:-9999px;
}
.selectcarmid .repeatdiv .boknw a:hover {
	background-position:0 -42px;
}
.selectcarmid .repeatdiv .typefcr {
	width:383px;
	float:left;
}
.selectcarmid .repeatdiv .typefcr .imgdv {
	float:left;
	width:163px;
}
.selectcarmid .repeatdiv .typefcr .infdv {
	float:left;
	padding-top:15px;
	width:220px;
	font-size:16px;
}
.selectcarmid .repeatdiv .typefcr .infdv span {
	font-size:18px;
	color:#000;
	font-weight:bold;
}
.selectcarmid .repeatdiv .capcity {
	width:209px;
	float:left;
	padding-top:15px;
}
.selectcarmid .repeatdiv .capcity label.noof {
	background:url(../images/noof.jpg) no-repeat;
	float:left;
	color:#fff;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	width:36px;
	height:35px;
	line-height:35px;
}
.selectcarmid .repeatdiv .capcity label.tx {
	float:left;
	font-size:14px;
	padding:10px 0 0 10px;
}
.selectcarmid .repeatdiv .price {
	width:160px;
	float:left;
	font-size:12px;
	color:#666;
	line-height:20px;
}
.selectcarmid .repeatdiv .price span {
	font-size:26px;
	color:#000;
	font-weight:bold;
}
.selectcarmid .repeatdiv .price a {
	color:#666;
	text-decoration:underline;
}
.selectcarmid .repeatdiv .price a:hover {
	text-decoration:none;
	color:#000;
}
ul.shadetabst {
	list-style:none;
	float:left;
	width:670px;
	height:33px;
}
ul.shadetabst li.step1 {
	float:left;
	width:216px;
	height:33px;
}
ul.shadetabst li.step1 a {
	float:left;
	background:url(../images/tb.jpg) no-repeat 0px 0px;
	width:216px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step1 a.selected {
	background-position:0 -33px;
}
ul.shadetabst li a {
	float:left;
	text-indent:-9999px;
	text-decoration:none;
}
ul.shadetabst li.step2 {
	float:left;
	width:216px;
	height:33px;
}
ul.shadetabst li.step2 a {
	float:left;
	background:url(../images/tb.jpg) no-repeat -216px 0px;
	width:216px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step2 a.selected {
	background-position:-216px -66px;
}
ul.shadetabst li.step3 {
	float:left;
	width:228px;
	height:33px;
}
ul.shadetabst li.step3 a {
	float:left;
	background:url(../images/tb.jpg) no-repeat -432px 0px;
	width:228px;
	height:33px;
	text-indent:-9999px;
}
ul.shadetabst li.step3 a.selected {
	background-position:-432px -99px;
}
ul.shadetabst li a {
	float:left;
	text-indent:-9999px;
	text-decoration:none;
}
ul.shadetabst li a:hover {
	color:#999999;
}
.tabcontent {
	display:none;
}
.tabcontent:first-child {
	display:block;
}
.tbbingouter {
	width:100%;
	float:left;
	padding:6px 0 6px 0;
	border-bottom:1px solid #e6e6e6;
	position:relative;
	z-index:1
}
fieldset.payment {
	padding: 31px 0 20px 29px;
	width: 625px;
	border:none;
	border-bottom:solid 1px #E7E7E7;
}
fieldset.payment .leftfieldset {
	float:left;
	width:400px;
}
fieldset.payment .rightfieldset {
	float:right;
	width:200px;
}
fieldset.payment .leftfieldset input[type="radio"] {
	float:left;
	width:20px;
	margin-top:5px;
}
fieldset.payment .leftfieldset label {
	float:left;
	width:360px;
	font-size:18px;
	line-height:24px;
	color:#000000;
	padding-left:10px;
}
ul.listarrow {
	list-style:none;
	padding-top:5px;
	clear:left;
}
ul.listarrow li {
	background:url(../images/arrow2.png) no-repeat 30px 12px;
	margin:0px;
	padding:12px 0px 0px 40px;
}
.payandbook {
	width:149px;
	height:42px;
}
.payandbook a {
	display:block;
	width:149px;
	height:42px;
	background:url(../images/payandbook.png) no-repeat 0px 0px;
}
.payandbook a:hover {
	display:block;
	background:url(../images/payandbook.png) no-repeat 0px -42px;
}
.confirmbooking {
	width:168px;
	height:42px;
}
.confirmbooking a {
	display:block;
	width:168px;
	height:42px;
	background:url(../images/confirmbooking.png) no-repeat 0px 0px;
}
.confirmbooking a:hover {
	display:block;
	background:url(../images/confirmbooking.png) no-repeat 0px -42px;
}
.continue {
	width:117px;
	height:42px;
}
.continue a {
	display:block;
	width:117px;
	height:42px;
	background:url(../images/continue.png) no-repeat 0px 0px;
}
.continue a:hover {
	display:block;
	background:url(../images/continue.png) no-repeat 0px -42px;
}
.middiv ul {
	list-style:none
}
.middiv ul li {
	background:url(../images/arrow2.png) no-repeat 0px 8px;
	margin:0px;
	padding:8px 0px 0px 12px;
}
.register {
	float:left;
	width:100%;
	border: none;
	margin-bottom:50px;
}
.register .fieldrow {
	float:left;
	width:100%;
	margin-bottom:14px;
}
.register .fieldrow .row_left {
	float:left;
	width:170px;
	text-align:right;
}
.register .fieldrow .row_right {
	float: right;
	width:410px;
}
.register .fieldrow label {
	font-size:14px;
	line-height:36px;
	color:#666;
	font-weight:bold;
}
.register .fieldrow input[type="checkbox"] {
	margin-right:10px;
}
.register .fieldrow small {
	font-weight:bold;
	font-size:11px;
	color:#999999;
}
.register .fieldrow input[type="text"], .register .fieldrow input[type="password"], .register .fieldrow textarea, .register .fieldrow select {
	width:275px;
	padding:2px 5px;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#999;
	font-weight:bold;
	border:solid 1px #ccc;
	background:#FFFFFF;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:inset #ddd 0px 2px 3px;
	-moz-box-shadow:inset #ddd 0px 2px 3px;
	box-shadow:inset #ddd 0px 2px 3px;
}
.register .fieldrow select.time {
	width:90px!important;
	margin-right:5px;
}
.register .fieldrow select option {
	font-size:14px;
	padding:0px 5px;
	font-weight:normal;
	color:#666666;
}
.register .fieldrow textarea {
	width:275px;
	height:110px;
	line-height:18px;
	font-size:14px;
	font-weight:normal;
	color:#666666;
}
.header_right {
	background: none repeat scroll 0 0 #EDEDED;
	border-bottom: 2px solid #FFFFFF;
	right:0px;
	position:absolute;
	height: 44px;
	width:35%;
	z-index:-1;
}
.lightbox_panel {
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999;
	left:0px;
	top:0px;
	background:url(../images/overlay.png) repeat;
}
.map_panel {
	width:410px;
	height:325px;
	margin:0 auto;
	background:#FFFFFF;
	padding:5px;
	position:relative;
}
.selecttime {
	width:100px;
	float:left;
}
.selecttime span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 80px!important;
}
.selecttime .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:80px!important;
}
.areap select option {
	width:257px;
}
.areap span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 275px!important;
}
.areap .customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:275px!important;
}
span.customStyleSelectBox {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 3px #DDDDDD inset;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	padding: 2px 5px;
	width: 257px;
	background:#FFF;
}
span.customStyleSelectBox.changed {
}
.customStyleSelectBoxInner {
	background:url(../images/arrow.png) no-repeat center right;
	width:257px!important;
}
.showtime {
	background: none repeat scroll 0 0 #FAEAA3;
	border: 1px solid #EFC14D;
	border-radius: 4px 4px 4px 4px;
	color: #D68300;
	float: left;
	font-size: 12px;
	padding: 5px 10px;
	margin-top:5px;
}
.myprofile {
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;	
	margin-bottom: 40px;
	margin-top: 8px;
}
.myprofile .heading{
	background:url(../images/profie_heading_bg.gif) repeat-x 0 0;	
	font-size:14px;
	line-height:34px;
	padding:0px 20px;
	font-weight:bold;
	color:#999999;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.myprofile .heading a{
	font-size:14px;
	color:#ff6600;
	width:80px;
	height:20px;
	float:right;
	display:block;
	text-align:right;
	text-decoration:none;	
	font-weight:normal;
}
.myprofile .heading a:hover{
	text-decoration:underline;	
}
.myprofile dl {
    margin:30px 0px 40px 80px;
	font-size:14px;
	line-height:20px;
}
 
.myprofile dl dt {
    color:#333;
    float:left;
    font-weight:bold;
    margin:0px 10px 10px 0px;
    width:100px;
	text-align:right;
}
 
.myprofile dl dd {
	margin:0px 0px 10px 0px;
}
ul.breadcrumb{
	list-style:none;	
}
ul.breadcrumb li{
	float:left;
	color:#c5c5c5;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	margin-right:25px;
	font-family: 'Conv_swiss721bt-boldcondensed';
}
ul.breadcrumb li.active{
	color:#494949;
	font-size:20px;
}


/*Aamir*/

#TripleTabs
{
	width:608px;
	min-height:565px;
	float:left;
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
}