/* 
	Resets defualt browser settings
	reset.css
*/



#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	width:442px;
	float:left;
	position:relative;
}
#slides1 {
	width:258px;
	float:left;
	position:relative;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:442px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:442px;
	height:285px;
	display:block;
}
.slides_container div.slide.tst { height:140px;}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:0;
	width:100px;
	position:absolute; bottom: -35px; left:45%;


}

.pagination li {
	float:left;
	margin:0 3px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:14px;
	height:0px;
	padding-top:15px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -16px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.testiml{width:221px; float:left; background:#fff; border-top:#60aaf0 solid 1px; margin:10px 0 0 0; border:#b4d7f8 solid 2px; border-radius:10px; padding:13px 12px 13px 12px; position:relative; font-style:italic; line-height:18px;}
.testiml .dr{position:absolute; right:10px; bottom:-12px; background:url(../images/drop.png) no-repeat; width:31px; height:12px;}