/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs {
	padding:0;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
	float:left;
	width:444px;
}
.shadetabs li {
	float:left;
	margin: 0 0px 0 0;
}
.shadetabs li a {
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 8px 9px 8px 10px;
	margin:0px;
	color: #adadad;
	font-family:Arial;
	text-decoration:none;
	font-size:14px;
	float:left;
}
.shadetabs li a:hover {
	color: #20201e;
}
.shadetabs li a.selected { /*selected main tab style */
	position:relative;
	bottom:9px;
	padding-top:19px;
	background: url(../images/tbhvr.jpg) repeat-x 6px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.shadetabs li a.selected { /*selected main tab style */
	color:#20201e;
}
.shadetabs li a.selected:hover { /*selected main tab style */
}
.tabcontent {
	display:none;
}
.tber {
	width:467px;
	float:right;
	margin:20px 0 0 0;
}
.tber .lne {
	width:467px;
	float:left;
	height:1px;
	margin:0 0 16px 0;
	padding:0;
	background:#dddcdd;
}
.tber p {
	width:467px;
	float:left;
	padding:0 0 14px 0;
}
.tber p label {
	width:186px;
	float:left;
	text-align:right;
	font-size:14px;
	color:#888;
	line-height:30px;
	padding:0 12px 0 0;
	font-weight:bold;
}
.tber select {
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 268px;
}
.tber select option{
	padding-left:12px;
	font-size:14px;
	font-weight:normal;
	color:#666666;
}
.frselt {
	overflow:hidden;
	width:267px;
	float:left;
	height:35px;
	margin:0;
	background:#fff;
	border:#cccccc solid 1px;
	box-shadow: 1px 1px 3px #ccc;
	border-radius:4px;
	background: url(../images/arrow.jpg) no-repeat scroll 247px 15px #fff;
}
.multi {
	background:#faeaa3;
	border:#efc14d solid 1px;
	border-radius:4px;
	color:#d68300;
	font-size:12px;
	float:right;
	padding:7px 10px 5px 10px;
}
.tber span.datepick{
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #DDDDDD inset;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 2px 5px;
    width: 190px;
	background:url(../images/~datepick.png) no-repeat right center #FFFFFF;	
	float:left;
	display:block;
}
.tber span.datepick input[type="text"] {
	width:155px;
	float:left;
	background:#fff;
	border:none;
	font-size:14px;
	font-weight:bold;
	color:#9f9f9f;
	line-height:28px;
	height:28px;
	margin:3px 0px 0px 0px;
}
.tber span.datepick a{
	width:30px;
	height:30px;
	display:block;
	text-decoration:none;
	float:right;
	margin-top:2px;
	border-left:solid 1px #CCCCCC;
	background:url(../images/datepick.png) no-repeat 0 0;	
}
.tber span.datepick a:hover{
	background:url(../images/datepick.png) no-repeat 0 -30px;	
}
.tber .mkebtn {
	float:right;
	width:271px;
	height:52px;
}
.tber .mkebtn a {
	float:right;
	background:url(../images/makebtn.png) no-repeat left top;
	width:271px;
	height:52px;
	text-indent:-9999px;
}
.tber .mkebtn a:hover {
	background-position: 0 -52px;
}
.shadetabsl {
	padding:0;
	float:right;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.shadetabsl li {
	float:left;
	margin: 0 0px 0 0;
}
.shadetabsl li a {
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding:7px 50px 8px 50px;
	color: #999d9f;
	margin:0;
	font-family:Arial;
	text-decoration:none;
	font-size:14px;
	background:url(../images/tabl.gif) repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	border:solid 1px #e0e0e0;
	font-weight:bold;
}
.shadetabsl li.outstaion a{
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.shadetabsl li.local a{
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
.shadetabsl li a:hover {
	background:url(../images/tabh.gif) repeat-x;
	border:solid 1px #cccccc;
}

.shadetabsl li a.selected { /*selected main tab style */
	background:url(../images/tabh.gif) repeat-x;
	color:#373737;
	border:solid 1px #cccccc;
}
.righttb {
	width:442px;
	background:#fff;
	float:left;
	border:1px solid #ccc;
	border-radius:4px;
	margin:15px 0 0 0;
	text-align:center;
	padding:4px 0 5px 0;
}
.uldiva {
	width:444px;
	float:left;
	margin:3px 0 0 0;
	height:34px;
	background:url(../images/tb.jpg) no-repeat;
}
.shadetabsabout {
	padding:0;
	margin:0;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.shadetabsabout li {
	display:block;
	margin:0;
}
.shadetabsabout li a {
	margin:0;
	padding:10px 0 10px 30px;
	display:block;
	border-bottom:solid 1px #d9d8d8;
	text-decoration:none;
	font-size:15px;
	color:#a2a2a2;
}
.shadetabsabout li a:hover {
	color:#333;
}
.shadetabsabout li a.selected {
	color:#333;
	font-size:16px;
	display:block;
	background:#fff;
	border-top:solid 1px #e5e5e5;
	box-shadow: 1px 2px 3px #f0f0f0;
}
.shadetabsabout li a.selected {
	position:relative;
	left:-1px;
}
 @media print {
.tabcontent {
	display:block !important;
}
}
