div, span
h1, h2, h3, h4, h5, h6, p,
a, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  /*display: block;*/
}
html,body{min-height:100%;margin:0;padding:0;height:auto;}
body {
  line-height: 1;
}
/*header*/
#header {
width: 100%;
float: left;
background: url(../cms_images/topbg.gif) repeat-x;
height: 90px;
position: relative;
z-index: 9;
}
#footer{background-color: black;color: white;font-size: 100%;text-align: center;line-height: 3em;}
.logo {
float: left;
padding: 0px 10px 0 0;
margin-left:100px;
}
.corbrand {
float: left;
width: 220px;
background-image: url(../cms_images/COR-Logo.png);
background-repeat: no-repeat;
height: 74px;
background-position: left 0px;
margin-top: 12px;
display: block;
}
table td,th{ border: 1px solid #000000; padding: 10px; text-align: left; vertical-align: middle; }
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
 /* background: #0ca3d2;*/
  background:#FFFFFF;
}

.container {
  /*margin: 80px auto;*/
  margin: 0px auto;
 /* width: 640px;*/
 width:690px;
 /*padding-bottom:200px;*/
 min-height:100%;
 height:auto;
 padding:40px 0px;
}

.login {
  /*position: relative;*/
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  background:white/9;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
 /* box-shadow:0 0 200px rgba(158, 158, 158, 0.5), 0 1px 2px rgba(126, 0, 0, 0.3);*/	
 border: 7px solid #CCCCCC;
}
/*.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background:#CCCCCC;
  border-radius: 4px;
}*/
.login h1  {
    background: none repeat scroll 0 0 #000000;
    border-bottom: 1px solid #CFCFCF;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
    color: #FFD227;
    font-size: 27px;
    font-weight: bold;
    line-height: 40px;
    margin: -20px -20px 21px;
    padding: 10px;
    text-align: center;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  /*border-color: #b4ccce #b3c0c8 #9eb9c2;*/
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.a_error,.a_error1{width: 350px;margin: 0px auto;text-align: center;background: rgb(214, 150, 150);border: 1px solid #000;margin-top: 20px;}
.title_color{color:red;}
form label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color:red;
}
.bordernone td{border:none;}
.bordernone td p a{text-decoration:none;color:grey;}
.back{ background: url(../cms_images/back1.png) no-repeat;height: 32px;width: 80px; /*margin-top: 20px;*/ margin-top:5px;}
.edit{background: url(../cms_images/edit.png);    width: 24px;height: 24px; position:absolute;}
.show{background: url(../cms_images/show.png);    width: 24px;height: 24px; position:absolute;}
.delete{background: url(../cms_images/delete.png) no-repeat;    width: 24px;height: 24px; position:absolute;}
.active{background: url(../cms_images/active.png) no-repeat;    width: 24px;height: 24px; position:absolute;}
.inactive{background: url(../cms_images/inactive.png) no-repeat;    width: 24px;height: 24px; position:absolute;}
.mtop{top:50px!important;}
textarea{resize:none;}
img{  border-style: none;}
a img {border:none;}
table tr .th2 {
    text-align:center!important;
}