.map-info {
line-height: 1.35;
overflow: hidden;
white-space: nowrap;
}
.r-5 {
padding:5px
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.r-2 {
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.size-16 {
font-size: 16px;
padding-bottom:10px;
}
.map-info a {
padding-left: 2px;
display: inline-block;
}
a:hover {
text-decoration: underline;
}
.map-info {
line-height: 1.35;
overflow: hidden;
white-space: nowrap;
}
a {
background-color: transparent;
color: #428bca;
outline: 0;
text-decoration: none;
}