#trip{
width:960px;
height:auto;
margin:0 auto;
color:#666;
font-size:12px;
font-family:arial;
border:1px solid #ededed;
line-height:20px;
padding-bottom:1%;
}
.clr{
clear:both;
}
.trip_top{
border-bottom:1px solid #ededed;
width:96%;
line-height:30px;
height:30px;
padding:0 2%;
}
.f_l{
float:left;
}
.f_r{
float:right;
}
a.Cbooking{
text-decoration:none;
color:#cca289;
}
.w96{
width:96%;
}
.ptb_lr_1_2{
padding:1% 2%;
}
.w68{
width:68%;
}
.w30{
width:30%;
}
.mr2{
margin-right:2%;
}
.nameI{
color:#df4627;
font-style:italic;
font-weight:bold;
}
#trip p{
margin:0px;
padding:5px 0;
}
.bh4{
background:#e97e68;
height:4px;
width:100%;
margin:10px 0;
}
.redT{
color:#da3916;
font-weight:bold;
padding-bottom:5px;
}
.fs20{
font-size:20px;
font-weight:bold;
color:#3c3c3b;
}
ul.trip_arrow{
margin:0px 0 0 19px;
padding:0px;
list-style:none;
list-style-image:url("libg-r.jpg");
}
.mb25{
margin-bottom:25px;
}
.add2{
background:url("add2.jpg") no-repeat;
width:268px;
height:61px;
}
.relative{
position:relative;
}
.tripF, 
.tripT{
position:absolute;
}
.tripF{
bottom:9.5px;
}
.tripT{
bottom:1px;
}
.tripF{
right:148px;
}
.tripT{
right:68px;
}