@font-face {
    font-family: 'HelveticaLTStd';
   /* src: url('../fonts/rock.eot');
    src: url('../fonts/rock.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rock.woff') format('woff'),
         url('../fonts/rock.ttf') format('truetype'),
         url('../fonts/rock.svg#rock') format('svg');
    font-weight: normal;
    font-style: normal;*/

	src: url('../fonts/HelveticaLTStd-Bold.eot');
    src: url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaLTStd-Bold.woff') format('woff'),
         url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaLTStd-Bold.svg#rock') format('svg');
    font-weight: normal;
}

body{ margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif;background-color:#f1f1f2}
.clearfix { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#main-container { width:1130px; margin:auto; padding:0; background-color:#fff;}
#main-container .inner-container { width:100%; background-color:#FFF; margin:auto; padding:0; margin-bottom:-7px;}
.myles-logo { padding:21px 0 15px 30px;z-index:100;float:left;}
#main-container .banner 
{ width:988px; height:459px; margin:auto; padding:0; background-image:url(../images/Banner-Background.png);
	min-height:459px;
	padding:0px;float:left;border:none;left:15px;background-repeat:no-repeat;z-index:19;}

.car-container { width:1130px; float:left;background-color:#FFF; padding:0;margin:0px 0px 0px 0px}
.car-heading { background-image:url(../images/heading-header-2.gif); height:66px; width:1130px; margin:0px;float:left;cursor: pointer;}
.car-heading .text { font-size:20px; color:#FFF; padding:20px 0px 0px 19px; width:400px; float:left;}
.car-heading span { font-size:12px;}
.car-heading .know-more{float:right; font-size:20px; color:#FFF; margin:20px 0px 0 0;padding-right:30px;text-decoration:none;}
.show-car {width:1130px; padding:0;float:left;margin:0px 0px 20px 0px; background-color:#e7e7e8}
.show-car .car-img { padding:70px 0 0 21px; width:238px; height:131px;float:left;}
.avin
{
	font-weight:bold; font-size:14px; color:#414042; width:100%; float:left;margin:10px 0 4px 0;
}
.linkbar
{
	font-size:10px; color:#db4626; float:left; margin:0px; padding:0px;
	width:500px;
}
.linkbar a{
	text-decoration:none;
	color:#222;
	margin:4px 12px 2px 12px;
	padding-bottom:1px;
	display:block;
	float:left;
}
.linkbar a.first{
    margin:4px 12px 0px 0;
}
.linkbar a.selected{
    font-weight: bold;
    color:#db4626 !important;
}
.spanner
{
	float:left;
	display:block;margin-top:3px;color:#414042 !important;
}
#carbrandname
{
	color:#df4627; font-size:13px; font-weight:normal; float: left;min-width: 100px;
}
#carbrandline
{
	font-size:10px; color:#414042;float:left;
}
#carbrandcost
{
    color: #414042;
    float: left;
    font-size: 19px;
    margin-left: 5px;
    margin-top: 4px;
    width: 98%;
}
.holdall
{
	float:left; margin:25px 0 0 10px;
	width:400px;
}
.holdallbottom
{
	float:left; width:850px; margin: 5px 0 0 10px;
}
.holdallbottom ul{margin: 5px 0px 10px 0px;padding: 0;border-radius: 2px;display: block;float: left;}
.holdallbottom ul li{list-style-type: none; display: block; float: left;}
.holdallbottom ul a{border: solid 1px #dc4526; color: #c6c6c6; text-decoration: none;padding: 3px 10px;background-color: #fff;font-size: 11px;font-weight:bold;}
.holdallbottom ul a.selected{background-color: #dc4526;color: #000;}
.holdallform
{
	float:left; width:230px; margin: 15px 0 0 15px;border:solid 1px #b5b5b6;background-color: #fff;padding: 10px;
}
.holddata{
    float:left; width:750px;
}
.smdetails
{
	font-size: 10px; font-weight: bold; margin: 5px 0 0 0;width:60px;float: left;clear: both;cursor: pointer;
}

.bkn
{
	float:left;margin:15px 0 5px;
}


#detailsFormMyles
{
	float: left;
	position: absolute;
	z-index: 1000 !important;
	display: none;
	background-color: #fff;
	padding: 15px;
	color:#a09f8e;
	width:400px;
	border:solid 10px #000;
}
.pp1 {
    color: #DF4627;
    float: left;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.pp2
{
	float:left;width:100%;font-size:13px;font-weight:normal;line-height:25px;margin-top:0px !important;color:#231f20;
}
.prow
{
	float:left;width:100%;font-size:14px;font-weight:normal;margin:5px 0px 0px 0px;
}
.prow .txtbox
{
	width:215px;border:solid 2px #d1d1d0;padding:5px;color:#acacac;border-radius:3px;height: 20px;
}
.btnsumyles
{
	display:block;
	float:right;
	border:none;
}
.prow .tarea
{
	width:215px;border:solid 2px #d1d1d0;padding:5px;color:#acacac;border-radius:3px;height:70px;font-family:Arial;font-size:12px;
}
.callnow
{
	color: #E04727;
    display: inline;
    font-family: Arial;
    font-size: 22px;
    padding: 0 4px;
	float:left;
}
.headliners
{	color: #666;
    font-size: 18px;
    font-weight: bold;
}
.carrate
{
	color: #666;
    font-size: 22px;
    font-weight: bold;
}
.pophold
{
	float:left;
}
.pophold ul
{
	list-style-type:disc;
	float:left;
	margin-left:10px;
	padding:0px;
	width:260px;
}
.pophold ul li
{
	list-style-type:disc;
	float:left;
	margin-left:10px;
	width:250px;
}
.abs{
    position: absolute;
    top: -10px;
    left: -10px;
}
.car-heading-thin { background-image:url(../images/heading-header-2thin.gif); height:40px; width:1130px; margin:0px;float:left;cursor: pointer;}
.car-heading-thin .text { font-size:17px; color:#FFF; padding:10px 0px 0px 19px; width:400px; float:left;}
.car-heading-thin span { font-size:12px;}
.car-heading-thin .know-more{float:right; font-size:17px; color:#FFF; margin:10px 0px 0 0;padding-right:30px;text-decoration:none;}