.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

@media (max-width: 1200px) {...}
a { outline: none;}
button { outline: none;}
*:focus{ outline:none;}
body{  padding:0; font-family:Arial, Helvetica, sans-serif;}
#maincontainer{ margin:0; padding:0; width:100%;}
header{ background:url(../img/header-bg.gif); background-repeat:repeat-x; width:100%; height:90px;}
#header-inside{margin: 0 auto; width:100%; height:87px;}
#header-right{ width:71%; float:left; background-color:#ededed;}
#header-right a { padding:.2em 0 0 1em; font-size:18px; color:#C5C5C5; text-decoration:none;}
#header-right a.active { color:#494949; font-size:22px; font-weight:normal;}
#header-right a.deactive{ color:#C5C5C5; font-size:18px; font-weight:normal;} 
#header-right a.deactive:hover{ color:#494949;}
#Cor-logo{ width:20%; height:6em; float:left; margin: 1% 1% 0 8%;}
.logo{margin-top:20px;}
a.header-logindiv{ font-size:1em !important; padding-left:2em !important;padding-right:0 !important;}
a.logintxt{padding-left:1.5em !important;}
.container-menu{ width:100%;}
.corprate-login{float:left; margin:13px 0 0 20px; letter-spacing:0.1em; font-size:11px;}
.corprate-login a { color:#7F8487 !important; font-size:11px !important; font-weight:normal; padding:0 0 !important;}
.corprate-login a:hover{ color:#000000 !important;}
.allcitys{float:left; margin:12px 0 0 36px; max-width:98%; min-width:58%;}
.citys{font-size:13px; color:#A8A8A8; padding:7px; font-weight:normal;}
.allcitys a:hover{ color:#DBDBDB; text-decoration:none;}
.callus{font-size:12px; color:#FFFFFF; float:right; padding-right:70px;}
.callus strong{color: #F1C800; font-size: 22px;}
.banner { background-color: #F2F2F2 !important; background:url(../img/bannerbg.gif) repeat-x 0 0 scroll ; border-bottom: 1px solid #D2D0D1; width: 100%; min-height:353px;}
.package-text{font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:11px; text-align:justify; padding:20px 0 0 44px;}
.package-text h4{ font-size:18px; font-weight:normal;}
.cites-footer{padding:22px 0 0 106px; width:48%;}
.cites-footer li{ font-size:11px; color:#666666; padding:10px 0 0 0; line-height:11px;}
.cites-footer li a { font-size:11px; color:#666666; font-weight:normal; text-decoration:none;}
.cites-footer h4{ color:#666666; font-family:Arial, Helvetica, sans-serif; padding:0px 0 0 7px; font-weight:normal; font-size:18px;}
.main-footer{width:100%; background-color:#F7F7F7; float:left; border-top:1px solid #EDECED;}
.main-footer-inner{background-color:#F7F7F7; width:1170px; margin:0 auto;}
.main-footer-text{margin:5px 0 0 14%; float:left;}
.main-footer-text ul { margin:0;}
.main-footer-text ul li{ list-style:none; display: block; line-height: 20px; margin: 0; padding: 0; font-size:12px;}
.main-footer-text h5{ font-size: 14px; color:#666666; line-height:10px; text-align:left;}
.my-spanfooter{width:10%!important;}
.copy-right{font-size:11px;margin:12px 0 15px 2%;float:left;}