body {
font-family:arial;
}
.clear{clear: both;}
header.bgAngle{background-color: #edeef3;padding: 50px 10px 0px 10px; -webkit-print-color-adjust: exact; }
header.bgAngle .boxAngle{background-color: #4f5052;color: #fff;padding: 10px 20px;}
header.bgAngle .firstBlock{margin-top: 40px;}
header.bgAngle .firstBlock h1.heading1, header.bgAngle .firstBlock h1.heading2{font-size: 14px;padding-top: 0px;margin-top: 0px;}
header.bgAngle .secondBlock{margin-top: 40px;}
header.bgAngle .secondBlock h2.secondHeading{font-size: 12px;font-weight: 600;padding-top: 15px;}
header.bgAngle .boxAngle p.text1{color: #fff;font-size: 14.4pt;margin-top: 0px;}
header.bgAngle .boxAngle p.text2{color: #fff;font-size: 24.4pt;font-weight: normal;text-align: right;margin-top: 15px;margin-bottom: 0px;}
header.bgAngle  p.carWise{font-size: 12pt;font-weight: normal;margin-top: 15px;margin-bottom: 0px;}

section.mainSectionStart{margin-top: 50px;margin-bottom: 50px;}
section.mainSectionStart .head1{font-size: 12pt;}
section.mainSectionStart .head2{font-size: 12pt;text-align: right;}
section.mainSectionStart tr.firstRow td{padding: 10px 5px;font-size: 9.56pt;background-color: #edeef3;}
section.mainSectionStart tr td{font-size: 11px;padding: 10px 5px; border:1px solid #333; border-bottom: 0; border-right: 0;}
section.mainSectionStart tr.lastRow td{padding: 10px 10px;font-size: 9.56pt;background-color: #edeef3;  }
section.mainSectionStart .lastBlockFirstPage{margin-top: 50px;}

section.mainSectionStart .lastBlockFirstPage{border-top: 1pt solid #262a33;background-color: #edeef3;border-bottom: 1pt solid #262a33;border-left: 1pt solid #262a33;}
section.mainSectionStart .lastBlockFirstPage tr.firstSub td{padding: 10px 10px;font-size: 7.2pt;color: #474d5b;text-transform: uppercase;}
section.mainSectionStart .lastBlockFirstPage tr.secondSub td{font-size: 24px;line-height: 1px;padding: 0px;}
section.mainSectionStart .lastBlockFirstPage tr.lastSub td{padding: 10px 10px;font-size: 9.6pt;color: #262a33;text-transform: uppercase;}
section.mainSectionStart .lastBlockFirstPage {padding: 0px;}
section.mainSectionStart .lastBlockFirstPage  .text1{color: #fff;font-size: 10.02pt;text-align: right;}
section.mainSectionStart .lastBlockFirstPage .text2{color: #fff;font-size: 18.38pt;text-align: left;margin-left: 25px;}
section.mainSectionStart .lastBoxArea{background-color: #262a33;padding: 5px 10px;}
section.mainSectionStart .lastBlockFirstPage tr td{padding: 0px;}



header.bgAngle-new{background-color: #edeef3;padding: 40px 10px; margin-top: 400px;}
.Vehicle_Number, .Car_Model{font-size: 12px;font-weight: 700;}
section.mainSectionStart tr.firstSubSecondPage td{padding: 10px 10px;font-size: 9.6pt;color: #000;text-transform: uppercase;background-color: #edeef3;}

section.mainSectionStart tr.firstRow.mg{text-transform: uppercase;font-size: 9.6pt;}
.RevenueShare{font-weight: 700;font-size: 14px!important;}
p{font-size: 12px;}
.border_td td {border:1px solid #333;}

