body{
margin:0px;
padding:0px;
font-family:arial;
font-size:12px;
}
.logo{width:22%;}
#cor_header{
width:100%;
height:auto;
}
.clr{
clear:both;
}
.menu_mid, 
.top_head,
.content{
margin:0 auto;
width:1130px;
}
.content{margin-top:20px;margin-bottom:20px;}
.top_head{
padding:10px 0;
}
.w_78{
width:78%;
}
.w_22{
width:22%;
}
.f_l{
float:left;
}
.f_r{
float:right;
}
.social_icon ul, 
.login ul, 
.menu_mid ul{
margin:0px;
padding:0px;
list-style:none;
display:inline-block;
}
.social_icon ul li, 
.login ul li{
float:left;
}
.social_icon ul li{
padding-right:5px;
}
.social_icon ul li:last-child{
padding-right:0px;
}
.login ul{
padding:10px 0 5px;
}
.login ul li a{
text-decoration:none;
color:#000;
font-weight:bold;
padding:0 5px;
border-right:1px solid #000;
}
.login ul li:first-child a{
padding-left:0px;
}
.login ul li:nth-last-of-type(2) a, 
.login ul li:last-child a{
border-right:0;
}
.login ul li:last-child a{
padding-right:0px;
background-color: #FCE359;
text-decoration: none;
background-image: linear-gradient(#FCE359, #FED231);
border: 1px solid #E5B50F;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 1px 1px rgba(255, 255, 255, 0.12) inset;
padding:4px 6px;
color:#000;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
}
.menu{
background:#000;
width:100%;
}
.w_100{
width:100%;
}
.menu_mid ul li{
float:left;
}
.menu_mid ul li a{
line-height:40px;
text-decoration:none;
color:#fff;
padding:0 25px;
font-size:16px;
border-left:1px solid #fff;
display:inline-block;
}
.menu_mid ul li a.selected{
background:#fff;
color:#000;
line-height:38px;
margin:1px 0;
}
.menu_mid ul{
width:80%;
}
.top-number {
color:#ffd227;
line-height:38px;
font-size:18px;
}
.top-number2 {
font-size:12px;
color:#fff;
}

/**** Footer ****/
#cor_footer{
width:100%;
height:auto;
background:#f8f7f7 url("../images/footer.gif") repeat-x;
}
.cor_footer{
margin:0 auto;
width:1130px;
padding:20px 0;
}
.w_25{
width:25%;
}
h1{
margin:0px;
padding:0 0 10px 0;
font-size:16px;
}
.cor_footer ul{
margin:0px;
padding:0px;
list-style:none;
}
.cor_footer ul li{
display:block;
}
.cor_footer ul li a{
text-decoration:none;
color:#666;
line-height:20px;
font-size:12px;
}
.car_name{
display:inline-block;
text-align:center;
width:100%;
margin:20px 0;
border:1px solid #E0E0E0;
padding:5px 0;
}
.car_name ul li{
display:inline-block;
text-align:center;
}
.car_name ul li a{
border-right:1px solid #ccc;
padding:0 10px;
line-height:17px;
font-size:11px;
text-transform:uppercase;
}
.car_name ul li:last-child a{
border-right:0;
}
.car_name ul li:nth-of-type(7) a{
border-right:0;
}
.copyright{
display:inline-block;
text-align:center;
width:100%;
}

/****** Content ******/
.cor_left,
.cor_right,
.full_width{
border:1px solid #e7e7e7;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-o-border-radius:8px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
}
.cor_left{
width:68%;
margin-right:2%;
}
.cor_right{
width:30%;
}
.m_color{
color:#df4627;
font-style:italic;
font-weight:bold;
}
.cor_left h1,
.cor_right h1,
.full_width h1{
padding:12px 0 12px 20px;
font-size:20px;
color:#494949;
border-bottom:1px solid #e5e5e5;
}
.border_b{border-bottom:1px solid #e5e5e5;}
.p30{padding:30px;}
.p20{padding:20px;}
.h2_b{background:#df4627;height:2px;}
.full_width ul{
list-style:none;
margin:15px 15px 15px 0;
padding:0px;
}
.full_width ul li{line-height:18px;}
.pay_online{
font-size:18px;
line-height:24px;
color:#000000;
}
.cor_left ul{
margin:10px 10px 10px 20px;
padding:0px;
list-style:none;
font-size:12px;
}
.cor_left ul li{
background:url(../images/arrow2.png) no-repeat 0 5px;
padding-left:13px;
line-height:25px;
}
.payandbook{
width:149px;
height:42px;
background:url(../images/payandbook.png) no-repeat 0px 0px;
cursor:pointer;
display:inline-block;
border:none;
outline:none;
text-indent:-99999px;
}
.payandbook:hover {
background:url(../images/payandbook.png) no-repeat 0px -42px;
}
.button_bg{
text-align:center;
}
.cor_left ul.note{
margin:5px 0px 0px 0px;
}
.cor_left ul.note li{
line-height:20px;
}
.h50{height:50px;}
.cor_right ul{
margin:0px 0px 20px 0;
padding:0px;
list-style:none;
}
.cor_right ul li{
line-height:20px;
}
.pay_amount{color:#ff6600;}
h2{
margin:0;
padding:0;
font-size:32px;
}
.bg_color{display:none;}
@media screen and (max-width:1200px) {
.logo{width:26%;}
.menu_mid, .top_head, .content, .cor_footer{width:90%;}
.w_78{width:70%;}
.w_22{width:30%;}
.menu_mid ul{width:100%;}
}
@media screen and (max-width:980px) {
.top_head .w_78,.top_head .w_22{width:50%;}
.logo {width:50%;margin-top:26px;}
.menu_mid ul li a{padding:0 30px;}
.menu_mid .w_78{width:100%;}
.menu_mid .f_l.w_22{float:right;}
.bg_color{
background:#000;
padding:0 10px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
margin-top:10px;
display:block;
}
.number_dt{display:none;}
}
@media screen and (max-width:800px) {
.cor_footer .w_25{width:50%;height:130px;}
.cor_footer ul li a{font-size:14px;}
.car_name ul li a{border:1px solid #7D7A7A;text-transform:initial;display:inline-block;margin-bottom:5px;line-height:25px;}
.car_name ul li:last-child a,.car_name ul li:nth-of-type(7) a{border:1px solid #7D7A7A;}
.car_name{text-align:left;border:none;}
.cor_left,.cor_right{width:100%;margin-right:0px;}
.cor_left{margin-bottom:20px;}
}
@media screen and (max-width:767px) {
.menu_mid ul li a{padding:0 20px;}
.logo {width:65%;}
}
@media screen and (max-width:640px) {
.top_head .w_78{width:30%;}
.top_head .w_22{width:70%;}
.logo {width:100%;margin-top:30px;}
.menu_mid ul li {float:none;}
.menu_mid ul li a{border-left:none;border-bottom:1px solid #6B6B6B;width:100%;padding:0px;text-align:center;line-height:30px;color:#CCC;}
.menu_mid ul li a.selected {background:#FCDF4F;}
}
@media screen and (max-width:360px) {
.top_head .w_22, .top_head .w_78{width:100%;}
.top_head .w_78{text-align:center;}
.logo {width:57%;margin-top:0px;margin-bottom:20px;}
.car_name ul li {display:block;width:100%;}
.car_name ul li a {width:100%;padding:0px;}
}
@media screen and (max-width:320px) {
.logo {width:70%;}
}

