h1.h1{
margin:0px 0 2% 0;
padding:0px 0 0 10px;
background:#FAF4F4;
color:#000;
line-height:35px;
font-size:15px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
width:98%;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
border:1px solid #CFCFCF;
}
ol{
margin:5px 0 0px 16px;
padding:0px;
}
ol li{
line-height:20px;
}
.term{
width:94.8%;
padding:2%;
background-color:#F5F5F5;
border:1px solid #CDCDCD;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
margin-bottom:2%;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.clr{
clear:both;
}
h1.mt20{
margin-top:20px;
}